.header {
  color: #000;
  background: var(--dashboard-header-login) !important;
  border-bottom-color: #092137BA;
  border-style: solid;
  border-width: 0 0 1px;
  height: 60px;
  display: flex;
  align-items: center;
}


.header-logout {
  position: absolute;
  right: 8px;
  top: 0;
}

.header .logo-item {
  height: 60px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-item img {
  max-height: 100%;
  width: auto;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
}

.header__menu a img {
  max-height: 100%;
  width: auto;
  object-fit: contain;
}

.header_form {
  display: none;
}

.header_form-user {
  margin-top: 5px;
  padding-right: 10px;
  vertical-align: bottom;
}

.header_form-user--logout {
  display: inline;
}

.header .dropdown-toggle::after {
  display: none !important;
}

.header .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  width: 1.5em;
  height: 1.5em;
  background-image: url('/assets/images/shared/search_side_dropdown_icon_dark.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.header_form-user--logout_icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 10px;
}

.header__menu-category svg {
  fill: white;
}

.header__menu-category {
  cursor: pointer;
  font-size: 14px;
  padding: 18px 20px 20px;
}

.header__menu-category:focus {
  color: #8c8c8c;
  text-decoration: none;
}

/* Override */

.header .dropdown-item {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  align-content: start;
}
