<div class="relative flex h-[60px] items-center border-b" [ngClass]="forceDark ? 'border-[#092137BA] bg-[#0E1626]' : (isLightTheme ? 'border-[#d5deea] bg-white text-black' : 'border-[#092137BA] bg-[var(--color-blue-840)] text-white')">
  <div class="flex h-[60px] w-full items-center justify-between pl-[10px]">
    <a aria-label="Go to Homepage" class="flex h-[60px] items-center justify-center select-none" href="/">
      <img alt="Logo" class="ml-[20px] h-[35px] w-auto object-contain max-[943px]:ml-[12px]" height="35" [ngSrc]="forceDark ? (appService.getConfig().appSettings.logo_wide_dark || 'assets/images/sidebar/search_nav_logo.png') : (isLightTheme ? (appService.getConfig().appSettings.logo_wide_light || appService.getConfig().appSettings.logo_wide_dark || 'assets/images/sidebar/search_nav_logo.png') : (appService.getConfig().appSettings.logo_wide_dark || 'assets/images/sidebar/search_nav_logo.png'))" priority width="197">
    </a>
    <div class="absolute right-[8px] top-0">
      <app-profile></app-profile>
    </div>
  </div>
</div>
