.dashboard__defacement-detail-container {
  padding: 0;
  margin: 35px;
  color: white;
}

.dashboard__defacement-detail-header-row {
  display: flex;
  justify-content: space-between;
}

.dashboard__defacement-detail-header {
  border: 1px solid #FCFCFC12;
  border-radius: 8px;
  padding: 24px;
  background: #17406959;
}

.dashboard__defacement-detail-header-url {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.dashboard__defacement-detail-header-items {
  display: grid;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.dashboard__defacement-detail-header-items strong {
  font-weight: 400;
  font-size: 14px;
  color: #D0D0D0;
}

@media only screen and (max-width: 1000px) {
  .dashboard__defacement-detail-header-row {
    display: grid;
  }

  .dashboard__defacement-detail-header-items {
    margin-bottom: 20px;
  }
}
