.report_defacement-detail-container {
  padding: 0;
  margin: 35px;
  color: white;
}

.report__defacement-detail-header-row {
  display: flex;
  justify-content: space-between;
}

.report__defacement-detail-header {
  border: 1px solid #FCFCFC12;
  border-radius: 8px;
  padding: 24px;
  background: #17406959;
}

.report__defacement-detail-header-url {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text1);
}

.report__defacement-detail-header-items {
  display: grid;
  font-weight: 500;
  max-width: 300px;
  overflow: hidden;
  font-size: 16px;
  color: var(--color-text1);
}

.report__defacement-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.report__defacement-detail-header-items strong {
  font-weight: 400;
  font-size: 14px;
  color: #D0D0D0;
}

@media only screen and (width <=1000px) {
  .report__defacement-detail-header-row {
    display: grid;
  }

  .report__defacement-detail-header-items {
    margin-bottom: 20px;
  }
}