<form class="dash-searchbar" (submit)="onSearchSubmit($event)" method="GET" action="" enctype="multipart/form-data">
  <div class="row dashboard__api-search-input-div ">
    <div class="col-md-6 col-sm-12 mb-2">
      <div class="input-group dash-searchbar-div">
        <input autocomplete="off" autocapitalize="none" type="text" placeholder="Username" class="form-control dash-searchbar__input" maxlength="150" name="q" [(ngModel)]="username">
        <input type="hidden" value="1">
        <button class="btn btn-primary dash-searchbar__input-button" type="submit">
          <img ngSrc="assets/images/shared/user1.svg" alt="Search" priority="true" height="16" width="16">
        </button>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 ">
      <div class="input-group dash-searchbar-div dash-email-div">
        <input autocomplete="off" autocapitalize="none" type="email" placeholder="Email" class="form-control dash-searchbar__input" maxlength="150" name="q" [(ngModel)]="email">
        <input type="hidden" value="1">
        <button class="btn btn-primary dash-searchbar__input-button" type="submit">
          <img ngSrc="assets/images/shared/email.svg" alt="Search" priority="true" height="16" width="16">
        </button>
      </div>
    </div>
  </div>
</form>

<div *ngIf="!loading && this.dashboardService.searchDynamicEmailCallbackbackModel.cards_data.length==0 ">
  <app-dashboard-search-no-suggestion @fadeAnimation></app-dashboard-search-no-suggestion>
</div>

<div *ngIf="!loading && !error && this.dashboardService.searchDynamicEmailCallbackbackModel.cards_data.length>0" class="dashboard__search-table-container">
  <div class="dashboard__search-table-header">Data Breach List</div>

  <table class="dashboard__search-table" *ngIf="breachData">
    <tr>
      <td>Title</td>
      <td>{{ breachData.m_title || 'N/A' }}</td>
    </tr>
    <tr>
      <td>URL</td>
      <td>
        <a *ngIf="breachData.m_url" [href]="breachData.m_url" target="_blank">
          {{ breachData.m_url }}
        </a>
        <span *ngIf="!breachData.m_url">N/A</span>
      </td>
    </tr>
    <tr>
      <td>Base URL</td>
      <td>
        <a *ngIf="breachData.m_base_url" [href]="breachData.m_base_url" target="_blank">
          {{ breachData.m_base_url }}
        </a>
        <span *ngIf="!breachData.m_base_url">N/A</span>
      </td>
    </tr>
    <tr>
      <td>Content</td>
      <td>{{ breachData.m_content || 'N/A' }}</td>
    </tr>
    <tr>
      <td>Network</td>
      <td>{{ breachData.m_network || 'N/A' }}</td>
    </tr>
    <tr>
      <td>Important Content</td>
      <td>{{ breachData.m_important_content || 'N/A' }}</td>
    </tr>
    <tr>
      <td>Content Type</td>
      <td>{{ breachData.m_content_type.length ? breachData.m_content_type.join(', ') : 'N/A' }}</td>
    </tr>
    <tr>
      <td>Web Links</td>
      <td>{{ breachData.m_weblink.length ? breachData.m_weblink.join(', ') : 'N/A' }}</td>
    </tr>
    <tr>
      <td>Dump Links</td>
      <td>{{ breachData.m_dumplink.length ? breachData.m_dumplink.join(', ') : 'N/A' }}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{ breachData.m_name || 'N/A' }}</td>
    </tr>
    <tr>
      <td>Email Address</td>
      <td>{{ breachData.m_email_addresses.length ? breachData.m_email_addresses.join(', ') : 'N/A' }}</td>
    </tr>
  </table>

</div>

<div class="d-flex search__results-main">
  <div class="search__results row">
    <div *ngFor="let item of dashboardService.searchLeakCallbackModel.Result" class="search-result__content-webpages-container position-relative">
      {{ item.m_base_url }}
    </div>
  </div>
</div>
