.search-content__filters-div {
  display: flex;
  justify-content: end;
  align-items: center;
}

.default-input-button {
  background: #fff;
}

.default-input-button:hover {
  background: #fff !important;
}

.dash-search-button {
  padding: 13px 97px;
  background: linear-gradient(92.32deg, #4EA2F1 2.58%, #2C7AC5 66.77%, #1E6CB7 130.97%);
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  font-family: 'Roboto', sans-serif !important;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.dash-search-button:hover {
  background: linear-gradient(92.32deg, #2173C0 2.58%, #1D5A9A 66.77%, #174E8A 130.97%);
}

.dashboard__search-table-container {
  margin: 24px 32px;
  overflow: hidden;
  color: white;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  background: rgba(41, 87, 132, 255);
  border: 1px solid #ffffff15;
}

.dashboard__search-table {
  width: 100%;
}

.dashboard__search-table-header {
  background: #174069;
  padding: 13px 24px;
  font-size: 12px;
  color: #D0D0D0;
  font-weight: 500;
}

.dashboard__search-table table {
  border-collapse: collapse;
}

.dashboard__search-table td {
  padding: 12px 24px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
}

.dashboard__search-table tr:last-child td {
  border-bottom: none;
}

.dashboard__search-table tr:nth-child(odd) td {
  background: #2A5784;
}

.dashboard__search-table tr:nth-child(even) td {
  background: #1f406150;
}

.input-container {
  padding-right: 0;
}

@media only screen and (max-width: 768px) {
  .dashboard__api-search-input-div {
    flex-direction: column;
    align-items: center;
  }

  .col-md-6, .col-sm-12 {
    max-width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .search-content__filters-div {
    justify-content: start !important;
    margin-top: 10px;
  }
}
