<div class="company-profile_section">
  <div class="company-profile_section-header" (click)="toggleSection('profile')">
    <span class="company-profile_section-title">
      {{ isAdmin() ? 'Admin Profile' : 'Company Profile' }}
    </span>

    <img src="../../../../../assets/images/shared/theme/search_side_dropdown_icon_dark.svg"
      class="company-profile_arrow-icon" [class.company-profile_arrow-icon--rotated]="isProfileOpen" />
  </div>

  <span class="company-profile_section-description">
    {{
    isAdmin() ||isAnalyst()
    ? 'Manage profile information.'
    : 'Manage and edit your company details, including phone, address, and profile information.'
    }}
  </span>

  <div *ngIf="isProfileOpen">
    <div class="company-profile_card">
      <div class="company-profile_info">
        <div class="company-profile_avatar">
          <app-profile-image-picker [userId]="userId"></app-profile-image-picker>
        </div>

        <div>
          <ng-container
            *ngIf="isAdmin() || isAnalyst(); then adminProfileBlock; else companyProfileBlock"></ng-container>

          <ng-template #adminProfileBlock>
            <div class="company-profile_company-name">
              {{ getLocationDisplay() || authService.getUsername() }}
            </div>

            <div class="company-profile_company-location">
              {{ getLocationDisplay() || authService.getLicenses() }}
            </div>
          </ng-template>

          <ng-template #companyProfileBlock>
            <div class="company-profile_company-name">
              <input type="text" [(ngModel)]="profile.companyName" class="company-profile_input" disabled
                placeholder="Enter company name" />
            </div>

            <div class="company-profile_company-location">
              {{ getLocationDisplay() || 'Location will appear here' }}
            </div>
          </ng-template>
        </div>
      </div>
      <div class="company-profile_action-buttons" *ngIf="isProfile()">
        <button class="company-profile_edit-btn" *ngIf="isEditing" (click)="cancelEdit($event)">
          Cancel
        </button>
        <button class="company-profile_edit-btn" (click)="toggleEdit($event)">
          {{ isEditing ? 'Save' : 'Edit' }}
        </button>
      </div>
    </div>

    <div class="company-profile_box" *ngIf="isProfile()">
      <div class="company-profile_box-header">Contacts</div>
      <div class="company-profile_box-content">
        <div class="company-profile_row">
          <div class="company-profile_info-item">
            <div class="company-profile_info-label">Email address</div>
            <input type="email" [(ngModel)]="profile.email" class="company-profile_info-value" disabled />
          </div>

          <div class="company-profile_info-item">
            <div class="company-profile_info-label">Phone</div>
            <input type="text" [(ngModel)]="profile.phone" class="company-profile_info-value" [disabled]="!isEditing"
              [ngClass]="{ 'company-profile_editable': isEditing }" placeholder="Enter phone" />
          </div>
        </div>
      </div>
    </div>

    <div class="company-profile_box" *ngIf="isProfile()">
      <div class="company-profile_box-header">Address</div>
      <div class="company-profile_box-content">
        <div class="company-profile_row">
          <div class="company-profile_info-item">
            <div class="company-profile_info-label">Country</div>
            <input type="text" [(ngModel)]="profile.country" class="company-profile_info-value" [disabled]="!isEditing"
              placeholder="Enter country" />
          </div>

          <div class="company-profile_info-item">
            <div class="company-profile_info-label">City/State</div>
            <input type="text" [(ngModel)]="profile.city" class="company-profile_info-value" [disabled]="!isEditing"
              placeholder="Enter city/state" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="company-profile_section">
  <div class="company-profile_section-header" (click)="toggleSection('twoFA')">
    <span class="company-profile_section-title">2 Factor Authentication</span>
    <img src="../../../../../assets/images/shared/theme/search_side_dropdown_icon_dark.svg"
      alt="search_side dropdown icon dark" class="company-profile_arrow-icon"
      [class.company-profile_arrow-icon--rotated]="is2FAOpen" />
  </div>
  <span class="company-profile_section-description">Enhance your account security by enabling or managing two-factor
    authentication settings.</span>
  <div *ngIf="is2FAOpen">
    <div class="company-profile_toggle-row">
      <div class="company-profile_toggle-label">
        {{ twoFactorEnabled ? 'Enabled' : 'Disabled' }}
      </div>
      <label class="company-profile_switch" (click)="toggleTwoFa()">
        <input type="checkbox" [(ngModel)]="twoFactorEnabled" (change)="toggleTwoFa()" />
        <span class="company-profile_slider"></span>
      </label>
    </div>
  </div>
</div>

<div class="company-profile_section">
  <div class="company-profile_section-header" (click)="toggleSection('theme')">
    <span class="company-profile_section-title">Theme</span>
    <img src="../../../../../assets/images/shared/theme/search_side_dropdown_icon_dark.svg"
      alt="search side dropdown icon dark" class="company-profile_arrow-icon"
      [class.company-profile_arrow-icon--rotated]="isThemeOpen" />
  </div>
  <span class="company-profile_section-description">Customize the look and feel of your dashboard by choosing between
    available themes.</span>
  <div *ngIf="isThemeOpen">
    <div class="company-profile_toggle-row">
      <div class="company-profile_toggle-label">Dark Mode</div>
      <label class="company-profile_switch" (click)="toggleTheme()">
        <input type="checkbox" [(ngModel)]="isDarkMode" (change)="toggleTheme()" />
        <span class="company-profile_slider"></span>
      </label>
    </div>
  </div>
</div>