<app-result (onToggleSort)="onToggleSort($event)" (reloadData)="fetchSearchResults()" (reloadFilters)="reloadFilters($event)" (resetFilter)="resetFilters($event)" (updateQuery)="onUpdateQuery($event)" [filterModel]="chat_filters" [isLoading]="isResponseLoading()" [result_count]="Math.ceil(discussionCallbackModel.result.length)" [searchQuery]="query" [showTabs]=false></app-result>

<div *ngIf="!isResponseLoading()" @fadeInDashboardItem>
  <div *ngFor="let item of discussionCallbackModel.result">
    <div class="dashboard__ranked-layout">
      <app-dashboard-result-social *ngIf="item.rank_index === 'social_model'" [isExpandAble]="false" [searchResults]="[item]"></app-dashboard-result-social>
      <app-dashboard-result-chat *ngIf="item.rank_index === 'chat_model'" [isExpandAble]="false" [searchResults]="[item]"></app-dashboard-result-chat>
    </div>
  </div>
</div>

<div *ngIf="!isResponseLoading() && currentResultCount > 0" @fadeInDashboardItem class="pagination-margin">
  <app-pagination (pageChange)="onPageChange($event)" [currentPage]="this.dashboardService.consolidatedParamModel.page" [maxPages]="Math.floor(currentResultCount)"></app-pagination>
</div>
