.json-tree {
  list-style: none;
  font-family: monospace;
  padding-left: 0;
  color: rgb(211 211 211);
}

.json-tree_node {
  position: relative;
}

.json-tree_line {
  position: relative;
  margin-bottom: 4px;
  cursor: pointer;
}

.json-tree_line::before {
  position: absolute;
  left: 0;
  color: rgb(255 255 255 / 30%);
}

.json-tree__node--last .json-tree_line::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
  border-left: 1px dotted #888;
  margin-right: 6px;
  margin-left: -9px;
  vertical-align: top;
}

.json-tree_toggle {
  display: inline-block;
  width: 14px;
  text-align: center;
  user-select: none;
  margin-right: 4px;
}

.json-tree_toggle img {
  width: 24px !important;
  height: 18px !important;
}

.json-tree_key {
  margin-left: 13px;
  cursor: pointer;
}

.json-tree_key-faded {
  opacity: 0.6;
  font-family: Inter, sans-serif;
  color: #57A5EB;
}

.json-tree_value {
  font-family: Inter, sans-serif;
  color: var(--color-text2);
  font-size: 12px;
  margin-left: 17px;
  display: flex;
  align-items: center;
}

.json-tree_value::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/assets/images/shared/arrow-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 6px;
}


.json-tree_line-leaf {
  font-weight: normal;

}

.json-tree_children {
  margin-left: 0;
}

.json-tree--depth-0 {
  margin-left: 0;
}

.json-tree--depth-1 {
  margin-left: 20px;
}

.json-tree--depth-2 {
  margin-left: 20px;
}

.json-tree--depth-3 {
  margin-left: 60px;
}

.json-tree--depth-4 {
  margin-left: 80px;
}

.json-tree--depth-5 {
  margin-left: 100px;
}

.json-tree--depth-6 {
  margin-left: 120px;
}

.json-tree--depth-7 {
  margin-left: 140px;
}

.json-tree--depth-8 {
  margin-left: 160px;
}