<li class="mt-[6px] mb-[6px] rounded-[8px] select-none overflow-hidden">
  <div
    (click)="selectSection()"
    [ngClass]="{
      'bg-[var(--color-blue-880)] text-white border border-[rgba(255,255,255,0.06)]': (selectionStore.selectedSection$ | async) === category
    }"
    [routerLink]="routePrefix"
    appTooltip="{{tooltip}}"
    class="flex w-[50px] items-center justify-center px-[14px] py-[13px] text-[14px] font-medium font-[Inter] text-[#A0B8D1] rounded-[8px] border border-transparent transition-colors duration-300 cursor-pointer hover:bg-[var(--color-blue-870)] hover:text-white"
    queryParamsHandling="merge">
    <img
      [alt]="title"
      [ngClass]="{
        'opacity-100': (selectionStore.selectedSection$ | async) === category,
        'opacity-60': (selectionStore.selectedSection$ | async) !== category
      }"
      [ngSrc]="icon"
      appTooltip="{{title}}"
      class="mr-[4px] opacity-60 mt-[2px]"
      height="20"
      width="20">
  </div>

  <ul
    [ngClass]="{
      'opacity-100 max-h-[500px] translate-y-0 mt-[15px] overflow-y-scroll pointer-events-auto': (selectionStore.selectedSection$ | async) === category,
      'transition-none': items.length < 4 && (selectionStore.selectedSection$ | async) !== category
    }"
    class="list-none ml-0 pl-0 border-l-0 opacity-0 max-h-0 -translate-y-2 transition-[opacity,max-height,transform,margin-top] duration-200 ease-out pointer-events-none">
    <ng-container *ngFor="let item of items">
      <div
        (click)="selectOption(item)"
        [ngClass]="{
          'border-l-0 text-white font-medium h-[40px]': (selectionStore.selectedOption$ | async | lower) === (item | lower)
        }"
        [routerLink]="routePrefix + '/' + item.toLowerCase()"
        class="mt-[5px] text-[rgba(255,255,255,0.44)] font-[Roboto] cursor-pointer"
        queryParamsHandling="merge">
        <div
          [ngClass]="{
            'bg-[var(--color-blue-880)]': (selectionStore.selectedOption$ | async | lower) === (item | lower)
          }"
          appTooltip="{{itemTooltips[item]}}"
          class="w-[30px] h-[30px] ml-[5px] p-[20px] rounded-[6px] font-[Inter] hover:bg-[var(--color-blue-880)]">
          <img
            [alt]="item"
            class="w-[17px] h-[17px] mt-[-61px] ml-[-7px]"
            height="20"
            ngSrc="assets/images/sidebar/sub_{{item.toLowerCase()}}.svg"
            width="20">
        </div>
      </div>
    </ng-container>
  </ul>
</li>
