.list-container {
  margin-left: 30px;
  margin-right: 30px;
}

.list-container .table {
  border: 1px solid #FCFCFC12;
  border-radius: 12px;
  width: 100%;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
}

.list-container .table td,
.list-container .table th {
  border: 1px solid #FCFCFC12;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.list-container table tr:last-child td {
  border-bottom: none !important;
}

.list-container thead tr:first-child th {
  border-top: none !important;
}

.list__container-result .toggle-btn img {
  width: 40px;
  height: 40px;
}

.list__container-more {
  padding-top: 20px;
}
