.graph-listing-doc-id {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 4px;
  min-width: 185px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.graph-listing-doc-title {
  font-size: 12px;
  font-weight: 500;
  opacity: 1;
  margin-top: -10px;
}

.graph-listing-doc-cluster {
  font-size: 12px;
  font-weight: 500;
  opacity: 1;
  margin-top: 0;
}

.graph-listing-doc-line {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

/* Override */

.graph-listing-container .divider {
  height: 1px;
  background-color: rgb(255 255 255 / 10%);
  margin: 12px 0;
}

.graph-listing-container .left {
  display: flex;
  flex-direction: column;
}
