<ng-container *ngIf="showResults">
    <div class="graph-filters__details graph-pointer cursor-pointer user-select-none" (click)="toggleCollapse()"
        (click)="hideMenu()">
        <div class="graph-filters__details-header d-flex justify-content-between align-items-center">
            <span>Listings</span> <img src="/assets/images/shared/search_side_dropdown_icon.svg" class="chevron"
                [class.rotate]="collapseToggle" alt="" />
        </div>
        <div id="detailsCollapse" (click)="$event.stopPropagation()" class="collapse" [class.show]="collapseToggle">
            <br>
            <div class="row filter__input_date-container">
                <div class="col-12">
                    <div class="d-flex align-items-center">
                        <input
                            class="filter__input filter__input_date text-start justify-content-between align-items-center"
                            placeholder="Search..." [(ngModel)]="searchText" />
                        <button class="btn date_picker_button_bg ms-2 filter__input_date-button" type="button"
                            (click)="onSearchClick()" style="height: 40px;">
                            <img src="assets/images/shared/magnifyingglasswhite.svg" alt="Calendar"
                                class="date_picker_button_image" />
                        </button>
                    </div>
                </div>
            </div>
            <br>

            <ng-container *ngFor="let doc of onSearchClick(); let last = last">

                <div class="doc-item">
                    <div class="left" #myBtn (click)="openMenu(doc.edge._id,myBtn)">
                        <div class="doc-id-line">
                            <span class="doc-id">{{ shortenId(extractId(doc.edge._id),21) }}</span>
                            <img src="/assets/images/shared/list.svg" alt="icon" class="doc-icon" />
                        </div>
                        <div class="doc-title">{{ formatProperty(shortenId(extractproperty(doc.edge._id),30))}}
                        </div>
                        <div class="doc-cluster">Type: {{ checkCluster(doc.edge._id) }}</div>
                    </div>
                </div>
                <div class="divider" *ngIf="!last"></div>
            </ng-container>

            <div id="contextMenu" class="context-menu">
                <button class="dropdown-item button-content" (click)="openCTI()">
                    <img src="assets/images/shared/share-black.svg" width="15" height="15" style="margin-right: 8px;"
                        class="share-wrapper" alt="">
                    Open CTI
                </button>
                <hr class="dropdown-divider mx-3">
                <button class="dropdown-item button-content" (click)="copyNodeLabel($event)">
                    <img src="assets/images/shared/label.svg" width="15" height="15" style="margin-right: 8px;"
                        class="share-wrapper" alt="">
                    Copy Label
                </button>
                <hr class="dropdown-divider mx-3">
                <button class="dropdown-item button-content" (click)="viewReport()">
                    <img src="assets/images/shared/redirect-black.svg" width="15" height="15" style="margin-right: 8px;"
                        class="share-wrapper" alt="">
                    Open Report
                </button>

            </div>
            <span *ngIf="copied" class="floating-copied "
                [style]="{ top: copiedY + 'px', left: copiedX + 'px' }">Copied!</span>
        </div>
    </div>
</ng-container>
<div id="contextMenu" class="context-menu">
    <button class="dropdown-item button-content" (click)="openCTI()">
        <img src="assets/images/shared/share-black.svg" width="15" height="15" style="margin-right: 8px;"
            class="share-wrapper" alt="">
        Open CTI
    </button>
    <hr class="dropdown-divider mx-3">
    <button class="dropdown-item button-content" (click)="copyNodeLabel($event)">
        <img src="assets/images/shared/label.svg" width="15" height="15" style="margin-right: 8px;"
            class="share-wrapper" alt="">
        Copy Label
    </button>
    <hr class="dropdown-divider mx-3">
    <button class="dropdown-item button-content" (click)="viewReport()">
        <img src="assets/images/shared/redirect-black.svg" width="15" height="15" style="margin-right: 8px;"
            class="share-wrapper" alt="">
        Open Report
    </button>

</div>
<span *ngIf="copied" class="floating-copied " [style]="{ top: copiedY + 'px', left: copiedX + 'px' }">Copied!</span>