.doc-id {
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 4px;
    min-width: 185px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.doc-title {
    font-size: 12px;
    font-weight: 500;
    opacity: 1;
    margin-top: -10px;
}

.doc-cluster {
    font-size: 12px;
    font-weight: 500;
    opacity: 1;
    margin-top: 0px;
}

.divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 12px 0;
}

.doc-id-line {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.left {
    display: flex;
    flex-direction: column;
}

.doc-icon {
    width: 18px;
    height: 18px;
    margin-left: 15px;
}
