<ng-container *ngIf="showResults">
  <br>
  <div (click)="toggleCollapse()" class="graph-filters__details graph-pointer cursor-pointer user-select-none">
    <div class="graph-filters__details-header d-flex justify-content-between align-items-center">
      <span>Listings</span>
      <img [class.rotate]="collapseToggle" alt="" class="chevron"
           src="/assets/images/shared/search_side_dropdown_icon.svg"/>
    </div>
    <div (click)="$event.stopPropagation()" [class.show]="collapseToggle" class="collapse" id="detailsCollapse">
      <br>
      <div class="row filter__input_date-container">
        <div class="col-12">
          <div class="d-flex align-items-center">
            <input [(ngModel)]="searchText"
                   class="filter__input filter__input_date text-start justify-content-between align-items-center" placeholder="Search..."/>
            <button (click)="onSearchClick()" class="btn date_picker_button_bg ms-2 filter__input_date-button"
                    type="button">
              <img alt="Search" class="date_picker_button_image" src="assets/images/shared/magnifyingglasswhite.svg"/>
            </button>
          </div>
        </div>
      </div>
      <br>

      <ng-container *ngIf="onSearchClick().length > 0; else noResults">
        <ng-container *ngFor="let doc of onSearchClick(); let last = last">
          <div class="doc-item">
            <div #myBtn (click)="viewReport(doc.m_document_id, doc.path)" class="left">
              <div class="doc-id-line">
                <span class="doc-id">{{ doc.m_document_id }}</span>
              </div>
              <div class="doc-title">
                {{ formatPropertyName(doc.property) }}
              </div>
              <div class="doc-cluster">
                Value: {{ doc.value }}
              </div>
            </div>
          </div>
          <div *ngIf="!last" class="divider"></div>
        </ng-container>
      </ng-container>

      <ng-template #noResults>
        <div class="text-muted opacity-70">No results found.</div>
      </ng-template>
      <span *ngIf="copied" [style]="{ top: copiedY + 'px', left: copiedX + 'px' }"
            class="floating-copied">Copied!</span>
    </div>
  </div>
</ng-container>
