@import 'assets/libs/bootstrap.min.css';
@import 'assets/styles/shared.css';
@import 'app/pages/error-handler/error-handler.component.css';
@import 'app/pages/homepage/homepage.component.css';
@import 'app/shared/partials/footer/footer.component.css';
@import 'app/shared/partials/header/header.component.css';
@import 'app/shared/partials/header/header.component.css';
@import 'app/shared/partials/home/home-insight/home-insight.component.css';
@import 'app/shared/partials/home/home-search/home-search.component.css';
@import 'app/shared/partials/loader/loader.component.css';
@import 'app/shared/partials/login/login-container/login-container.component.css';
@import 'app/shared/partials/directory/directory-list/directory-list.component.css';
@import 'app/shared/partials/filters/filters.component.css';
@import 'app/pages/directory/directory.component.css';
@import 'app/shared/partials/profile/profile.component.css';
@import 'app/shared/partials/intel-results/dashboard-search-no-suggestion/dashboard-search-no-suggestion.component.css';
@import 'app/shared/partials/intel-results/dashboard-header/dashboard-header.component.css';
@import 'app/shared/partials/intel-results/dashboard-sidebar/dashboard-sidebar.component.css';
@import 'app/shared/partials/intel-results/dashboard-pagination/dashboard-pagination.component.css';
@import 'app/shared/partials/intel-results/intel-panel/dashboard-results/shared/dashboard-result-grid.component.css';
@import 'app/pages/dashboard/dashboard.component.css';
@import 'app/shared/partials/suggestion/suggestion.component.css';
@import 'app/shared/partials/loading-form/loading-form.component.css';
@import 'app/shared/partials/intel-results/intel-panel/dashboard-results/shared/dashboard-result.component.css';
@import 'app/shared/partials/intel-results/intel-panel/dashboard-results/shared/result-section/result-section.component.css';
@import 'app/shared/partials/intel-results/intel-panel/dashboard-results/shared/result-list/result-list.component.css';
@import 'app/shared/partials/intel-results/dashboard-no-result/dashboard-no-result.component.css';
@import 'app/shared/partials/intel-results/dashboard-insights/dashboard-data-insight/dashboard-data-insight.component.css';
@import 'app/shared/partials/intel-results/dashboard-insights/dashboard-insights.component.css';
@import 'app/shared/partials/intel-results/dashboard-insights/dashboard-general-insights/dashboard-general-insights.component.css';
@import 'app/shared/partials/intel-results/dashboard-expanded-result/dashboard-expanded-result.css';
@import 'app/shared/partials/intel-results/intel-panel/dashboard-api/dashboard-email-api/dashboard-email-api.component.css';

html {
  background: rgba(41, 87, 132, 255) !important;
  scrollbar-width: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(
    to bottom,
    rgba(18, 52, 84, 255),
    rgba(41, 87, 132, 255),
    rgba(41, 87, 132, 255)
  ) !important;
  height: 100vh;
  min-height: 100vh;
  scrollbar-width: none;
}

html, body, * {
  font-family: 'Roboto', sans-serif !important;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
       url('/assets/fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
       url('/assets/fonts/Roboto/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
       url('/assets/fonts/Roboto/Roboto-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
       url('/assets/fonts/Roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

.gc-clear-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  text-decoration: none !important;
  text-underline: none;
  color: white;
}

.clear-paddings {
  margin: 0 !important;
  padding: 0 !important;
}

.app-background {
  position: absolute;
  right: 0;
  top:0;
  opacity: 0.07;
  object-fit: contain;
  object-position:top right;
  pointer-events: none;
}
