<div class="view-tenant-container">
  <div class="default-notification-banner default-notification-banner-stealer">
    <span>
      <img alt="Info Icon" class="default-notification-banner-icon" src="assets/images/shared/hint.svg" />
      <span>Manage Tenant Users: Username, Email, Role, Status, and Actions.</span>
    </span>
  </div>

  <div class="user-management-container">
    <div class="user-management-heading">User Management</div>

    <div class="user-management-table-wrapper">
      <table class="user-management-table">
        <thead>
          <tr>
            <th class="user-management-col-10">Sr</th>
            <th class="user-management-col-30">User Name</th>
            <th class="user-management-col-40">Email</th>
            <th class="user-management-col-20">Role</th>
            <th class="user-management-col-30">Status</th>
            <th class="user-management-col-20">Subscription</th>
            <th class="user-management-col-20">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td class="user-management-col-10">{{ i + 1 }}</td>
            <td class="user-management-col-30">{{ user.username }}</td>
            <td class="user-management-col-40">{{ user.email }}</td>
            <td class="user-management-col-20">
              <div>{{ getRoleLabel(user.role) }}</div>
            </td>
            <td class="user-management-col-30">
              <div class="view-tenant_dropdown-wrapper error">
                <select [(ngModel)]="user.status" [ngModelOptions]="{standalone: true}"
                  class="view-tenant_custom-dropdown"
                  [disabled]="isLoading || !user.email || user.status === 'verification_pending'">
                  <option value="verification_pending" disabled>Verification Pending</option>
                  <option value="onboarding" disabled>Onboarding</option>
                  <option value="active">Active</option>
                  <option value="disable">Disable</option>
                </select>
              </div>
            </td>
            <td class="user-management-col-20">
              <div class="view-tenant_dropdown-wrapper error">
                <select [(ngModel)]="user.subscription" [ngModelOptions]="{standalone: true}"
                  class="view-tenant_custom-dropdown">
                  <option [ngValue]="true">Paid</option>
                  <option [ngValue]="false">Free</option>
                </select>
              </div>
            </td>
            <td class="user-management-col-20">
              <div class="action-menu">
                <img src="/assets/images/shared/tenant-management-action-icon.svg" alt="menu" class="action-icon"
                  (click)="toggleMenu(user)" />

                <div class="action-dropdown" *ngIf="selectedUserId === user.username">
                  <div class="dropdown-item" (click)="updateUser(user)">Update</div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>