.view-tenant-container {
  padding: 20px;
  border-radius: 12px;
}

.view-tenant-container .label-text-dropdown{
  font-size: 14px;
  font-weight: normal;
  padding: 8px 13px 8px 15px;
  border: none;
  border-radius: 25px;
  background-color: #D4D4D40D;
}

.user-management-container {
  background-color: var(--color-blue-890);
  border: 1px solid #ffffff07;
  border-radius: 12px;
  padding: 15px 25px 25px;
}

.user-management-heading {
  font-size: 20px;
  font-weight: 500;
  color: #57A5EB;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
}

.user-management-table-wrapper {
  border: 1px solid #FCFCFC12;
  border-radius: 12px;
  overflow: visible;
}

.user-management-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #42546f7e;
  border-radius: 12px;
  overflow: visible;
}

.user-management-table th,
.user-management-table td {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border: 1px solid #ffffff07 !important;
  padding: 10px 0 10px 25px;
  background-color: var(--color-blue-820-light);
}

.user-management-table th {
  font-weight: 500;
  color: #A0B8D1;
  background: var(--color-blue-820-light);
  border: 1px solid;
  padding: 20px 0 20px 25px;
}

.user-management-col-10 { width: 10%; }
.user-management-col-20 { width: 20%; }
.user-management-col-30 { width: 30%; }
.user-management-col-40 { width: 40%; }

.view-tenant_dropdown-wrapper {
  position: relative;
  display: inline-block;
  width: auto;
  margin-bottom: 7px;
}

.view-tenant-container .dropdown-menu {
  margin-top: 0 !important;
}

.view-tenant-container .dropdown-item.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.view-tenant-container .dropdown-item:hover{
  background: #e6e6e6;
}

.view-tenant-container .dropdown-item{
  padding-top: 10px;
  padding-bottom: 10px;
}

.view-tenant-container .dropdown-divider{
 height: 1px;
  margin: 0;
}

.view-tenant-container .dropdown-menu::before {
  visibility: hidden;
}

.view-tenant_dropdown-wrapper::after,
.no-chevron::after {
  display: none !important;
  content: none !important;
}

.view-tenant_dropdown-wrapper-min{
  width: 45px !important;
}

.action-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.action-dropdown {
  position: absolute;
  right: 0;
  background: #1e1e1e;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  z-index: 10;
  min-width: 120px;
}

.action-dropdown .dropdown-item {
  padding: 8px 12px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.action-dropdown .dropdown-item:hover {
  background-color: #33333323;
  color: white;
}
