.search__result-detail {
  background-color: #173A5E;
  padding: 20px;
  border-radius: 16px;
  margin: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search__result-detail-heading {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 24px;
}

.search__result-detail-description-span {
  font-size: 12px;
  font-weight: 400;
  color: #D0D0D0;
  margin-bottom: 8px;
}

.search__result-detail-description {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 24px;
}

.search__result-detail-url-span {
  color: #D0D0D0;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}

.search__result-detail-url {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.search__result-detail-url-p {
  margin-bottom: 24px;
}

.search__result-detail-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.search__result-detail-meta-divs {
  display: grid;
}

.search__result-detail-meta-divs p {
  font-size: 12px;
  font-weight: 400;
  color: #D0D0D0;
  margin-bottom: 0;
  height: 25px;
}

.search__result-detail-meta-divs span {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.search__result-detail-tabs-div {
  background: #2A578459;
  border-radius: 16px;
  padding: 24px;
  position: relative;
}

.tags span {
  background-color: #1F4B73;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.status .active {
  color: #00D97E;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.tabs button {
  background: none;
  border: none;
  color: white;
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.tabs .active {
  border-bottom: 1px solid #FFFFFF;
}

.tabs button:hover {
  background: none;
  border: none;
  outline: none;
}

.tabs button:focus {
  background: none;
  border: none;
  outline: none;
}

.tabs button:active {
  background: none;
  border: none;
  outline: none;
}

.tabs .active:hover {
  border-bottom: 1px solid #FFFFFF;
}

.download, .share {
  font-size: 18px;
}


.download__buttons {
  float: right;
  position: absolute;
  right: 0;
}
