.env
/.codex
.DS_Store
**/.DS_Store
**/.ssl/
**/package-lock.json
backend/static/.well-known/parser_files/*
backend/backend_cov_app/*
*.bak
*.log
*.py[cod]
*.swp
*.tmp
*/.dll
*/.pyc
backend/static/test/mocks/api/**/*.state
__pycache__/
**/_pycache_/

.idea/

env/
client/build-next/*
backend/env/
client/node_modules/
client/.angular/cache/
backend_cov_app/*
backend/build/
backend/build/*
client/build/

logs/
mongo-data/
bloom_data/
staticfiles/

CrawlerInstance/applicationController/predictions.csv
TrustlySearchServices/raw/classifier_output/training_data.csv
db.sqlite3

client/cypress/downloads/*
client/cypress/screenshots/*
client/coverage/*
.coverage
.coverage.*
backend/.coverage
backend/.coverage.*

static/trustly/.well-known/model/*
backend/static/.well-known/parser_files.zip

swagconfig/index.css.gz
swagconfig/index.html.gz
swagconfig/swagger-initializer.js
swagconfig/swagger-initializer.js.gz
swagconfig/swagger-ui-bundle.js.gz
swagconfig/swagger-ui-standalone-preset.js.gz
swagconfig/swagger-ui.css.gz
swagconfig/swaggerconfigv1.js.gz

backend/static/resource/**
!backend/static/resource/**/
!backend/static/resource/**/*default*

nginx/nginx-prod.conf
nginx/nginx.conf
nginx/nginx.conf
