<div id="analytics">
  <div *ngFor="let model of models">
    <div class="home_insight__container">
      <div class="home_insight__card" *ngFor="let key of getKeys(insights[model]); let first = first">
        <div class="home_insight__content">
          <div *ngIf="first" class="home_insight__header">
            {{ model === 'general' ? 'Generic Index' : model === 'leak' ? 'Leaked Index' : 'Defacement Index' }}
          </div>

          <div class="home_insight__icon">
            <img ngSrc="/assets/images/statistics/{{ key }}.svg" alt="{{ key }}" width="32" height="32">
          </div>

          <div class="home_insight__text">
            <div class="home_insight__text-primary">
              {{ insights[model][key].value || '-' }}
            </div>
            <div class="home_insight__text-secondary">
              {{ insights[model][key].key || key }}
            </div>
          </div>

          <div class="home_insight__percentage">
            <div [ngClass]="{
                'text-success': insights[model][key].change_daily?.startsWith('+'),
                'text-warning': insights[model][key].change_daily?.startsWith('-'),
                'home_insight__percentage-default': !insights[model][key].change_daily
              }">
              {{ insights[model][key].change_daily || '-' }}
            </div>
            <div [ngClass]="{
                'text-success': insights[model][key].change_weekly?.startsWith('+'),
                'text-warning': insights[model][key].change_weekly?.startsWith('-'),
                'home_insight__percentage-default': !insights[model][key].change_weekly
              }">
              {{ insights[model][key].change_weekly || '-' }}
            </div>
          </div>
        </div>
      </div>
    </div><br><br>
  </div>
</div>