.home__form {
  margin-left: 31px !important;
}

.home_insight__percentage {
  color: #90DF53;
  font-weight: 500;
  font-size: 15px;
  width: 50%;
  flex-direction: column;
  justify-content: end;
  text-align: right;
}

.home_insight__text-primary {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 30px !important;
  text-overflow: ellipsis;
}

.home_insight__text-secondary {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1;
  /* 35px */
  word-break: break-word;
  white-space: normal;
}

@media (max-width: 500px) {
  .home_insight__text-secondary {
    font-size: 10px;
  }
}

@media (max-width: 420px) {
  .home_insight__text-secondary {
    font-size: 8px;
  }
}

.home_insight__header {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  opacity: 0.5;
  position: absolute;
  margin-left: -20px;
  margin-top: -80px;
}

.home_insight__content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.home_insight__icon {
  width: 60px;
  flex-shrink: 0;
  padding-right: 12px;
}

.home_insight__icon img {
  width: 32px;
  height: 32px;
  vertical-align: baseline;
}

.home_insight__text {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: -40px;
}

.home_insight__card {
  background-color: #0f335750;
  color: white;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 125px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px, rgba(0, 0, 0, 0.1) 0 1px 3px;
  transition: box-shadow 0.2s ease;
}

.home_insight__card:hover {
  box-shadow: rgba(0, 0, 0, 0.11) 0 3px 6px, rgba(0, 0, 0, 0.16) 0 3px 6px;
  cursor: pointer;
}

.home_insight__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-left: 30px;
  flex: 1;
  max-width: 100%;
  margin-right: 20px;
  margin-top: 30px;
}


@media only screen and (max-width: 943px) {
  .home__form {
    margin-left: 21px !important;
  }

  .home_insight__card {
    width: 100%;
  }

  .home_insight__container {
    padding: 20px;
    padding-right: 0;
    margin-left: 0;
  }

  #analytics {
    margin-top: 60px
  }

}
