<div class="empty-query-card mt-[20px] flex h-[calc(100vh-66px)] max-h-[65vh] w-full max-w-full flex-col items-center justify-center rounded-[15px] border border-[var(--color-border)] bg-[var(--color-blue-790)] text-center">
  <img alt="no-input" height="100" src="assets/images/shared/no-input.svg" width="112" class="empty-query-icon">
  <p class="pt-[10px] text-[20px] font-medium text-[var(--color-text1)]">{{ 'No Keyword Entered Yet!' | translate }}</p>
  <p class="empty-query-subtitle text-[14px] font-normal text-[#A0B8D1]">{{ 'Enter a keyword to see results' | translate }}</p>
</div>
