[run]
branch = True
parallel = True
source =
    orion

[report]
omit =
    */backend/routes/*
    */routes/*
    */configs/*
    */static/*
    */migrations/*
    */test_*.py
    */tests/*
    */__pycache__/*
    */orion/services/__init__.py
    */orion/services/log_manager/log_controller.py
