[run]
branch = True
parallel = True
source =
    /app
omit =
    */site-packages/*
    /app/migrations/*
    /app/static/*
    /app/build/*
    /app/docs/*
    /app/bloom_data/*
    /app/__pycache__/*
    /app/cronjobs.py

[paths]
source =
    backend
    /app

[report]
show_missing = True
skip_empty = True
