fastapi==0.135.1
starlette==0.52.1
pydantic==2.12.5
stopwords==1.0.2
python-dotenv==1.2.2
elasticsearch~=8.19.3
termcolor==3.3.0
redis==7.3.0
motor==3.7.1
brotli-asgi==1.6.0
aiohttp==3.13.3
uvicorn==0.42.0
httpx==0.28.1
gunicorn==25.1.0
odmantic==1.1.0
starlette-admin==0.16.0
email-validator==2.3.0
pymongo==4.16.0
passlib==1.7.4
bcrypt==4.2.1
PyJWT==2.12.1
toml==0.10.2
deep-translator==1.11.4
python-arango==8.3.0
pyotp==2.9.0
sphinx==9.0.4
myst-parser==5.0.0
sphinx_rtd_theme==3.1.0
cryptography==46.0.5
bloom-filter2==2.0.0
coverage==7.13.5
pytest==9.0.2
pytest-cov==7.0.0
pytest-forked==1.6.0
