<div id="top"></div>
<div class="row search__side-nav-container-main" id="search__side-nav-container-main">
  <input type="radio" name="menu-input" class="search__nav-menu-checkbox" id="search__nav-menu-checkbox">
  <div class="search__side-nav-container" [ngClass]="{'show-menu': isMenuOpen}">
    <app-dashboard-sidebar (menuClosed)="hideSideNav()"></app-dashboard-sidebar>
  </div>
  <div class="search_container">
    <div class="search dashboard-content-scroll">
      <app-dashboard-header (menuClicked)="toggleSideNav()"></app-dashboard-header>
      <app-dashboard-search-content-items></app-dashboard-search-content-items>
    </div>
  </div>
</div>
