.sidebar_header {
  cursor: pointer;
  background: var(--color-blue-650);
  padding: 13px 20px;
  border-bottom: 1px solid #092137;
  border-top-left-radius: 15px;
  margin: 0;
}

.sidebar_heading {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 0;
}

.sidebar_close-label {
  margin-bottom: 0;
  padding-right: 50px;
}

.sidebar_close-label img {
  height: 25px;
  width: 25px;
}

.sidebar_form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
  overflow-y: auto;
  background: var(--color-blue-660);
}

.sidebar_content {
  flex: 1;
}

.sidebar_label {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 20px;
}

.sidebar_content .dropdown {
  margin-bottom: 15px;
}

.sidebar_input_date {
  outline: none;
  height: 40px;
  border-radius: 8px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.sidebar_input_date::placeholder {
  color: var(--color-gray-900) !important;
}

.sidebar_input_date-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  height: 40px !important;
}

.sidebar_input_date-container .dropdown-menu {
  width: 300px !important;
  margin-left: -22px !important;
  margin-top: 8px !important;
}

.sidebar_dropdown-item {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.sidebar_input {
  display: block;
  color: var(--color-gray-900);
  font-size: 12px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  background-color: var(--color-white);
  padding: 11px 11px 11px 15px;
  border-radius: 7px;
  height: 40px;
  text-align: left;
  box-shadow: 0 1px 2px 0 #1018280d;
  border: 1px solid #ffffff12 !important;
  width: 100%;
  caret-color: var(--color-gray-900);
}

.sidebar_overlay .graph-sidebar__container .sidebar_input {
  display: block;
  color: var(--color-gray-900);
  font-size: 12px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  background-color: var(--color-white);
  padding: 11px 11px 11px 15px;
  border-radius: 7px;
  height: 40px;
  text-align: left;
  border: 1px solid rgb(29 45 71) !important;
  width: 100%;
  caret-color: var(--color-gray-900);
}

.sidebar_input:hover {
  color: var(--color-gray-900);
  background-color: var(--color-white);
  border-color: var(--color-white);
}

.sidebar_submit {
  position: relative;
  margin-top: auto;
  padding-top: 20px;
  margin-bottom: 50px;
}

.sidebar_submit-button {
  background: var(--color-blue-640);
  font-family: Inter, sans-serif;
  color: white;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  outline: none;
  height: 42px;
  border-radius: 8px;
  padding: 8px 14px;
  width: 100%;
  filter: brightness(100%);
  transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out;
}

.sidebar_submit .btn-secondary {
  background: #4EA2F100;
  border: 2px solid var(--color-blue-640);
}

.sidebar_submit .btn-secondary:hover {
  background: #ffffff15 !important;
}

.sidebar_submit .btn-secondary:focus,
.sidebar_submit .btn-secondary:active {
  background: #ffffff15 !important;
  outline: none !important;
  box-shadow: none !important;
}


.sidebar_container-disable {
  right: -300px;
}

.filter__container-enable {
  right: 0;
}

.sidebar_dropdown-animation {
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  display: block !important;
}

.show.sidebar_dropdown-animation {
  transform: scaleY(1);
  opacity: 1;
}

.sidebar_form .dropdown-item {
  height: 40px;
  font-size: 15px;
  vertical-align: center;
}

.sidebar_form .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  float: left;
  width: 280px;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgb(0 0 0 / 15%);
  border-radius: 8px;
  overflow-y: auto !important;
  overflow-x: hidden;
}

.sidebar_form .dropdown-item:hover {
  background: var(--color-gray-100) !important;
}

.sidebar_form .dropdown-select {
  border: none;
  outline: none;
}

.sidebar_form .dropdown-select:focus {
  background: var(--color-blue-620) !important;
  color: #fff;
}

.sidebar_overlay .dropdown-select:focus::after {
  background-image: url('/client/src/assets/images/shared/search_side_dropdown_icon.svg');
}

.sidebar_form .dropdown-menu .dropdown-item:hover {
  border-radius: 4px;
}

.sidebar_form .dropdown-menu {
  border-radius: 8px;
  overflow: hidden;
}

.sidebar_container {
  width: 300px;
  position: fixed;
  top: 1px;
  background: #2A5784;
  height: 95vh;
  border-bottom-left-radius: 0;
  border-top-left-radius: 15px;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  transition: right 0.2s ease;
}

.sidebar_overlay {
  background: #00000050;
  width: 100vw;
  height: 100vh;
  z-index: -5;
  left: 0;
  position: fixed;
}

@media only screen and (width <=450px) {
  .sidebar_submit {
    height: 50%;
  }

  .sidebar_header {
    border-top-left-radius: 0;
  }

  .sidebar_container {
    width: 100vw;
    transition: right 0.2s ease;
  }

  .sidebar_container-disable {
    right: -100vw;
    transition: none;
  }
}

