{% load static %}{% load compress %}
{% include 'admin/local_imports.html' %}

{% include 'trustly/user/blades/blades_shared_initialization.html' %}
{% include 'trustly/user/interactive/directory/local_imports.html' %}

<body>
  {% include 'trustly/user/blades/home_template/blade_home_header.html' %}
  <div class="login"></div>
  <img alt="back" class="login-background" src="{% static 'trustly/images/Bg.png' %}">

  <div id="content" class="admin_login__container">
    <div>
      <img src="{% static 'trustly/images/home-logo.svg' %}" alt="" width="300" height="70">
    </div><br>
    <form method="post" action="{% url 'admin:login' %}" class="admin__login-form">
      {% csrf_token %}
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
      {% else %}
        <input type="hidden" name="next" value="{% url 'admin:index' %}">
      {% endif %}
      <div class="admin_login__form-row">
        <input type="text" id="id_username" name="username" class="admin_login__input admin_login__input--text" placeholder="admin username">
      </div>
      <div class="admin_login__form-row">
        <input type="password" id="id_password" name="password" class="admin_login__input" placeholder="admin password">
      </div>
      <div class="submit-row">
        <input type="submit" class="admin_login__form-button" value="Log in"/>
      </div>
    </form>
  </div>
</body>
