.insight-general__container {
  width: 733px;
  max-width: 733px;
  border: 1px solid #FCFCFC12;
  border-radius: 11px;
  overflow: hidden;
  padding: 24px;
  float: right;
  margin: 10px 0 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
  margin-right: 24px;
}

.insight-general__div {
  display: flex;
  padding: 5px 30px;
}

.insight-general__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.insight-general__container-background {
  background: #17406980;
}

.insight-general__header img {
  transition: max-height 0.3s ease, padding 0.3s ease;
  cursor: pointer;
}

.insight-general__content {
  max-height: 0;
  color: #fff;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 15px 0 15px;
}

.insight-general__container input[type="checkbox"]:checked ~ .insight-general__content {
  max-height: 300px;
  overflow-y: auto;
  padding: 15px 15px 0 15px;
}

.insight-general__container input[type="checkbox"]:checked ~ .insight-general__header img {
  transform: rotate(180deg);
}

.insight-general__container label {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  color: #D0D0D0;
  font-family: Roboto, sans-serif;
}

.insight-general__content .row {
  display: flex;
  flex-wrap: wrap;
}

.insight-general__text {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.insight-general__content .row .insight-general__inner-div {
  border: 1px solid #ffffff15;
  border-radius: 8px;
  padding: 24px;
  width: 140px;
  margin-right: 24px;
}

.insight-general__coverage-numbers {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.insight-general__active-span {
  height: 6px;
  width: 6px;
  background: #26B961;
  border-radius: 50px;
  margin-right: 4px;
}

.insight-general__inactive-span {
  height: 6px;
  width: 6px;
  background: #DF5353;
  border-radius: 50px;
  margin-right: 4px;
}

.insight-general__seldom-active-span {
  height: 6px;
  width: 6px;
  background: #EC873A;
  border-radius: 50px;
  margin-right: 4px;
}

.insight-general__container input[type="checkbox"] {
  display: none;
}

@media only screen and (max-width: 550px) {
  .insight-general__container .col-sm-12 {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .insight-general__container {
    float: left;
    margin-left: 30px;
    max-width: 100vw;
    width: 100%;
    margin-bottom: 24px;
  }
  .insight-general__div .insight-general__container:nth-child(1){
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 943px) {
  .insight-general__container {
    margin: 0;
  }

  .insight-general__div {
    padding: 15px;
    display: grid;
  }

  .insight-general__content .row {
    gap: 15px;
  }
}
