.credential-table {
  border: 1px solid #ffffff20;
  border-radius: 15px !important;
  overflow: clip;
}

.credential-table-padding {
  margin: 30px;
}

@media only screen and (width <= 943px) {
  .credential-table-padding {
    margin: 15px;
  }
}
