.credential-list-table{
  border-radius: 10px;
  overflow: clip;
  margin: 30px !important;
  border: 1px solid #ffffff15;
}

table tbody tr:last-of-type td {
  border-bottom: none !important;
}

.credential-list-table table tr:last-child{
  border: 0 !important;
}
