html {
  background: rgba(41, 87, 132, 255) !important;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, rgba(18, 52, 84, 255), rgba(41, 87, 132, 255), rgba(41, 87, 132, 255)) !important;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

html::-webkit-scrollbar {
  display: none;
}

.header__menu {
  margin-top: -3px;
}

.header {
  height: 69px;
}

.header {
  padding-top: 24px !important;
  padding-bottom: 17px !important;
}

.login-background {
  position: absolute;
  right: 0;
  width: auto;
  height: 93vh;
  opacity: 0.07;
}

.header__menu-category{
  display: none;
}

.auth_form__container {
  position: relative;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;

}

.auth_form__sub__container {
  background: linear-gradient(90deg, rgba(21, 52, 84, 0.5) 0%, rgba(22, 56, 88, 0.5) 100%);
  padding: 42px 32px;
  border-radius: 16px;
  width: 420px;
}

.auth_form__input {
  border: none;
  border-radius: 8px;
  background: #fff url('/static/trustly/images/lock.svg') no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px 20px;
  padding:12px 40px 12px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.auth_form__input::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #aaa;
}

.auth_form__input-user {
  background: #fff url('/static/trustly/images/profile.svg') no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px 20px;
  margin-bottom: 24px;
}


.auth_form__input:focus {
  border: none;
  outline: none;
}

.auth_form__input--border-bottom {
  border-bottom: 2px solid #fff;
}

.auth_form__form-row {
  display: grid;
}

.auth_form__form-button {
  display: table;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(92.32deg, #4EA2F1 2.58%, #2C7AC5 66.77%, #1E6CB7 130.97%);
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 36px;
  width: 100%;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}

.auth_form__form-button:hover {
  -webkit-filter: brightness(88%);
  filter: brightness(88%);

}


.auth_form__form-label .auth_form__paragraph .auth_form__header {
  color: #fff;
}

.auth_form-form {
  margin: 36px 0 0 0;
}
.demo_auth_form{
  margin-top: 50px;
}
.auth_form__footer {
  position: fixed;
  bottom: 0;
  background: rgba(33, 75, 116, 0.31);
  height: 48px;
  width: 100%;
}

@media only screen and (max-width: 943px) {
  .auth_form__sub__container {
    margin: 0 20px;
    padding: 42px 20px;
  }
}
