<img src="/assets/images/shared/Bg.webp" alt="background" class="app-background img-fluid w-100 h-100 object-fit-cover" >
<app-result [searchQuery]="query" [suggestion]="chatCallbackModel.Suggestions[0]" [isLoading]="isLoading" (updateQuery)="onUpdateQuery($event)" (reloadData)="fetchSearchResults()" [result_count]="Math.ceil(chatCallbackModel.Result.length)"></app-result>

<div *ngIf="!isLoading" @fadeInDashboardItem>
  <app-dashboard-result-chat [searchResults]="chatCallbackModel.Result"></app-dashboard-result-chat>
</div>

<div *ngIf="!isLoading && currentResultCount > 0" @fadeInDashboardItem class="pagination-margin">
  <app-pagination (pageChange)="onPageChange($event)" [maxPages]="Math.ceil(chatCallbackModel.Page_Count)"></app-pagination>
</div>
