.search-content__filters-div {
  display: flex;
  justify-content: end;
  align-items: center;
}

.dash-api_single-search {
  width: 150px !important;
}

.dash-api_hint {
  margin-left: 30px !important;
}

.default-input-button-light {
  background: #fff !important;
}

.default-input-button-light:hover {
  background: #fff !important;
}

.email-search {
  padding-right: 54px !important;
}

.dash-search-button {
  padding: 13px 57px 10px;
  background: linear-gradient(92.32deg, #4EA2F1 2.58%, #2C7AC5 66.77%, #1E6CB7 130.97%);
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: 400;
  height: 41px;
  font-size: 14px;
  color: #fff;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out;
  opacity: 0.9;

}

.dashboard-header-header {
  font-size: 17px;
  margin: 0;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard-header-divider {
  background: #ffffff15;
}

.dashboard-header-label {
  color: var(--color-blue-640);
}

.dash-search-button:hover {
  opacity: 1;
}

.dash-search-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.dashboard__search-table-header {
  padding-top: 15px;
  padding-bottom: 0;
  padding-left: 15px;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
  width: 200px;
}

.column-id {
  width: 10%;
  padding-left: 12px;
}

.column-key {
  width: 25%;
  padding-left: 12px;
}

.column-value {
  width: 65%;
  padding-left: 12px;
}

.cell {
  padding-left: 12px;
}

.badge-red {
  display: inline-block;
  background-color: var(--color-tags);
  color: var(--color-text1);
  padding: 4px 8px;
  border-radius: 7px;
  margin: 2px;
  font-size: 12px;
}


.dashboard__search-table-container {
  margin: 24px 22px;
  overflow: hidden;
  color: white;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  border: 1px solid #ffffff15;
}

.dashboard__api-search-input-div {
  background: #4EA2F170;
  border-radius: 10px;
  margin-right: 0;
  margin-left: -5px;
  padding: 8px 46px 0 0;
}


.input-container {
  padding-right: 0;
  padding-left: 9px;
}

.default-input-container {
  margin-left: 35px;
}

@media (width <=1200px) {
  .dash-search-button {
    margin-left: -5px;
  }

  .dashboard__api-search-input-div {
    background: none;
    padding: 10px 10px 10px 0 !important;
  }

  .default-input-container {
    margin-right: 15px;
  }
}

@media (width <=1200px) {
  .dashboard__api-search-input-div {
    padding: 15px 15px 15px 0;
  }

  .default-input-container {
    margin-right: 15px;
  }
}

.search__result-detail-extended {
  height: auto;
  max-height: none;
  overflow: visible;
}

.flex-col-gap-12 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.flex-wrap-gap-8 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pre-wrap-m0 {
  white-space: pre-wrap;
  margin: 0;
}