<div class="flex flex-col items-center text-center">
    <img alt="no-input" height="100" src="assets/images/shared/no-input.svg" width="112">
    <p class="mt-4 text-[18px] font-semibold text-[var(--color-text1)]">Ready to Monitor. No IOCs Added.</p>
    <p class="mt-2 text-[14px] text-[var(--color-text4)]">To achieve optimum threat intelligence results, you need <br>to feed
        the system.</p>
    <button class="mt-[20px] h-[44px] w-[110px] rounded-[8px] bg-[#57A5EB] text-[14px] font-medium text-[#373637]" (click)="goToIoc()">Add IOCs</button>
</div>
