<form class="home__form default-input-container w-90" (submit)="onSearchSubmit()">
  <div class="d-flex align-items-start justify-content-between w-100 flex-wrap">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="input-group default-input-sub-container">
        <input autocomplete="off" autocapitalize="none" type="search" placeholder="Search Data Breach ..."
          class="form-control default-input dashboard-general-input" maxlength="150" name="q" [(ngModel)]="searchQuery">
        <input type="hidden" value="1">
        <button class="btn btn-primary default-input-button" type="submit">
          <img ngSrc="../../../../assets/images/shared/magnifyingglasswhite.svg" alt="Search" priority height="16"
            width="16">
        </button>
      </div>
    </div>
  </div>
</form>