<form (submit)="onSearchSubmit()" class="home__form default-input-container  w-90">
  <div class="d-flex align-items-start justify-content-between w-100 flex-wrap">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="input-group default-input-sub-container">
        <input [(ngModel)]="searchQuery" autocapitalize="none" autocomplete="off"
          class="form-control default-input dashboard-general-input" maxlength="150" name="q"
          placeholder="Search Data Breach ..." type="search">
        <input type="hidden" value="1">
        <button class="btn btn-primary default-input-button" type="submit">
          <img alt="Search" height="16" ngSrc="../../../../assets/images/shared/magnifyingglassblack.svg" priority
            width="16">
        </button>
      </div>
    </div>
  </div>
</form>