.home__form {
  display: grid;
  justify-content: left;
  align-content: start;
  margin: 50px auto 80px 35px;
}

.home__description {
  margin-top: 25px;
  font-size: 15px;
  padding-right: 120px;
}

.home__version {
  margin-top: 20px;
  width: 83px;
  border: 1px solid #ffffff20;
  padding: 5px 15px;
  font-size: 15px;
  margin-left: 25px;
  background: #2A578459;
  border-radius: 8px;
}

@media only screen and (max-width: 943px) {
  .home__form {
    display: block;
    margin: 50px 0 8vh 20px;
  }

  .home__description {
    margin-top: 25px;
    font-size: 15px;
    padding-right: 15px;
  }

}
