.empty-result_main-container {
  min-height: 50vh;
}

.empty-result_suggestion {
  max-width: 655px;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #ffffff30;
  margin: 30px 12px 11em 32px;
  background: #ffffff15;
}

.empty-result_suggestion-header {
  float: left;
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
}

.empty-result_suggestion-text {
  font-size: 15px;
  margin-top: -10px;
  width: 100%;
  clear: left;
  color: #FFF;
  font-weight: 400;
}

.empty-result_suggestion-container {
  clear: left;
  margin-left: 12px;
  padding: 0;
}

.empty-result_suggestion-item {
  font-size: 13px;
  margin-top: -2px;
  color: #FFF;
  font-weight: 400;
}

@media only screen and (width <= 1000px) {
  .empty-result_suggestion {
    margin-left: 20px;
    margin-right: 15px;
  }
}
