.empty-result_main-container {
  min-height: 50vh;
}

.empty-result_suggestion {
  max-width: 910px;
  border-radius: 12px;
  border: 1px solid rgb(255 255 255 / 8.24%);
  margin: 15px 12px 11em 32px;
  background: var(--color-blue-790);
  padding: 20px 20px 5px;
}

.empty-result_suggestion-header {
  padding-top: 10px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.empty-result_suggestion-text {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #A0B8D1;
}

.empty-result_suggestion-container {
  clear: left;
  margin-left: 12px;
  padding: 0;
}

.empty-result_suggestion-item {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin-top: -2px;
  color: #A0B8D190;
  margin-bottom: 5px;
  font-weight: 400;
}

.empty-result-divider{
  background: #ffffff20;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media only screen and (width <= 1000px) {
  .empty-result_suggestion {
    margin-left: 20px;
    margin-right: 15px;
  }
}
