<div *ngIf="!isAdmin(); else showAdmin">
    <div *ngIf="isProfile(); else showNonProfile">
        <div class="ioc-dashboard-content-wrapper">
            <div *ngIf="isLoading">
                <app-alert-scan-loading></app-alert-scan-loading>
            </div>
            <div *ngIf="licenseService.isMaintainer() || licenseService.getLicenses().includes('enterprise')"
                class="category_report_searchbar">
                <app-home-search [isRoleAdmin]="false"></app-home-search>

                <div class="category_report_flex">
                    <div class="btn-group report-menu-option-container">
                      <button (click)="flushAll()" appTooltip="flush all" class="p-0 report-menu-option">
                        <img alt="Download" height="20" ngSrc="assets/images/shared/bin.svg" width="20" />
                      </button>
                      <div class="vr report-menu-divider"></div>
                      <button (click)="scanIOCs()" appTooltip="scan all" class="p-0 report-menu-option">
                        <img alt="Download" height="20" ngSrc="assets/images/sidebar/scanner.svg" width="20" />
                      </button>
                    </div>
                </div>
            </div>
            <div class="ioc-container">

                <div *ngIf="licenseService.isMaintainer() || licenseService.getLicenses().includes('enterprise')"
                    class="ioc-container_header">
                    <div class="ioc-container_header-title">IOC’s</div>

                    <div class="ioc-container_header-actions">
                        <button class="ioc-container_header-actions-entity-btn">Entity
                            ({{entityFiltersCount()}})</button>

                        <button class="ioc-container_header-actions-edit-btn" (click)="editIocs()">
                            <img alt="edit-icon" src="../../../../../../assets/images/shared/theme/edit.svg">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                    </div>
                </div>

                <div class="ioc-container_alerts">
                    <div class="ioc-container_alerts-card critical">
                        <div class="ioc-container_alerts-card-count">{{criticalRisks}}</div>
                        <div class="ioc-container_alerts-card-label">Critical Alerts</div>
                    </div>

                    <div class="ioc-container_alerts-card high">
                        <div class="ioc-container_alerts-card-count">{{highRisks}}</div>
                        <div class="ioc-container_alerts-card-label">High Risk Alerts</div>
                    </div>

                    <div class="ioc-container_alerts-card medium">
                        <div class="ioc-container_alerts-card-count">{{mediumRisks}}</div>
                        <div class="ioc-container_alerts-card-label">Medium Risk</div>
                    </div>

                    <div class="ioc-container_alerts-card low">
                        <div class="ioc-container_alerts-card-count">{{lowRisks}}</div>
                        <div class="ioc-container_alerts-card-label">Low Risk</div>
                    </div>
                </div>

                <div class="ioc-container_cards">

                    <ng-container *ngFor="let category of alertCategories">
                        <div class="ioc-container_cards-card" (click)="openAlerts(category.categoryName)"
                            [class.disabled]="category.iocCount === 0">

                            <div class="ioc-container_cards-card-header">
                                <div class="ioc-container_cards-card-header-title">
                                    <img alt="icon"
                                        src="../../../../../../assets/images/shared/theme/alert-categories-icon.svg">
                                    {{ category.categoryName.charAt(0).toUpperCase() + category.categoryName.slice(1) }}
                                </div>

                                <div class="ioc-container_cards-card-header-badge"
                                    [ngClass]="category.risk.toLowerCase()">
                                    {{ category.risk }} Risk
                                </div>
                            </div>

                            <div class="ioc-container_cards-card-row">
                                <span>IOC’s found</span>
                                <span class="value">{{ category.iocCount }}</span>
                            </div>

                            <div class="ioc-container_cards-card-row">
                                <span>Detected on</span>
                                <span class="value">
                                    {{ category.detectedDate ? (category.detectedDate | date:'dd/MM/yyyy') : '-' }}
                                </span>
                            </div>

                            <div class="ioc-container_cards-card-tags">
                                <span *ngFor="let tag of category.tags">{{ tag }}</span>
                            </div>

                        </div>
                    </ng-container>

                </div>

            </div>
        </div>
    </div>

    <ng-template #showNonProfile>
        <div *ngIf="licenseService.isMaintainer() || licenseService.getLicenses().includes('enterprise')" class="category_report_searchbar">
          <app-home-search [isRoleAdmin]="false"></app-home-search>
        </div>
        <div class="sidebar-profile-homepage-container">
            <app-home-insight></app-home-insight>
        </div>
    </ng-template>
    <ng-container *ngIf="isConfirmationOpen$ | async">
        <app-confirmation-popup [message]="'Are you sure you want to clear your scan history?'" (confirmed)="flushAllConfirmation($event)"></app-confirmation-popup>
    </ng-container>
</div>
<ng-template #showAdmin>
    <app-index></app-index>
</ng-template>
