<form class="searchbar" method="GET" action="" enctype="multipart/form-data">
  <div class="searchbar__profile-button">
    <a href="/admin" aria-label="Go to CMS Home">
      <img [src]="'/assets/trustly/images/profile-icon.svg'" alt="Brand Logo">
    </a>
  </div>
  <div class="searchbar__logo-grid">
    <div class="searchbar__logo-container d-flex">
      <div class="search__nav-menu-div">
        <!-- Sidebar Include Placeholder -->
      </div>
      <p class="searchbar__logo">
        General Intelligence
      </p>
    </div>

    <div class="searchbar__header">
      <div class="searchbar__searchbox">
        <div class="input-group">
<!--          <ng-container *ngIf="mSearchCallbackRelevantSearchType === 'persona'; else defaultSearch">-->
<!--            <input autocomplete="off" autocapitalize="none" type="search" placeholder="Email"-->
<!--              class="form-control searchbar__detail-header-search-input searchbar__detail-header-search-input-email"-->
<!--              pattern="[^ ]*" maxlength="150" name="q" [(ngModel)]="mSearchCallbackQuery">-->
<!--            <input autocomplete="off" autocapitalize="none" type="search" placeholder="Username"-->
<!--              class="form-control searchbar__detail-header-search-input searchbar__detail-header-search-input-username"-->
<!--              maxlength="150" name="mUsername" [(ngModel)]="mUsernameQuery">-->
<!--          </ng-container>-->

<!--          <ng-template #defaultSearch>-->
            <input autocomplete="off" autocapitalize="none" type="search" placeholder="Search..."
              class="form-control searchbar__detail-header-search-input" maxlength="150" name="q"
              [(ngModel)]="mSearchCallbackQuery">
<!--          </ng-template>-->

          <input type="hidden" name="mSearchParamPage" value="1">
          <input type="hidden" name="mSearchParamSafeSearch" [(ngModel)]="mSearchCallbackSaveSearch">
          <button class="btn btn-primary searchbar__search-button-right"
            [ngClass]="{'searchbar__search-button-right-persona': mSearchCallbackRelevantSearchType === 'persona'}"
            type="submit">
            <img class="searchbar__search-button-right-icon"
              [src]="'/assets/trustly/images/magnifyingglassblack.svg'" alt="Search">
          </button>
        </div>
      </div>
      <div class="searchbar__searchbox_switch-search">
        <a class="searchbar__searchbox_switch-search-button searchbar__searchbox_switch-search-button-active">Results</a>
        <a class="searchbar__searchbox_switch-search-button">Analytics</a>
      </div>
    </div>
  </div>
</form>
