<div class="searchbar">
  <div class="searchbar__profile-button">
    <app-header-profile-dropdown></app-header-profile-dropdown>
  </div>
  <div class="searchbar__logo-grid">
    <div class="searchbar__logo-container d-flex align-items-center">
      <div class="search__nav-menu-div"></div>
      <img class="search_nav_menu_icon" ngSrc="assets/images/shared/seach_nav_menu_icon.svg"  alt="Search" priority="true" height="20" width="20" (click)="toggleMenu()">
      <p class="searchbar__logo">{{currentPage$|async}}</p>
    </div>
  </div>
</div>
