<div class="header_form-user--logout" tabindex="0">
  <a class="profile-dropdown-toggle" tabindex="0">
    <div class="header__menu-category header_form-user--logout_icon light-header__menu-category--bold" >
      <img ngSrc="assets/images/shared/profile-icon.svg" alt="Logout" width="24" height="24" priority="true">
    </div>
  </a>

  <ul class="profile-dropdown" aria-labelledby="dropdownMenu2">
    <div class="profile-dropdown-arrow"></div>

    <li><a class="dropdown-item disabled">
      <img ngSrc="assets/images/shared/profile.svg" alt="Settings" width="15" height="15" priority="true"/>  {{username$|async}}</a></li>
    <li class="dropdown-item dropdown-item-inline d-flex align-items-center disabled">
      <span class="bg-success rounded-circle d-inline-block me-2 user-active"></span>
      &nbsp;&nbsp;active
    </li>
    <li><hr class="dropdown-divider mx-3"></li>
    <li><a class="dropdown-item" href="/login"><img ngSrc="assets/images/shared/settings.svg" alt="Settings" width="15" height="15" priority="true"> &nbsp; Settings</a></li>
    <li><hr class="dropdown-divider mx-3"></li>
    <li><a class="dropdown-item" href="#" id="logout-button"><img ngSrc="assets/images/shared/logout.svg" alt="Logout" width="15" height="15" priority="true"> &nbsp; Logout</a></li>
  </ul>
</div>
