<div class="skeleton_loader">
  <div class="skeleton_frame">
    <div class="div">
      <div class="div-2">
        <div class="div-3 skeleton_shimmer"></div>
        <div class="div-3 div-hide skeleton_shimmer"></div>
        <div class="div-3 div-hide skeleton_shimmer"></div>
      </div>
    </div>
    <div class="div-5">
      <div class="frame-wrapper">
        <div class="div-6 skeleton_shimmer"></div>
      </div>
      <div class="div-7 skeleton_shimmer"></div>
      <div class="div-8 skeleton_shimmer"></div>
    </div>
    <div class="div-9 skeleton_shimmer"></div>
    <div class="div-10">
      <div class="div-11">
        <div class="div-12 skeleton_shimmer"></div>
        <div class="div-13 skeleton_shimmer"></div>
      </div>
      <div class="div-11 div-hide">
        <div class="div-12 skeleton_shimmer"></div>
        <div class="div-13 skeleton_shimmer"></div>
      </div>
      <div class="div-11 div-hide">
        <div class="div-12 skeleton_shimmer"></div>
        <div class="div-13 skeleton_shimmer"></div>
      </div>
    </div>
  </div>
</div>
