<div class="skeleton-loader">
  <div class="frame">
    <div class="div">
      <div class="div-2">
        <div class="div-3 shimmer"></div>
        <div class="div-3 div-hide shimmer"></div>
        <div class="div-3 div-hide shimmer"></div>
      </div>
    </div>
    <div class="div-5">
      <div class="frame-wrapper">
        <div class="div-6 shimmer"></div>
      </div>
      <div class="div-7 shimmer"></div>
      <div class="div-8 shimmer"></div>
    </div>
    <div class="div-9 shimmer"></div>
    <div class="div-10">
      <div class="div-11">
        <div class="div-12 shimmer"></div>
        <div class="div-13 shimmer"></div>
      </div>
      <div class="div-11 div-hide">
        <div class="div-12 shimmer"></div>
        <div class="div-13 shimmer"></div>
      </div>
      <div class="div-11 div-hide">
        <div class="div-12 shimmer"></div>
        <div class="div-13 shimmer"></div>
      </div>
      <div class="div-11">
        <div class="div-12 shimmer"></div>
        <div class="div-13 shimmer"></div>
      </div>
    </div>
  </div>
</div>
