<ng-container>
  <app-header></app-header>
</ng-container>

<div class="login-wrapper">
  <img ngSrc="assets/images/shared/Bg.webp" alt="background" class="login-background img-fluid w-100 h-100 object-fit-cover" priority fill="true">
</div>

<div *ngIf="!authenticated" id="content" class="login-container">
  <div class="login-box">
    <div class="login-header">
      <img ngSrc="assets/images/shared/home-logo.svg" alt="logo" width="232" height="41" priority>
    </div>


    <p *ngIf="errorMessage" [ngClass]="{'login-error-message': errorMessage}">
      {{ errorMessage }} </p>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="login-form-group">
        <label for="id_username" class="login-hidden-label">Username</label>
        <input type="text" id="id_username" name="username" [(ngModel)]="user.username" placeholder="Username" class="login-input login-input-username" required>
      </div>

      <div class="login-form-group">
        <label for="id_password" class="login-hidden-label">Password</label>
        <input type="password" id="id_password" name="password" [(ngModel)]="user.password" class="login-input" placeholder="Password" required minlength="6">
      </div>

      <div class="login-button-container">
        <input type="submit" [ngClass]="loginForm.valid ? 'login-btn-submit' : 'login-btn-disabled'" [disabled]="!loginForm.valid" value="Log in"/>
      </div>
    </form>
  </div>
</div>

<footer class="login-footer"></footer>
