.login_wrapper {
  position: relative;
}

.login_background {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.07;
  object-fit: contain;
  object-position: top right;
  pointer-events: none;
}

.login_container {
  background: var(--color-blue-830);
  height: 100vh;
  position: relative;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 100%;
  min-width: 300px;
}

.login_box {
  background: linear-gradient(90deg, rgb(21 52 84 / 50%) 0%, rgb(22 56 88 / 50%) 100%);
  padding: 42px 32px;
  border-radius: 16px;
  border: 1px solid #ffffff15;
  width: 420px;
  margin-top: -30vh;
}

.login-error-message {
  color: #fc0;
  text-align: left;
  font-family: Inter, sans-serif;
  font-weight: 500;
}

.login_header {
  display: flex;
  justify-content: left;
  margin-bottom: 40px;
}

.login_error-message {
  color: #fc0;
  text-align: center;
}

.login_form-group {
  display: grid;
}

.login_input {
  border: none;
  border-radius: 8px;
  background: #fff url('/assets/images/shared/lock.svg') no-repeat calc(100% - 10px) center;
  background-size: 20px 20px;
  padding: 12px 40px 12px 20px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.login_input::placeholder {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #aaa;
}

.login_input-username {
  background: #fff url('/assets/images/shared/profile.svg') no-repeat calc(100% - 10px) center;
  background-size: 20px 20px;
  margin-bottom: 24px;
}

.login_input:focus {
  border: none;
  outline: none;
}

.login_btn-submit,
.login_btn-disabled {
  display: table;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(92.32deg, #4EA2F1 2.58%, #2C7AC5 66.77%, #1E6CB7 130.97%);
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 36px;
  width: 100%;
  filter: brightness(100%);
  transition: all 300ms ease;
}

.login_btn-submit:hover {
  filter: brightness(88%);
}

.login_btn-disabled {
  opacity: 0.5;
}

.login_footer {
  position: fixed;
  bottom: 0;
  background: var(--color-blue-610);
  height: 48px;
  width: 100%;
}

.login_hidden-label {
  display: none;
}

.login-container__forgot {
  color: #A0B8D1;
  font-weight: 400;
  size: 12px;
}

@media only screen and (width <=643px) {
  .login_box {
    margin: -30vh 20px 0;
    padding: 42px 20px;
    width: 100%;
  }

  .login_background {
    width: 175%;
    height: 175%;
  }
}