<div class="header">
  <div class="header__menu gs-disable-highlight">
    <a href="/" class="gc-clear-selection logo-item" aria-label="Go to Homepage">
      <img ngSrc="/assets/images/shared/brand-header-1.svg" alt="Trustly Logo" width="57" height="12" priority="true">
    </a>
    <div class="header_form-user--logout">
      <div aria-label="Logout" class="header__menu-category header_form-user--logout_icon light-header__menu-category--bold" id="logout-button">
        <span class="text-white fw-bold header_form-user">
          {{ username$|async }}
        </span>
        <img ngSrc="assets/images/shared/profile-icon.svg" alt="Logout" width="24" height="24">
      </div>
    </div>
  </div>
</div>
