<div #networkContainer class="graph-container d-none d-md-block"></div>

<graph-sidebar class="d-none d-md-block" (filtersApplied)="onSidebarApply($event)"></graph-sidebar>

<app-graph-info class="d-none d-md-block" (physicsToggled)="onPhysicsToggled($event)"
  (expandToggled)="onExpandToggled($event)" [selectedType]="selectedType" [singleInput]="singleInput"
  [propertyType]="propertyType" [physicsEnabled]=physicsEnabled [propertyValue]="propertyValue">
</app-graph-info>


<div id="customContextMenu" class="context-menu">
  <div class="profile-dropdown-arrow"></div>
  <button class="dropdown-item" (click)="expandNode()">
    <img src="../../../../../assets/images/shared/settings.svg" width="15" height="15">
    Expand</button>

  <hr class="dropdown-divider mx-3">

  <button class="dropdown-item" (click)="collapseNode()">
    <img src="../../../../../assets/images/shared/logout.svg" width="15" height="15">
    Collapse</button>
  <hr class="dropdown-divider mx-3">

  <button class="dropdown-item" (click)="share()">
    <img src="../../../../../assets/images/shared/share.svg" width="15" height="15">
    Share</button>
  <span *ngIf="copied" class="copied-label">Copied!</span>
</div>
<!-- <div id="customContextMenu" class="context-menu">
  <button (click)="expandNode()" class="context-btn delete-btn">
    Expand Node
  </button>
  <button (click)="collapseNode()" class="context-btn pin-btn">
    Collapse Node
  </button>
  <button (click)="share()" class="context-btn pin-btn">
    Collapse Node
  </button>
  <button (click)="viewDetails()" class="context-btn open-graph-btn">
    <img src="../../../../../assets/images/shared/redirect.svg" alt="Go" height="20" width="20">
    View Details
  </button>
</div> -->



<div class="graph-notification" *ngIf="limitReached">
  <div class="default-notification-banner">
    <span>
      <img src="assets/images/shared/hint.svg" class="default-notification-banner-icon" alt="Info Icon">
      <span>
        You can see 200 nodes at a time, results containing more than 200 nodes will scale down;
      </span>
    </span>
  </div>
</div>

<div *ngIf="this.isEmpty" @fadeInDashboardItem class="graph-container-empty d-none d-md-block">
  <img src="assets/images/shared/cti-empty.svg" alt="No Data" class="img-fluid w-auto" />
</div>

<div class="blocked-media d-block d-md-none text-center p-4">
  <h5 class="mb-3">Mobile Access Not Supported</h5>
  <p class="mb-0">
    This CTI Graph is designed for desktop use only.<br>
    Please switch to a larger screen for the best experience.
  </p>
</div>