.graph-container {
  width: 100%;
  height: 100vh;
  padding-left: 251px;
  background-color: #051320;
}

.graph-container-empty {
  height: 90vh;
  position: absolute;
  top: 35%;
  left: 45%;
}

.graph-controls-container {
  padding: 1rem;
  text-align: left;
  margin-left: 10px;
}

.graph-form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.graph-form-block {
  width: 250px;
}

.graph-form-button-block {
  width: 100px;
}

.graph-form-element,
.graph-form-button {
  height: 40px;
  width: 100%;
  padding-left: 10px;
}

.graph-notification {
  position: absolute;
  top: 0;
  left: 300px
}





.context-menu {
  position: absolute;
  display: none;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  width: 160px;
}

.copied-label {
  margin-left: 10px;
  color: rgb(255, 255, 255);
  background-color: #023c89;
}