<div class="consolidated-ioc-container">
    <div class="consolidated-ioc-stats">
        <div class="consolidated-ioc-stat-card">
            <img class="consolidated-ioc-icon" src="assets/images/shared/theme/alert-categories-icon.svg" alt="icon" />
            <div>
                <div class="consolidated-ioc-stat-value">{{apiElapsedTime}} ms</div>
                <div class="consolidated-ioc-stat-label"> Search Elapsed Time </div>
            </div>
        </div>
        <div class="consolidated-ioc-stat-card">
            <img class="consolidated-ioc-icon" src="assets/images/shared/theme/alert-categories-icon.svg" alt="icon" />
            <div>
                <div class="consolidated-ioc-stat-value">{{resultsFound}}</div>
                <div class="consolidated-ioc-stat-label">Results Found</div>
            </div>
        </div>
        <div class="consolidated-ioc-stat-card">
            <img class="consolidated-ioc-icon" src="assets/images/shared/theme/alert-categories-icon.svg" alt="icon" />
            <div>
                <div class="consolidated-ioc-stat-value">{{rankedResult.totalHits}}</div>
                <div class="consolidated-ioc-stat-label">Assets Searched</div>
            </div>
        </div>
        <div class="consolidated-ioc-stat-card">
            <img class="consolidated-ioc-icon" src="assets/images/shared/theme/alert-categories-icon.svg" alt="icon" />
            <div>
                <div class="consolidated-ioc-stat-value">23,995</div>
                <div class="consolidated-ioc-stat-label">Aggregated Data Wells</div>
            </div>
        </div>
    </div>
    <div class="consolidated-ioc-table">

        <div class="consolidated-ioc-header">
            <div>Email / Domain</div>
            <div>Category</div>
            <div></div>
        </div>

        <ng-container *ngFor="let result of rankedResult.result; let i = index">
            <div class="consolidated-ioc-row">
                <div>{{ sliceText(result.m_url,50) }}</div>
                <div>{{ result.rank_index }}</div>
                <div class="consolidated-ioc-expand" (click)="toggleRow(i)">
                    <img [src]="isExpanded(i) ? 'assets/images/shared/theme/dash.svg' : 'assets/images/shared/plus.svg'"
                        alt="toggle" />
                </div>
            </div>
            <div class="consolidated-ioc-expanded" *ngIf="isExpanded(i)">
                <p><strong>Description:</strong> {{ result.m_important_content }}</p>

                <div class="consolidated-ioc-tags">
                    <span *ngFor="let domain of result.m_domain">
                        {{ domain }}
                    </span>
                </div>
            </div>

        </ng-container>

    </div>
</div>