.search__pagination {
  display: inline-block;
  width: auto;
  max-width: 400px;
  margin-top: 20px;
  padding-left: 28px;
  padding-top: 6px;
  height: 50px;
}

.search__pagination-navigation {
  font-size: 13px;
  text-align: center;
  border: 0;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  margin-top: -2px;
  color: #fff;
  font-weight: bold;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 2px;
  margin-left: 2px;
  text-decoration: none;
  padding: 8px 5px 7px;
  border: none;
  background: #15345475;
  transition: background 0.2s ease-in-out !important;
}

.search__pagination-navigation:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background: #102A4685;
  opacity: 1;
}

.search__pagination-navigation:focus {
  outline: none;
}

.btn{
  outline: none ;
}

.search__navigation:hover{
}

.search__navigation {
  width: 35px;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  margin-left: 2px;
  height: 35px;
  border-radius: 10px;
  margin-right: 2px;
  margin-top: -2px;
  color: #ffffff;
  background: #15345475;
  border: 0;
  font-weight: bold;
  outline: none;
  transition: background 0.2s ease-in-out;
}

.disabled {
  border: 0;
  opacity: 0.5;
  color: white;
  pointer-events: none;
  outline: none;
}

.disabled:hover {
  background: none !important;
  box-shadow: none !important;
}

.search__navigation--focus{
  background: #102A4699;
  color: #fff;
  transition: background 0.2s ease-in-out;
}

.search__navigation:active {
  background: #102A4685 ;
}

.search__navigation:hover {
  text-decoration: none;
  color: #fff;
  background: #102A4685;
}

.search__navigation:focus {
  outline: none;
}

.search__pagination-container a.active {
  color: black;
  border-bottom: 3px solid #404040;
}

.search__pagination-container {
  display: flex;
  align-items: center;
}

.search__pagination-navigation[disabled],
.search__pagination-navigation[disabled]:hover {
  cursor: context-menu;
  pointer-events: none;
  user-select: none;
  color: #bbb;
  opacity: 0.4;
  display: none;
}
