.dash-searchbar {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 232px;
  border-radius: 8px;
  margin-left: 32px;
  margin-right: 32px;
}

@media only screen and (max-width: 550px) {
  .dash-searchbar {
    display: grid;
  }
}

.dash-searchbar-div {
  width: 230px;
}

.dash-searchbar__input {
  align-self: center;
  border-radius: 8px 0 0 7px;
  height: 44px;
  background: #174069;
  width: 185px;
  font-size: 16px;
  padding-left: 20px;
  margin-left: 0;
  padding-right: 45px;
}

.dash-searchbar__input::placeholder {
  color: #ffffff90;
}

.dash-searchbar__input:focus {
  box-shadow: none;
}

.dash-searchbar__input-button {
  background: #174069 !important;
  width: 45px;
  border-radius: 0 8px 8px 0;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #FCFCFC12 !important;
  border-left: none !important;
}

.dash-searchbar__input-button:hover,
.dash-searchbar__input-button:focus,
.dash-searchbar__input-button:active,
.dash-searchbar__input-button:focus-visible {
  background: #31669b !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.col-md-6,
.col-xl-6,
.col-sm-12,
.col-xs-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
