<img src="/assets/images/shared/Bg.webp" alt="background" class="app-background img-fluid w-100 h-100 object-fit-cover" >
<app-result [searchQuery]="query" [showAnalytics] = false [type]="type" (reloadFilters)="reloadFilters($event)" (resetFilter)="resetFilters($event)"  [filterModel]="defacement_filters" [isLoading]="isLoading" (updateQuery)="onUpdateQuery($event)" (reloadData)="fetchSearchResults(true)" [result_count]="Math.ceil(result_count)"></app-result>

<div *ngIf="!isLoading && this.defacementCallbackModel.Result.length" @fadeInDashboardItem>
  <app-dashboard-result-list [searchResults]="defacementCallbackModel.Result"></app-dashboard-result-list>
</div>

<div *ngIf="!isLoading && this.defacementCallbackModel.Result.length > 0" @fadeInDashboardItem class="pagination-margin">
  <app-pagination (pageChange)="onPageChange($event)" [maxPages]="Math.floor(this.defacementParamModel.mSearchParamPage * this.defacementCallbackModel.Page_Count)"></app-pagination>
</div>
