<div class="data-accordion__main-div">
  <ng-container *ngFor="let category of objectKeys(categories)">
    <div class="data-accordion__container">
      <input [id]="category + '-toggle'" class="accordion-toggle" type="checkbox">
      <label [for]="category + '-toggle'" class="data-accordion__header">
        <div>
          <img alt="" class="category__icons" height="20" ngSrc="assets/images/shared/document_count.svg" priority
               width="20">
          {{ category }}
        </div>
        <img alt="Dropdown Arrow" class="dropdown-icon" height="20" ngSrc="assets/images/shared/dropdown_left.svg"
             width="20">
      </label>
      <div class="data-accordion__content">
        <div *ngFor="let item of categories[category]; let i = index" class="data-accordion__row">
          <div *ngIf="item && true" class="data-accordion__column">
            {{ i + 1 }}. {{ item.length > 20 ? (item | slice:0:20) + '...' : item }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
