<div [ngClass]="{ 'selected-filter-bar__top-space': showSorting }" @fadeInDashboardItem>
  <div class="selected-filter-bar selected-filter-bar__left-space" *ngIf="sidebarFilterCount(true)>0 || entityFiltersCount()>0 || this.app_service.getConfig().localSettings.matchType && this.app_service.getConfig().localSettings.matchType!='or'">
    <div class="selected-filter-bar__top-row">
      <div class="selected-filter-bar__title">Filters</div>
      <div class="selected-filter-bar__actions">
        <ng-container *ngIf="isConsolidatedRoute()">
          <div class="selected-filter-bar__filter-type" *ngIf="entityFiltersCount()>0">
            Filter Type ({{ app_service.getConfig().localSettings.entityFilterCondition ? 'must' : 'should' }})
          </div>
          <div class="selected-filter-bar__filter-type" *ngIf="entityFiltersCount()>0">
            Entity({{ entityFiltersCount() }}) <img src="../../../../assets/images/shared/theme/searchFilter_clossButton_white.svg" class="selected-filter-bar__remove-x" (click)="clearFilters('entity')" alt="close"/>
          </div>
        </ng-container>
        <div class="selected-filter-bar__filter-type" *ngIf="sidebarFilterCount()>0">
          Sidebar({{ sidebarFilterCount() }}) <img src="../../../../assets/images/shared/theme/searchFilter_clossButton_white.svg" class="selected-filter-bar__remove-x" (click)="clearFilters('sidebar')" alt="close"/>
        </div>
        <div class="selected-filter-bar__filter-type" *ngIf="this.app_service.getConfig().localSettings.matchType && this.app_service.getConfig().localSettings.matchType!='or'">
          Search Type ({{ this.app_service.getConfig().localSettings.matchType }}) <img src="../../../../assets/images/shared/theme/searchFilter_clossButton_white.svg" class="selected-filter-bar__remove-x" (click)="clearMatchType()" alt="close"/>
        </div>
        <button class="selected-filter-bar__clear-btn" (click)="clearFilters('all')">Clear Selection</button>
        <div class="selected-filter-bar__expand-icon" [ngClass]="{ 'expand': isFilterBarExpanded }" (click)="toggleFilterBarCollapse()">
          <img src="../../../../assets/images/shared/theme/cheveron-right.svg" alt="Toggle Icon"/>
        </div>
      </div>
    </div>

    <div *ngIf="isFilterBarExpanded">
      <div class="selected-filter-bar__primary-filters-wrap">
        <ng-container *ngIf="sidebarFilterCount() > 0; else noSidebarFilters">
          <ng-container *ngFor="let key of sidebarFilters()">
            <div class="selected-filter-bar__filter-item">
              <div class="selected-filter-bar__filter-label-edit">
                {{ filter_mapping[key] || key }}
              </div>
              <span class="selected-filter-bar__filter-tag">
                {{ selectedFilters[key] }}
              </span>
            </div>
          </ng-container>
        </ng-container>

        <ng-template #noSidebarFilters>
          <div class="selected-filter-bar__no-filters-text">
            Sidebar filters are empty. Click the filter icon (top right) to select filters.
          </div>
        </ng-template>
      </div>


      <div class="selected-filter-bar__divider"></div>

      <ng-container *ngIf="entityFiltersCount(); else noSearchFilters">
        <div class="selected-filter-bar__filter-item">
          <div class="selected-filter-bar__filter-label-edit">Entity Type</div>
          <div class="selected-filter-bar__entity-filter-wrap">
            <ng-container *ngIf="getVisibleTags().length > 0">
              <div class="selected-filter-bar__filter-tag" *ngFor="let tag of getVisibleTags()">
                {{ tag }}<img src="assets/images/shared/theme/searchFilter_clossButton_white.svg" class="selected-filter-bar__remove-x" (click)="removeEntityTypeFilterTag(tag)" alt="search"/>
              </div>
              <div class="selected-filter-bar__filter-tag selected-filter-bar__more-tag" *ngIf="getHiddenTagCount()> 0">
                +{{ getHiddenTagCount() }}
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>

      <ng-template #noSearchFilters>
        <div class="selected-filter-bar__no-filters-text">
          Entity filters are empty. Click the search bar to select filters.
        </div>
      </ng-template>
    </div>

  </div>
</div>
