<div class="chat-support" [class.chat-support--open]="chatOpen">
  <button *ngIf="!chatOpen" class="chat-support__toggle chat-support__push" (click)="openChat()" type="button">
    <span><img src="assets/images/shared/theme/chat.svg" alt="chat" /></span>
  </button>

  <div *ngIf="chatOpen" class="chat-support__overlay">
    <div class="chat-support__window" @chatBotAnimation>
      <div class="chat-support__header">
        <div class="chat-support__main-avatar">
          <img alt="chat" src="assets/images/shared/chat-icon.svg" />
          <span class="chat-support__status-indicator"></span>
        </div>
        <div class="chat-support__header-text">Orion Analyst</div>
        <div class="chat-support__close-btn" (click)="closeChat()">
          <img src="assets/images/shared/cross.svg" alt="close">
        </div>
      </div>

      <div #messagesContainer class="chat-support__messages chat-support__messages--scroll"
        (scroll)="onMessagesScroll()">
        <div *ngFor="let msg of chatMessages; trackBy: trackByIndex">
          <ng-container [ngSwitch]="msg.sender">
            <div *ngSwitchCase="'user'" class="chat-support__message-container">
              <div class="chat-support__chat-avatar">
                <img alt="profile icon" src="assets/images/shared/user-icon.svg" />
              </div>
              <div class="chat-support__msg chat-support__msg--user">
                <p>{{ msg.text }}</p>
              </div>
            </div>
            <div *ngSwitchCase="'bot'" class="chat-support__message-container">
              <div class="chat-support__chat-avatar">
                <img alt="chat-icon" src="assets/images/shared/chat-icon.svg" />
              </div>
              <div class="chat-support__msg chat-support__msg--bot">
                <p>{{ msg.text }}</p>
              </div>
            </div>
            <div *ngSwitchCase="'error'">
              <div class="chat-support__error-box">
                <p>{{ msg.text }}</p>
                <button *ngIf="msg.retryPayload" class="chat-support__retry-btn"
                  (click)="retryMessage(msg.retryPayload)" aria-label="Retry">
                  <img src="assets/images/shared/chat-support-retry.svg" alt="Retry" />
                </button>
              </div>
            </div>
          </ng-container>
        </div>

        <div *ngIf="isBotTyping" class="chat-support__msg chat-support__msg--bot chat-support__typing">
          <span class="chat-support__typing-dot"></span>
          <span class="chat-support__typing-dot"></span>
          <span class="chat-support__typing-dot"></span>
        </div>

        <div #bottomSentinel class="chat-support__bottom-sentinel"></div>
      </div>

      <form class="chat-support__input" (submit)="sendMessage($event)">
        <input type="text" [(ngModel)]="newMessage" name="message" placeholder="Write a message"
          class="chat-support__input-field" required />
        <button #submitBtn type="submit" class="chat-support__send-btn chat-support__push"
          (click)="pushButton(submitBtn)">
          <img src="assets/images/shared/chat_small.svg" alt="chat">
        </button>
      </form>
    </div>
  </div>
</div>