.system-settings_card {
    align-items: center;
}

.system-settings_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.system-settings_field {
    display: flex;
    flex-direction: column;
}

.system-settings_label {
    color: var(--color-text6);
    font-size: 12px;
    margin-bottom: 6px;
    font-weight: 400;
}

@keyframes editFieldIn {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}