.dropdown-menu {
	border-radius: 10px;
	font-size: 14px;
}

.dropdown-menu-container{
  min-width: 350px;
}

.table thead th{
  font-size: 14px;
  color: #76b7ef !important;
  border-bottom: 2px solid #57A5EB60 !important;
}

.dropdown-menu::before {
	content: "";
	position: absolute;
	top: -8px;
	left: 50%;
	transform: translateX(-50%);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	z-index: 1000;
}

.clear-paddings {
	margin: 0 !important;
	padding: 0 !important;
}

.app-background {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 3%;
	object-fit: contain;
	object-position: top right;
	pointer-events: none;
}

.app-background-dark {
	opacity: 5%;
}

img::before {
	color: white;
	font-size: 12px;
}

.dropdown-item.active,
.dropdown-item:active {
	background: #e6e6e6 !important;
}

.pagination-margin {
	margin-left: 28px;
}


img {
  user-select: none;
}


a,
a:link,
a:visited,
a:hover,
a:focus,
a:active,
:any-link {
  text-decoration: none !important;
}
