<div class="user-settings_section" @fadeInDashboardItem>
    <div class="user-settings_section-header" (click)="toggleSection('profile')">
        <span class="user-settings_section-title">
            {{ 'Tenant Data' }}
        </span>
        <img src="assets/images/shared/theme/search_side_dropdown_icon_dark.svg" class="user-settings_arrow-icon"
            [class.user-settings_arrow-icon--rotated]="isAccountSectionOpen" alt="" />
    </div>

    <span class="user-settings_section-description">
        {{'Manage and edit your company details, including phone, address, and profile information.' }}
    </span>

    <div *ngIf="isAccountSectionOpen">
        <div class="user-settings_card">
            <div class="user-settings_info">
                <div class="user-avatar">
                    <div class="avatar-wrapper">
                        <app-user-image-picker [imageUrl]="userSessionData.tenant.image || ''"
                            (onImageSelected)="updateUserResource($event)" (onClear)="deleteUserResource()">
                        </app-user-image-picker>
                    </div>
                </div>

                <div>

                    <div class="user-settings_company-name">
                        <input type="text" [(ngModel)]="userSessionData.tenant.name" class="user-settings_input"
                            disabled placeholder="Enter company name" />
                    </div>

                    <div class="user-settings_company-location">
                        {{ getLocationDisplay() || 'Location will appear here' }}
                    </div>

                    <div class="user-settings_company-location">
                        Licenses〡{{ userSessionData.tenant.licenses.join(', ') || 'No licenses assigned'
                        }}
                    </div>
                </div>
            </div>

            <div class="user-settings_action-buttons"
                *ngIf="isMember() && !licenseService.getLicenses().includes('free')">
                <button class="user-settings_edit-btn" *ngIf="isEditing" (click)="cancelEdit($event)">
                    Cancel
                </button>
                <button class="user-settings_edit-btn" (click)="toggleEdit($event)">
                    {{ isEditing ? 'Save' : 'Edit' }}
                </button>
            </div>
        </div>

        <div class="user-settings_box" *ngIf="isMember() && !licenseService.getLicenses().includes('free')">
            <div class="user-settings_box-header">Contacts</div>
            <div class="user-settings_box-content">
                <div class="user-settings_row">
                    <div class="user-settings_info-item">
                        <div class="user-settings_info-label">Email address</div>
                        <input type="email" [(ngModel)]="userSessionData.user.email" class="user-settings_info-value"
                            disabled />
                    </div>

                    <div class="user-settings_info-item">
                        <div class="user-settings_info-label">Phone</div>
                        <input type="text" [(ngModel)]="userSessionData.tenant.phone" class="user-settings_info-value"
                            [disabled]="!isEditing" [ngClass]="{ 'user-settings_editable': isEditing }"
                            placeholder="Enter phone..." />
                    </div>
                </div>
            </div>
        </div>
        <div class="user-settings_box" *ngIf="isMember() && !licenseService.getLicenses().includes('free')">
            <div class="user-settings_box-header">Users</div>
            <div class="user-settings_box-content">
                <div class="user-settings_row">
                    <div class="user-settings_info-item">
                        <div class="user-settings_info-label">Assigned User Quota</div>
                        <div class="user-settings_info-value mt-2">
                            {{ userSessionData.tenant.assignedQuota || '0' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-settings_box" *ngIf="isMember() && !licenseService.getLicenses().includes('free')">
            <div class="user-settings_box-header">Address</div>
            <div class="user-settings_box-content">
                <div class="user-settings_row">
                    <div class="user-settings_info-item">
                        <div class="user-settings_info-label">Country</div>
                        <input type="text" [(ngModel)]="userSessionData.tenant.country" class="user-settings_info-value"
                            [disabled]="!isEditing" [ngClass]="{ 'user-settings_editable': isEditing }"
                            placeholder="Enter country..." />
                    </div>

                    <div class="user-settings_info-item">
                        <div class="user-settings_info-label">City/State</div>
                        <input type="text" [(ngModel)]="userSessionData.tenant .city" class="user-settings_info-value"
                            [disabled]="!isEditing" [ngClass]="{ 'user-settings_editable': isEditing }"
                            placeholder="Enter city/state..." />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>