<ng-container>
    <app-header></app-header>
</ng-container>

<div class="auth-wrapper">
    <div class="auth-wrapper__left">
        <div class="signup-wrapper">
            <div class="signup-container">
                <div class="signup-container__title">Forgot Password</div>

                <p *ngIf="!hasToken" class="signup-container__subtitle">
                    Enter your registered email to get password reset link!
                </p>

                <p *ngIf="hasToken" class="signup-container__subtitle">
                    Enter your new password
                </p>

                <form #forgotForm="ngForm" (ngSubmit)="onSubmit(forgotForm)" class="signup-container__form">

                    <div *ngIf="!hasToken" class="signup-container__form-group">
                        <label class="signup-container__label">Register Mail</label>
                        <input [(ngModel)]="email" id="id_companymail" placeholder="Enter your registered mail"
                            class="signup-container__input" name="companymail" required type="email" />
                    </div>

                    <div *ngIf="hasToken">
                        <div class="signup-container__form-group">
                            <label class="signup-container__label">New Password</label>
                            <input [(ngModel)]="password" name="password" placeholder="Enter new password"
                                class="signup-container__input" required minlength="6" type="password" />
                        </div>

                        <div class="signup-container__form-group">
                            <label class="signup-container__label">Confirm Password</label>
                            <input [(ngModel)]="confirmPassword" name="confirmPassword"
                                placeholder="Confirm new password" class="signup-container__input" required
                                minlength="6" type="password" />
                        </div>

                        <p *ngIf="password && confirmPassword && password !== confirmPassword"
                            class="login-error-message">
                            Password and confirm password do not match
                        </p>
                    </div>

                    <p *ngIf="errorMessage" class="login-error-message">
                        {{ errorMessage }}
                    </p>
                    <div>
                        <input [disabled]="!forgotForm.valid || (hasToken && password !== confirmPassword)"
                            [class.signup-container__button]="forgotForm.valid && (!hasToken || password === confirmPassword)"
                            [class.signup-container__button-disabled]="!forgotForm.valid || (hasToken && password !== confirmPassword)"
                            type="submit" [value]="hasToken ? 'Reset Password' : 'Get reset link'" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="auth-wrapper__right image-wrapper">
        <img src="/assets/images/shared/auth_dashboard_icon.svg" alt="Dashboard Preview" class="auth-wrapper__image" />
    </div>
</div>