<div class="add-alert-wrapper" (click)="cancleAlert(false)">
    <div class="add-alert-container" (click)="$event.stopPropagation()">
        <div class="add-alert-header">
            <span class="add-alert-heading">{{heading}}</span>
            <span class="add-alert-close" (click)="cancleAlert(false)">✕</span>
        </div>


        <div class="add-alert-description">{{description}}</div>

        <div class="add-alert-row">
            <div class="add-alert-column">
                <div class="add-alert-field-title">Select Type</div>
                <div class="dropdown">
                    <button aria-expanded="false"
                        class="btn dropdown-toggle add-alert-input w-100 text-start d-flex justify-content-between align-items-center dropdown-select"
                        data-bs-toggle="dropdown" id="alertTypeDropdown" type="button">
                        {{ getAlertTypeLabel(alert.type!.toLowerCase()) }}
                    </button>

                    <ul [attr.aria-labelledby]="'alertTypeDropdown'"
                        class="dropdown-menu w-100 p-1 mt-2 border-0 shadow sidebar_dropdown-animation rounded-3 dropdown-scroll">

                        <li *ngFor="let t of alertTypes; let last = last">
                            <a (click)="onAlertTypeChange(t.key)" class="dropdown-item py-0 d-flex align-items-center">
                                {{ t.label }}
                            </a>

                            <ng-container *ngIf="!last">
                        <li class="dropdown-divider m-0 mx-3"></li>
                        </ng-container>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="add-alert-column">
                <div class="add-alert-field-title">Hash</div>
                <input [(ngModel)]="alert.data_hash" class="add-alert-input" type="text"
                    placeholder="Enter hash value" />
            </div>
        </div>

        <div class="add-alert-row">
            <div class="add-alert-column">
                <div class="add-alert-field-title">Select IOC Type</div>

                <div class="dropdown">
                    <button aria-expanded="false"
                        class="btn dropdown-toggle add-alert-input w-100 text-start d-flex justify-content-between align-items-center dropdown-select"
                        data-bs-toggle="dropdown" id="iocTypeDropdown" type="button">
                        {{ getIOCTypeLabel(alert.ioc_type!) }}
                    </button>

                    <ul [attr.aria-labelledby]="'iocTypeDropdown'"
                        class="dropdown-menu w-100 p-1 mt-2 border-0 shadow sidebar_dropdown-animation rounded-3 dropdown-scroll">

                        <li *ngFor="let item of (iocTypes | keyvalue); let last = last">
                            <a (click)="onIOCTypeChange(item.key)" class="dropdown-item py-0 d-flex align-items-center">
                                {{ item.value }}
                            </a>

                            <ng-container *ngIf="!last">
                        <li class="dropdown-divider m-0 mx-3"></li>
                        </ng-container>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="add-alert-column">
                <div class="add-alert-field-title">Ioc Value</div>
                <input [(ngModel)]="alert.ioc_value" class="add-alert-input" type="text"
                    placeholder="Enter Ioc value" />
            </div>
        </div>


        <div class="add-alert-row">
            <div class="add-alert-column">
                <div class="add-alert-field-title">First Seen</div>
                <input type="date" [(ngModel)]="alert.first_seen" (ngModelChange)="setLastSeen($event)"
                    class="add-alert-input" />
            </div>
            <div class="add-alert-column">
            </div>
        </div>


        <div class="add-alert-footer">
            <button class="add-alert-btn cancel" (click)="cancleAlert(false)">Cancel</button>
            <button class="add-alert-btn add" (click)="saveAlert()">
                {{ edit ? 'Save Alert' : 'Add Alert' }}
            </button>

        </div>
    </div>
</div>