<div
  class="add-alert-wrapper add-tenant_wrapper"
  @overlayAnimation
  (click)="$event.target === $event.currentTarget && cancleAlert(false)">
  <div class="add-alert-container add-tenant_container" @popupAnimation>
    <div class="add-alert-header add-tenant_header">
      <div class="add-alert-heading add-tenant_heading">{{ heading }}</div>
      <button class="add-alert-close add-tenant_close-btn" (click)="cancleAlert(false)">×</button>
    </div>

    <form class="add-alert-form add-tenant_form">
      <div class="add-alert-description">{{ description }}</div>

      <label class="add-alert-field-title add-tenant_label">Selected Type</label>
      <div class="dropdown">
        <button
          class="btn add-alert-input add-tenant_input w-100 text-start d-flex justify-content-between align-items-center dropdown-select"
          type="button"
          disabled>
                {{ decodeURIComponent(router.url.split('/').pop() || '') }}
        </button>
      </div>

      <label class="add-alert-field-title add-tenant_label">Title</label>
      <input
        [(ngModel)]="alert.title"
        class="add-alert-input add-tenant_input"
        type="text"
        placeholder="Enter title"
        name="title" />

      <label class="add-alert-field-title add-tenant_label">Description</label>
      <textarea
        [(ngModel)]="alert.description"
        class="add-alert-input add-tenant_input add-alert-textarea"
        placeholder="Enter description"
        name="alert_description"
        rows="4"></textarea>

      <label class="add-alert-field-title add-tenant_label">Select IOC Type</label>
      <div class="dropdown">
        <button
          aria-expanded="false"
          class="btn dropdown-toggle add-alert-input add-tenant_input w-100 text-start d-flex justify-content-between align-items-center dropdown-select"
          data-bs-toggle="dropdown"
          id="iocTypeDropdown"
          type="button">
          {{ getIOCTypeLabel(alert.ioc_type!) }}
        </button>

        <ul
          [attr.aria-labelledby]="'iocTypeDropdown'"
          class="dropdown-menu w-100 p-1 mt-2 border-0 shadow sidebar_dropdown-animation rounded-3 dropdown-scroll">
          <ng-container *ngFor="let item of allowedIocTypes; let last = last">
            <li class="p-0">
              <button
                type="button"
                class="dropdown-item py-0 d-flex align-items-center justify-content-between pt-2 pb-2"
                (click)="onIOCTypeChange(item.key)"
                [class.active]="alert.ioc_type === item.key">
                <span>{{ item.title }}</span>
                <span *ngIf="alert.ioc_type === item.key">✓</span>
              </button>
            </li>
            <ng-container *ngIf="!last">
              <li class="dropdown-divider m-0 mx-3"></li>
            </ng-container>
          </ng-container>
        </ul>
      </div>

      <label class="add-alert-field-title add-tenant_label">Source</label>
      <input
        [(ngModel)]="alert.source"
        class="add-alert-input add-tenant_input"
        type="text"
        placeholder="Enter source"
        name="source" />

      <label class="add-alert-field-title add-tenant_label">URL</label>
      <input
        [(ngModel)]="alert.url"
        class="add-alert-input add-tenant_input"
        type="text"
        placeholder="Enter url"
        name="url" />

      <label class="add-alert-field-title add-tenant_label">IOC Value</label>
      <input
        [(ngModel)]="alert.ioc_value"
        (ngModelChange)="onIocValueChange($event)"
        class="add-alert-input add-tenant_input"
        type="text"
        placeholder="Enter IOC value"
        name="ioc_value" />
    </form>
    <div *ngIf="formError" class="add-alert-form-error w-100">
        <div class="d-inline-block mt-2 px-3 py-2 rounded-lg bg-danger bg-opacity-75 text-white shadow-sm text-center w-100">
          <i class="bi bi-exclamation-diamond-fill me-2"></i>
          {{ formError }}
        </div>
    </div>

    <div class="add-alert-footer add-tenant_footer">
      <button class="add-alert-btn cancel add-tenant_btn-outline" (click)="cancleAlert(false)">Cancel</button>
      <button class="add-alert-btn add add-tenant_btn-primary" (click)="saveAlert()">
        {{ edit ? 'Save Alert' : 'Add Alert' }}
      </button>
    </div>

  </div>
</div>
