.suggestion {
  display: flex;
  justify-content: space-between;
  padding: 25px 48px 30px 20px;
}

.suggestion_header {
  color: #ffc107;
  font-size: 18px;
  font-weight: 500;
}

.suggestion_error {
  margin-left: 15px;
}

.suggestion_select:hover {
  color: #4EA2F1 !important;
}

.suggestion_header {
  color: #ffc107;
  font-size: 18px;
  font-weight: 500;
}

.suggestion_info {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  font-style: italic;
  cursor: pointer;
}

.suggestion_info {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  font-style: italic;
  cursor: pointer;
}
