<div class="graph-sidebar__container">
  <a href="#"><img [src]="appService.getConfig().logo_url || 'assets/images/sidebar/search_nav_logo.png'" alt="Logo" class="graph-sidebar__container-logo img-fluid graph-sidebar__container-logo-padded" height="35" width="197"/></a>
  <form class="sidebar_form">
    <div class="sidebar_content">

      <label class="sidebar_label mt-1">Type</label>
      <div class="dropdown mb-3">
        <button aria-expanded="false" class="btn dropdown-toggle sidebar_input w-100 text-start d-flex justify-content-between align-items-center dropdown-select" data-bs-toggle="dropdown" id="dropdownType" type="button">
          {{ selectedType | titlecase }}
        </button>
        <ul aria-labelledby="dropdownType" class="dropdown-menu w-100 p-1 mt-2 border-0 shadow sidebar_dropdown-animation rounded-3">
          <li *ngFor="let type of graphTypeOptions">
            <a (click)="onTypeChange(type)" class="dropdown-item py-0 d-flex align-items-center">{{
                type | titlecase
              }}</a>
            <ng-container *ngIf="type !== graphTypeOptions[graphTypeOptions.length - 1]">
              <li class="dropdown-divider m-0 mx-3"></li>
            </ng-container>
          </li>
        </ul>
      </div>

      <ng-container *ngIf="selectedType === 'cluster'">
        <label class="sidebar_label mt-1">Cluster Type</label>
        <div class="dropdown">
          <button aria-expanded="false" class="btn dropdown-toggle sidebar_input w-100 text-start d-flex justify-content-between align-items-center dropdown-select" data-bs-toggle="dropdown" id="dropdownCluster" type="button">
            {{ singleInput | titlecase }}
          </button>
          <ul aria-labelledby="dropdownCluster" class="dropdown-menu w-100 p-1 mt-2 border-0 shadow sidebar_dropdown-animation rounded-3">
            <li *ngFor="let option of graphClusterOptions">
              <a (click)="singleInput = option" class="dropdown-item py-0 d-flex align-items-center">{{ option }}</a>
              <ng-container *ngIf="option !== graphClusterOptions[graphClusterOptions.length - 1]">
                <li class="dropdown-divider m-0 mx-3"></li>
              </ng-container>
            </li>
          </ul>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedType === 'property'">
        <label class="sidebar_label mt-1">Property Type</label>
        <div class="dropdown">
          <button aria-expanded="false" class="btn dropdown-toggle sidebar_input w-100 text-start d-flex justify-content-between align-items-center dropdown-select" data-bs-toggle="dropdown" id="dropdownProperty" type="button">
            {{ onFormatPropertyType(propertyType) | titlecase }}
          </button>
          <ul aria-labelledby="dropdownProperty" class="dropdown-menu w-100 p-1 mt-2 border-0 shadow sidebar_dropdown-animation rounded-3">
            <li *ngFor="let property of graphAllowedProperties">
              <a (click)="propertyType = property.key" class="dropdown-item py-0 d-flex align-items-center">{{
                  property.label
                }}</a>
              <ng-container *ngIf="property !== graphAllowedProperties[graphAllowedProperties.length - 1]">
                <li class="dropdown-divider m-0 mx-3"></li>
              </ng-container>
            </li>
          </ul>
        </div>
        <label class="sidebar_label mt-1">Property Value</label> <input [(ngModel)]="propertyValue" class="form-control sidebar_input filter__input-form" name="propertyValue" placeholder="Enter value" type="text"/>
      </ng-container>

      <ng-container *ngIf="selectedType === 'document'">
        <label class="sidebar_label mt-1">Document ID</label> <input [(ngModel)]="singleInput" class="form-control sidebar_input" name="singleInput" placeholder="Enter ID" type="text"/>
      </ng-container>

      <label class="sidebar_label mt-1">Maximum Nodes</label> <input (blur)="validateMaxNodes()" [(ngModel)]="maxNodes" class="form-control sidebar_input" max="800" min="20" name="maxNodes" placeholder="Enter maximum nodes" required type="number"/>

      <label class="sidebar_label mt-3">Maximum Depth</label> <input (blur)="validateMaxDepth()" [(ngModel)]="maxDepth" class="form-control sidebar_input" max="5" min="1" name="maxDepth" placeholder="Enter maximum depth" required type="number"/>

      <div class="sidebar_submit">
        <div class="sidebar_submit d-flex flex-column mt-4">
          <button (click)="applyFilters()" class="btn btn-primary sidebar_submit-button" type="button">Apply</button>
        </div>
        <button (click)="resetFilters()" class="btn btn-secondary mb-4 sidebar_submit-button" type="button">
          Reset
        </button>
      </div>
    </div>
  </form>
</div>
