.graph-sidebar__container {
  width: 280px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-blue-860);
}

.graph-sidebar__container .sidebar_label {
  margin-top: 5px;
}

.graph-sidebar__container .sidebar_input {
  font-size: 14px;
}

.graph-sidebar__container .filter__input-form {
  border: 2px solid #2C86DD;
}

.graph-sidebar__container-logo {
  margin: 0 12px 12px 0;
}

.graph-sidebar__container-logo-padded {
  margin-left: 12px;
  margin-top: 20px;
}

.graph-sidebar__container .sidebar_form {
  background: none;
  padding: 12px 17px 12px 12px;
  height: 90vh;
}

.graph-sidebar__container .sidebar_submit {
  margin-bottom: 20px;
}
