<div class="bar-chart_container">
  <div class="bar-chart_statistics-text">
    <span>Statistics</span>
    <img src="/assets/images/shared/theme/info.svg" alt="info" class="bar-chart_info-icon" [appTooltip]="dashboardTooltips[graphModel.title ?? '']" />
  </div>

  <div *ngIf="graphModel?.title" class="bar-chart_chart-title">
    {{ graphModel.title }}
  </div>

  <div class="bar-chart_separator-line"></div>

  <div class="bar-chart_grid">
    <div class="bar-chart_y-axis">
      <div *ngFor="let step of [4, 3, 2, 1, 0]">
        {{ round((step / 4) * roundedMaxValue).toLocaleString() }}
      </div>
    </div>

    <div class="bar-chart_bar-area">
      <div class="bar-chart_y-axis-gridlines">
        <ng-container *ngFor="let step of [4, 3, 2, 1, 0]">
          <div class="bar-chart_grid-line" [class.no-line]="step === 0"></div>
        </ng-container>
      </div>

      <div class="bar-chart_bars">
        <div class="bar-chart_bar-wrapper" *ngFor="let item of displayData">
          <div class="bar-chart_bar-container">
            <div class="bar-chart_bar-value">
              {{ item.value.toLocaleString() }}
            </div>

            <div class="bar-chart_bar" [style.height.%]="(item.value / roundedMaxValue) * 100" [appTooltip]="item.name + ': ' + item.value.toLocaleString()" tooltipPosition="top"></div>
          </div>

          <div class="bar-chart_bar-label">
            {{ item.name.length > 10 ? (item.name | slice: 0:10) + '…' : item.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>