.search__pagination {
  display: inline-block;
  width: auto;
  max-width: 400px;
  margin-top: 20px;
  padding-left: 5px;
  padding-top: 6px;
  height: 50px;
  margin-bottom: 160px;
}

.search__pagination-navigation {
  font-size: 13px;
  text-align: center;
  border: 0;
  border-radius: 8px;
  width: 38px;
  height: 38px;
  margin-top: -2px;
  color: grey;
  font-weight: bold;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 3px;
  margin-left: 3px;
  text-decoration: none;
  padding: 8px 5px 7px;
  border: none;
  background: #17406980 ;
  transition: background 0.2s ease-in-out !important;
}

.search__pagination-navigation:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background: #102A4685;
  opacity: 1;
}

.search__pagination-navigation:focus {
  outline: none;
}

.btn{
  outline: none ;
}

.search__navigation:hover{
}

.search__navigation {
  width: 38px;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  margin-left: 3px;
  height: 38px;
  border-radius: 8px;
  margin-right: 3px;
  margin-top: -2px;
  color: grey;
  background-color: #17406980;
  border: 0;
  font-weight: bold;
  outline: none;
  transition: background 0.2s ease-in-out;
}

.search__navigation--focus{
  background: #102A4699;
  color: #fff;
  transition: background 0.2s ease-in-out;
}

.search__navigation:active {
  background: #102A4685 ;
}

.search__navigation:hover {
  text-decoration: none;
  color: #fff;
  background: #102A4685;
}

.search__navigation:focus {
  outline: none;
}

.search__pagination-container a.active {
  color: black;
  border-bottom: 3px solid #404040;
}

.search__pagination-container {
  display: flex;
  align-items: center;
}

.search__pagination-navigation[disabled],
.search__pagination-navigation[disabled]:hover {
  cursor: context-menu;
  pointer-events: none;
  user-select: none;
  color: #bbb;
  opacity: 0.4;
  display: none;
}


@media only screen and (max-width: 943px) {
  .search__pagination {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-left: 5px;
    padding-top: 6px;
    border-radius: 8px;
    height: 50px;
  }
}
