<div *ngIf="maxPagination > 1" class="search__pagination">
  <div class="search__pagination-container">
    <button
      class="search__pagination-navigation"
      [disabled]="currentPage === 1"
      (click)="goToPage(1)">
      <img src="assets/images/nav-first.svg" alt="First">
    </button>
    <button
      class="search__pagination-navigation"
      [disabled]="currentPage === 1"
      (click)="goToPage(currentPage - 1)">
      <img src="assets/images/nav-prev.svg" alt="Previous">
    </button>

    <button
      *ngFor="let page of pages"
      class="search__navigation"
      [class.search__navigation--focus]="page === currentPage"
      (click)="goToPage(page)">
      {{ page }}
    </button>

    <button
      class="search__pagination-navigation"
      [disabled]="currentPage >= maxPagination"
      (click)="goToPage(currentPage + 1)">
      <img src="assets/images/nav-next.svg" alt="Next">
    </button>
  </div>
</div>
