.list-container{
  margin-left: 30px;
  margin-right: 30px;
}

.list-container .table{
  border-radius: 12px;
}

.list-container table tr:last-child {
  border-bottom: none !important;
}

.list-container thead tr:first-child {
  border-top: none !important;
}

.list-container tbody tr:first-child {
  border-top: 1px solid #FCFCFC12 !important;
}

.list-container .table td,
.list-container .table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  cursor: pointer;
}

