<ng-container>
    <app-header></app-header>
</ng-container>
<img alt="background" class="app-background app-background-dark img-fluid w-100 h-100 object-fit-cover"
    src="/assets/images/shared/Bg.webp">
<div class="welcome-page-wrapper">
    <div class="welcome-page__card">
        <img src="/assets/images/shared/welcom_icon.svg" alt="Tick">
        <h1>Congratulation!</h1>
        <p>
            Awesome! your request for account approval has been sent to<br>
            administrator successfully. You will receive confirmation email within<br>
            next 24 hours. Thank you.
        </p>
        <button (click)="goToLogin()">Go to login</button>
    </div>
</div>