.main-bg-grid {
  background-image: radial-gradient(circle, rgb(100 116 139 / 15%) 1px, transparent 1px);
  background-size: 2rem 2rem;
}

.border-user-connection {
  border-color: #fb923c;
}

.social-scanner-main{
  min-height: 100vh;
  height: auto;
}

.social-home .h-full{
  height: 100vh !important;
}

.social-home{
  height: 100vh !important;
}

.border-entity-connection {
  border-color: #a78bfa;
}

.context-menu-wrapper {
  position: fixed;
  z-index: 100;
}
