.social-mapper-main-bg-grid {
    background-image: radial-gradient(circle, rgb(100 116 139 / 15%) 1px, transparent 1px);
    background-size: 2rem 2rem;
}

.social-mapper-border-user-connection {
    border-color: #fb923c;
}

.social-mapper-border-entity-connection {
    border-color: #a78bfa;
}

.social-mapper-context-menu-wrapper {
    position: fixed;
    z-index: 100;
}

.social-mapper-platform-icon {
    background-color: #475569;
    border: 1px solid #64748b;
    box-shadow: inset 0 0 0 1px #64748b;
}
