.main-bg-grid {
    background-image: radial-gradient(circle, rgba(100, 116, 139, 0.15) 1px, transparent 1px);
    background-size: 2rem 2rem;
}

.border-user-connection {
    border-color: #fb923c;
}
.border-entity-connection {
    border-color: #a78bfa;
}

.context-menu-wrapper {
    position: fixed;
    left: var(--menu-x);
    top: var(--menu-y);
    z-index: 100;
}

.platform-icon {
    background-color: var(--platform-color);
}
