
.search__result-detail-section-content p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.search__result-detail-section-content h3 {
  font-size: 14px;
  color: #A0B8D1;
  font-family: Inter, sans-serif;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 5px;
}
