<div class="profile-image-container" (click)="fileInput.click()">
    <img [src]="previewUrl || currentImageUrl || '../../../../../assets/images/shared/default-profile.svg'" alt=""
        class="profile-image" />

    <div class="profile-image-overlay">
        <img src="../../../../../assets/images/shared/mask.svg" alt="" class="profile-mask-svg">
        <img src="../../../../../assets/images/shared/image_pick_icon.svg" alt="Upload Icon"
            class="profile-image-camera-icon" />
    </div>

    <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden />
</div>