<div class="footer__scroll-top">
  <div class="col-6 p-0">
    <a href="https://orion-search.readthedocs.io/en/latest/user_manual.html" class="footer__docs-icon footer__scroll-sizing" target="_blank">
      <span class="footer__scroll-top__icon">
        <img ngSrc="assets/images/shared/document_count.svg" alt="" width="24" height="24">
      </span>
      <span>Documentation</span>
    </a>
  </div>
  <div class="col-6 p-0 justify-content-end d-flex">
    <a href="#top" class=" gc-clear-selection footer__scroll-sizing">
      <span class="footer__scroll-top__text">Scroll to top</span>
      <span class="footer__scroll-top__icon">
        <img ngSrc="assets/images/shared/arrow_up.svg" alt="" width="24" height="24">
      </span>
    </a>
  </div>
</div>

