<div class="footer__scroll-top">
  <div class="col-6 p-0">
    <a class="footer__docs-icon footer__scroll-sizing" href="https://orion-search.readthedocs.io/en/latest/user_manual.html" target="_blank">
      <span class="footer__scroll-top__icon">
        <img alt="" height="24" ngSrc="assets/images/shared/document_count.svg" priority width="24">
      </span> <span>Documentation</span> </a>
  </div>
  <div class="col-6 p-0 justify-content-end d-flex">
    <a class=" gc-clear-selection footer__scroll-sizing" href="#top"> <span class="footer__scroll-top__text">Scroll to top</span> <span class="footer__scroll-top__icon">
        <img alt="" height="24" ngSrc="assets/images/shared/arrow_up.svg" width="24">
      </span> </a>
  </div>
</div>

