<ng-container>
    <span id="top"></span>
    <div class="directory-listing">
        <div class="directory-listing_container">
            <div class="directory-listing_main-container">
                <div class="directory-listing_upper-heading">
                    <div class="directory-listing_pagination-heading">
                        <p class="directory-listing_header">Tenant Records</p>
                    </div>
                    <div class="directory-listing_pagination col-7"></div>

                </div>
                <app-tenant-list></app-tenant-list>
            </div>
        </div>
    </div>
    <span id="bottom"></span>
</ng-container>