<div *ngIf="selectedSection === 'general_intelligence'">
  <h2>general_intelligence Section</h2>
  <p>Content for general_intelligence</p>
</div>

<div *ngIf="selectedSection === 'monitor'">
  <h2>Monitor Section</h2>
  <p>Content for Monitor</p>
</div>
<div *ngIf="selectedSection === 'leaks'">
  <h2>leaks Section</h2>
  <p>Content for leaks</p>
</div>
<div *ngIf="selectedSection === 'live_api'">
  <h2>Live APIs Section</h2>
  <p>Content for Live APIs</p>
</div>
<div *ngIf="selectedSection === 'links'">
  <h2>links Section</h2>
  <p>Content for links</p>
</div>
<div *ngIf="selectedSection === 'documentation'">
  <h2>documentation Section</h2>
  <p>Content for documentation</p>
</div>
