<div class="login">
  <img ngSrc="/assets/images/shared/Bg.png" alt="background" class="login-background" priority="true" fill="true">
</div>

<div *ngIf="!authenticated" id="content" class="auth_form__container">
  <div class="auth_form__sub__container">
    <div class="d-flex justify-content-center mb-5">
      <img ngSrc="/assets/images/shared/home-logo.svg" alt="logo" width="232" height="41" priority="true">
    </div>

    <!-- Display error message if login fails -->
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <!-- Template-driven form -->
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="auth_form__form-row">
        <label for="id_username" class="d-none">Username</label>
        <input type="text" id="id_username" name="username" [(ngModel)]="user.username" placeholder="Username" class="auth_form__input auth_form__input--text auth_form__input-user" required>
      </div>

      <div class="auth_form__form-row">
        <label for="id_password" class="d-none">Password</label>
        <input type="password" id="id_password" name="password" [(ngModel)]="user.password" class="auth_form__input" placeholder="Password" required minlength="6">
      </div>

      <div class="submit-row">
        <input type="submit" class="auth_form__form-button" [disabled]="!loginForm.valid" value="Log in"/>
      </div>
    </form>
  </div>
</div>

<footer class="auth_form__footer"></footer>
