<div class="toolbar">
  <div class="searchbar__search-toolbar-right">
    <a routerLink="/" class="gc-clear-selection">
      <div class="toolbar__button" [ngClass]="{'toolbar__button__selected': (currentPage$ | async) === '/'}">
        Home
      </div>
    </a>

    <a routerLink="/directory" class="gc-clear-selection">
      <div class="toolbar__button" [ngClass]="{'toolbar__button__selected': (currentPage$ | async) === '/directory'}">
        Links
      </div>
    </a>

    <a routerLink="/#analytics" class="gc-clear-selection">
      <button class="toolbar__button" [ngClass]="{'toolbar__button__selected': (currentPage$ | async) === '/analytics'}">
        Analytics
      </button>
      <img ngSrc="assets/images/shared/arrow_up.svg" alt="Icon" class="toolbar__button-rotate" width="24" height="24">
    </a>
  </div>
</div>
