.header-profile-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
}

.header-profile-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.header-profile-icon:hover {
  background: #f0f0f020;
}

.header-profile-dropdown {
  opacity: 0;
  background: #ffffff;
  padding: 10px 0;
  width: 200px;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
  border-radius: 8px;
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  font-size: 15px;
  margin-top: 5px;
  box-shadow: 0 4px 10px #0000001A;
  transform: translateY(10px);
  z-index: 10;
  pointer-events: none;
}

.header-profile-dropdown.show {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0);
  pointer-events: auto;
}

.header-profile-dropdown-arrow {
  position: absolute;
  top: -10px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #ffffff;
}

.header-profile-item {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  transition: background 0.3s ease;
  cursor: pointer;
}

.header-profile-item img {
  margin-right: 10px;
}

.header-profile-item:hover {
  background: #f0f0f0;
}

.header-profile-item:active {
  background: #cccccc;
  color: #000000;
}

.header-profile-status {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.header-profile-active {
  width: 10px;
  height: 10px;
  background: #28a745;
  border-radius: 50%;
  display: inline-block;
}

.header-profile-divider {
  border: 0;
  height: 1px;
  background: #dddddd;
  margin: 5px 15px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.searchbar-profile-button {
  position: absolute;
  right: 10px;
  top: 0;
}

@media only screen and (max-width: 1050px) {
  .searchbar-profile-button {
    display: none;
  }
}
