.profile-dropdown-toggle::after {
  display: none;
}

.profile-dropdown {
  opacity: 0;
  background: #fff;
  padding: 10px 0;
  width: 160px;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
  border-radius: 8px;
  right: 10px;
  position: absolute;
  pointer-events: none;
  z-index: 3;
  list-style: none;
  font-size: 15px;
  margin-top: 0;
  box-shadow: 0 4px 10px #0000001a;
  transform: translateY(10px);
  margin-right: 0;
  top: calc(100% + 8px);
}

.profile-dropdown-width {
  width: 220px;
  padding: 16px 16px 8px 16px;
}

.profile-dropdown.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.profile:focus-within .profile-dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.profile-dropdown .dropdown-item {
  padding-left: 15px;
  padding-right: 40px;
}

.profile-dropdown .dropdown-item:hover {
  background: #cccccc50;
}

.profile-dropdown .dropdown-item:active {
  background: #cccccc80;
  color: #000;
}

.profile_user-active {
  width: 10px;
  height: 10px;
}

.profile-dropdown-arrow {
  position: absolute;
  top: -10px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid white;
}

.profile_theme-toggle {
  font-size: 15px;
}

.profile input:checked+.small-slider {
  background-color: #000000;
}

.profile input:checked+.small-slider::before {
  transform: translateX(12px);
}

.profile {
  display: flex;
  align-items: center;
  gap: 2px;
  position: relative;
}

.profile_logout_icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.profile_category svg {
  fill: white;
}

.profile_category {
  cursor: pointer;
  font-size: 14px;
  padding: 18px 20px 20px;
}

.profile_category:focus {
  color: #8c8c8c;
  text-decoration: none;
}

.profile .small-switch {
  margin: 0;
}

.profile .small-slider.active::before {
  left: 15px;
}


.profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: none;
  min-width: 100%;
  box-sizing: border-box;
}

.profile-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e0e6ed;
  margin-bottom: 8px;
  flex-shrink: 0;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name-mail-container {
  display: flex;
  flex-direction: column;
  border-bottom: none;
  padding: 12px;

  /* overflow: hidden; */
}

.profile-name {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #344054;
  margin-bottom: 2px;
}

.profile-email {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #a0b8d1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
  display: block;
  cursor: default;
}

.profile-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px 12px 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.profile-item:hover {
  background-color: #f5f7fa;
  border-radius: 8px;
}

.profile-item img {
  width: 19px;
  height: 19px;
}

.profile-item span {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #172235;
}

.profile-divider {
  border: none;
  height: 1px;
  background-color: #e5e7eb;
  margin: 6px 0;
}

.notification-badge {
  position: absolute;
  top: 18px;
  right: 18px;
  color: white;
  font-size: 6px;
  font-weight: 600;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.green-badge {
  background: #00C853;
}

.red-badge {
  background: #FF0000;
}

.notification-icon {
  position: relative;
}