<div class="header-profile-container" *ngIf="this.username$ | async">
  <a class="header-profile-dropdown-toggle" (click)="toggleDropdown($event)">
    <div class="header-profile-icon">
      <img ngSrc="assets/images/shared/profile-icon.svg" alt="Profile" width="24" height="24" priority="true">
    </div>
  </a>

  <ul class="header-profile-dropdown" [class.show]="dropdownOpen">
    <li>
      <a class="header-profile-item disabled">
        <img ngSrc="assets/images/shared/profile.svg" alt="User" width="15" height="15" priority="true"/>
        {{ username$ | async }}
      </a>
    </li>
    <li class="header-profile-status">
      <span class="header-profile-active"></span>
      &nbsp;&nbsp;Active
    </li>
    <li><hr class="header-profile-divider"></li>
    <li>
      <a class="header-profile-item" href="/admin/" target="_blank">
        <img ngSrc="assets/images/shared/settings.svg" alt="Settings" width="15" height="15" priority="true"> &nbsp; Settings
      </a>
    </li>
    <li><hr class="header-profile-divider"></li>
    <li>
      <a class="header-profile-item" id="logout-button" (click)="logout()">
        <img ngSrc="assets/images/shared/logout.svg" alt="Logout" width="15" height="15" priority="true"> &nbsp; Logout
      </a>
    </li>
  </ul>
</div>
