.profile-header .profile-dropdown-toggle::after {
  display: none !important;
}

.profile-header .profile-dropdown {
  opacity: 0;
  background: #fff;
  padding: 10px 0;
  width: 160px;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
  border-radius: 8px;
  right: 10px;
  position: absolute;
  pointer-events: none;
  z-index: 3;
  list-style: none;
  font-size: 15px;
  margin-top: 0;
  box-shadow: 0 4px 10px #0000001a;
  transform: translateY(10px);
  margin-right: 0;
}

.profile-header .profile-dropdown.show {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: auto;
  transform: translateY(0);
}

.profile-header .header_form-user--logout:focus-within .profile-dropdown {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: auto;
  transform: translateY(0);
}

.profile-header .profile-dropdown .dropdown-item {
  padding-left: 15px;
  padding-right: 40px;
}

.profile-header .profile-dropdown .dropdown-item:hover {
  background: #cccccc50;
}

.profile-header .profile-dropdown .dropdown-item:active {
  background: #cccccc80;
  color: #000;
}

.profile-header .user-active {
  width: 10px;
  height: 10px;
}

.profile-header .profile-dropdown-arrow {
  position: absolute;
  top: -10px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid white;
}

.theme-toggle {
  font-size: 15px;
}

.profile-header  input:checked + .small-slider {
  background-color: #4667a0;
}

.profile-header  input:checked + .small-slider::before {
  transform: translateX(12px);
}

.profile-header  .small-slider.round {
  border-radius: 12px;
}

.header_form-user--logout {
  display: inline;
}

.header_form-user--logout_icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header .dropdown-toggle::after {
  display: none !important;
}

.header__menu-category svg {
  fill: white;
}

.header__menu-category {
  cursor: pointer;
  font-size: 14px;
  padding: 18px 20px 20px;
}

.header__menu-category:focus {
  color: #8c8c8c;
  text-decoration: none;
}

