<!--<form class="disable-highlight clear-paddings directory__header-pagination-form">-->
<!--  <div>-->
<!--    <ul class="directory-pagination">-->
<!--      <li [class.disabled]="page === 1">-->
<!--        <button class="directory-pagination-navbtn" type="button" (click)="changePage(1)" [disabled]="page === 1">-->
<!--          <img ngSrc="assets/images/shared/nav-first.svg" alt="Trustly Logo" width="24" height="24" priority="true">-->
<!--        </button>-->
<!--      </li>-->

<!--      <li [class.disabled]="page === 1">-->
<!--        <button class="directory-pagination-navbtn" type="button" (click)="changePage(page - 1)" [disabled]="page === 1">-->
<!--          <img ngSrc="assets/images/shared/nav-prev.svg" alt="Trustly Logo" width="24" height="24" priority="true">-->
<!--        </button>-->
<!--      </li>-->

<!--      <li *ngFor="let num of paginationNumbers" [class.active]="num === page">-->
<!--        <button class="directory-pagination-navbtn" type="button" (click)="changePage(num)" [disabled]="num === page">-->
<!--          {{ num }}-->
<!--        </button>-->
<!--      </li>-->

<!--      <li [class.disabled]="page === totalPages">-->
<!--        <button class="directory-pagination-navbtn" type="button" (click)="changePage(page + 1)" [disabled]="page === totalPages">-->
<!--          <img ngSrc="assets/images/shared/nav-next.svg" alt="Trustly Logo" width="24" height="24" priority="true">-->
<!--        </button>-->
<!--      </li>-->

<!--      <li [class.disabled]="page === totalPages">-->
<!--        <button class="directory-pagination-navbtn" type="button" (click)="changePage(totalPages)" [disabled]="page === totalPages">-->
<!--          <img ngSrc="assets/images/shared/nav-last.svg" alt="Trustly Logo" width="24" height="24" priority="true">-->
<!--        </button>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</form>-->
