<div class="default-notification-banner default-notification-banner-stealer">
  <span>
    <img alt="Info Icon" class="default-notification-banner-icon" src="../../../../assets/images/shared/hint.svg"/>
    <span>Parsed Stealer Logs: URL, Username/Email, and Password from matched patterns.</span>
  </span>
</div>

<div class="list__container credential-table" *ngIf="stealerData$ as stealerData">
  <table class="table table-striped directory-list__table clear-paddings">
    <thead>
    <tr>
      <th class="list__column-id-min w-auto">#</th>
      <th class="list__column-service-url">Domain</th>
      <th class="list__column-service-url">Email / Username</th>
      <th *ngIf="type === 'credential'" class="list__column-service-url">Password</th>
      <th class="list__column-service-url">Channel</th>
      <th *ngIf="type !== 'credential'" class="list__column-url-status">File</th>
      <th class="list__column-service-url">Timestamp</th>
      <th class="list__column-url-status">Expand</th>
    </tr>
    </thead>

    <tbody *ngIf="!isLoading" @fadeInDashboardItem>
    <ng-container *ngIf="stealerData.Result?.length; else emptyRow">
      <ng-container *ngFor="let item of stealerData.Result; let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td class="cursor-pointer text-break" (click)="copyRowData(item['domain']?.[0] ?? item['ip']?.[0] ?? '-')">
            {{ item['domain']?.[0] || item['ip']?.[0] || '-' }}
          </td>
          <td class="cursor-pointer text-break" (click)="copyRowData(item['email']?.[0] ?? item['username']?.[0] ?? '-')">
            {{ item['email']?.[0] || item['username']?.[0] || '-' }}
          </td>
          <td *ngIf="type === 'credential'" class="cursor-pointer text-break" (click)="copyRowData(item['password'] ?? '-')">
            {{ item['password'] || '-' }}
          </td>
          <td class="cursor-pointer text-break" (click)="copyRowData(item['channel'] ?? '-')">
            {{ item['channel'] || '-' }}
          </td>
          <td *ngIf="type !== 'credential'" class="cursor-pointer text-break" (click)="copyRowData(item['filename'] ?? '-')">
            {{ item['filename'] || '-' }}
          </td>
          <td class="text-break">
            {{ item['timestamp'] | date: 'dd MMM yyyy' }}
          </td>
          <td>
            <button class="btn btn-sm expand-btn" (click)="toggleRow(i)">
              {{ expandedIndex === i ? 'Less' : 'More' }}
            </button>
          </td>
        </tr>

        <tr *ngIf="expandedIndex === i">
          <td colspan="7">
            <div class="expanded-section">
              <ng-container *ngIf="item['raw']">
                <div class="expanded-block">
                  <div class="expanded-heading">Raw Data</div>
                  <br>
                  <pre class="expanded-pre">{{ item['raw'] }}</pre>
                </div>
              </ng-container>
              <div class="expanded-block">
                <div class="expanded-heading">Details</div>
                <br>
                <ul class="expanded-list">
                  <li *ngIf="item['domain']?.[0]">Domain: <span class="tag">{{ item['domain']?.[0] }}</span></li>
                  <li *ngIf="item['channel']">Channel: <span class="tag">{{ item['channel'] }}</span></li>
                  <li *ngIf="item['filename']">File: <span class="tag">{{ item['filename'] }}</span></li>
                  <li *ngIf="item['log_hash']">Log Hash: <code>{{ item['log_hash'] }}</code></li>
                  <li *ngIf="item['m_hash']">Model Hash: <code>{{ item['m_hash'] }}</code></li>
                  <li *ngIf="type === 'credential' && item['password']">Password: <span class="tag">{{ item['password'] }}</span></li>
                  <ng-container *ngFor="let entry of item | keyvalue">
                    <li *ngIf="entry.key !== 'raw'
                     && entry.key !== 'domain'
                     && entry.key !== 'mapping'
                     && entry.key !== 'channel'
                     && entry.key !== 'filename'
                     && entry.key !== 'log_hash'
                     && entry.key !== 'm_hash'
                     && entry.key !== 'delimiter'
                     && entry.key !== 'm_index'
                     && entry.key !== 'm_sub_host'
                     && entry.key !== 'password'">
                      {{ entry.key | titlecase }}:
                      <ng-container *ngIf="entry.value?.join; else notArray">
                        {{ entry.value.join(', ') }}
                      </ng-container>
                      <ng-template #notArray>
                        <strong>{{ entry.value }}</strong>
                      </ng-template>
                    </li>
                  </ng-container>
                </ul>

                <ng-container  *ngIf="type !== 'credential' && item['raw'] && item['mapping']">
                  <br>
                  <div class="expanded-heading mt-2">IOC Indicator</div>
                  <div class="mt-3">
                    <ng-container *ngFor="let m of item['mapping']; let idx = index">
                      <ng-container *ngIf="iocValue(item, idx) as val">
                        <div *ngIf="val && val.length >= 3" class="ioc-entry">
                          <span class="ioc-key">{{ m }} :</span> <span class="ioc-value">{{ val }}</span>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </ng-container>

              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-container>

    <ng-template #emptyRow>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </ng-template>
    </tbody>

    <tbody *ngIf="isLoading" @fadeInDashboardItem>
    <tr *ngFor="let _ of [1,2,3,4,5]">
      <td>
        <div class="skeleton_shimmer shimmer-line w-50"></div>
      </td>
      <td>
        <div class="skeleton_shimmer shimmer-line w-100"></div>
      </td>
      <td>
        <div class="skeleton_shimmer shimmer-line w-75"></div>
      </td>
      <td>
        <div class="skeleton_shimmer shimmer-line w-75"></div>
      </td>
      <td>
        <div class="skeleton_shimmer shimmer-line w-75"></div>
      </td>
      <td>
        <div class="skeleton_shimmer shimmer-line w-50"></div>
      </td>
      <td>
        <div class="skeleton_shimmer shimmer-line w-50"></div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
