<div class="pt-4">
  <div class="credential-table-main">
    <div class="credential_table_header" role="row">
      <div class="credential_col_small" role="columnheader">#</div>
      <div class="credential_col" role="columnheader">Domain / Host</div>
      <div class="credential_col hide-mobile" role="columnheader">Credential Identifier</div>
      <div class="credential_col_small hide-mobile" role="columnheader">Date</div>
      <div class="credential_col_icon" role="columnheader"></div>
    </div>

    <div *ngIf="isLoading" @fadeInDashboardItem>
      <div class="credential_table_header" *ngFor="let _ of [1,2,3,4,5]">
        <div class="skeleton_shimmer shimmer-line w-20"></div>
        <div class="skeleton_shimmer shimmer-line w-30"></div>
        <div class="skeleton_shimmer shimmer-line w-40"></div>
        <div class="skeleton_shimmer shimmer-line w-30"></div>
      </div>
    </div>

    <div *ngIf="!isLoading && stealerData$ as stealerData" class="credential_table_body" @fadeInDashboardItem>
      <div *ngIf="!stealerData.Result?.length" class="credential_row" role="row">
        <div class="credential_row-empty">-</div>
        <div class="credential_row-empty">-</div>
        <div class="credential_row-empty">-</div>
        <div class="credential_row-empty">-</div>
        <div class="credential_row-empty"></div>
      </div>

      <ng-container *ngIf="stealerData.Result?.length">
        <ng-container *ngFor="let item of stealerData.Result; let i = index; trackBy: trackByIndex">
          <div class="credential_row" role="row" tabindex="0" [attr.aria-expanded]="isExpanded(i, stealersExpandedRows)"
            [class.credential_row--expanded]="isExpanded(i, stealersExpandedRows)"
            (click)="toggleRow(i, stealersExpandedRows)" (keydown)="onRowKeydown($event, i, stealersExpandedRows)">
            <div class="credential_col_small credential_col_small--mono" role="cell">
              {{ (currentPage - 1) * pageSize + (i + 1) }}
            </div>

            <div class="credential_col credential_col--truncate" role="cell"
              [title]="item['source_domain'] || item['domain']?.[0] || item['ip']?.[0] || '-'">
              {{ item['source_domain'] || item['domain']?.[0] || item['ip']?.[0] || '-' }}
            </div>

            <div class="credential_col credential_col--truncate hide-mobile" role="cell"
              [title]="item['email']?.[0] || item['username']?.[0] || '-'">
              {{ item['email']?.[0] || item['username']?.[0] || '-' }}
            </div>

            <div class="credential_col-date hide-mobile mr-2" role="cell">
              {{ item['date'] | date:'MMM d yyyy' }}
            </div>

            <button type="button" class="credential_row_toggle"
              (click)="$event.stopPropagation(); toggleRow(i, stealersExpandedRows)"
              [attr.aria-label]="isExpanded(i, stealersExpandedRows) ? 'Collapse row' : 'Expand row'"
              [attr.aria-pressed]="isExpanded(i, stealersExpandedRows)">
              <img
                [src]="isExpanded(i, stealersExpandedRows) ? 'assets/images/shared/theme/dash.svg' : 'assets/images/shared/theme/plus.svg'"
                alt="" />
            </button>
          </div>

          <app-expanded-row *ngIf="isExpanded(i, stealersExpandedRows)" @expandFadeRow [mode]="'stealer'"
            [item]="item"></app-expanded-row>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="credential_section_title mt-4">Threats</div>
  <div class="credential_section_divider"></div>

  <div class="credential-table-main">
    <div class="credential_table_header" role="row">
      <div class="credential_col_small" role="columnheader">#</div>
      <div class="credential_col hide-mobile-900" role="columnheader">URL</div>
      <div class="credential_col" role="columnheader">Rank</div>
      <div class="credential_col_small hide-mobile" role="columnheader">Date</div>
      <div class="credential_col_icon" role="columnheader"></div>
    </div>

    <div class="credential_table_body">
      <div *ngIf="isLoading" @fadeInDashboardItem>
        <div class="credential_table_header" *ngFor="let _ of [1,2,3,4,5]">
          <div class="skeleton_shimmer shimmer-line w-20"></div>
          <div class="skeleton_shimmer shimmer-line w-30"></div>
          <div class="skeleton_shimmer shimmer-line w-40"></div>
          <div class="skeleton_shimmer shimmer-line w-30"></div>
        </div>
      </div>

      <div *ngIf="!isLoading && !rankedResult?.result?.length" class="credential_row" role="row">
        <div class="credential_row-empty">-</div>
        <div class="credential_row-empty">-</div>
        <div class="credential_row-empty">-</div>
        <div class="credential_row-empty">-</div>
        <div class="credential_row-empty"></div>
      </div>

      <ng-container *ngIf="!isLoading && rankedResult?.result?.length">
        <ng-container *ngFor="let result of rankedResult.result; let i = index; trackBy: trackByIndex">
          <div class="credential_row" role="row" tabindex="0" [attr.aria-expanded]="isExpanded(i, thretsExpandedRows)"
            [class.credential_row--expanded]="isExpanded(i, thretsExpandedRows)"
            (click)="toggleRow(i, thretsExpandedRows)" (keydown)="onRowKeydown($event, i, thretsExpandedRows)">
            <div class="credential_col_small credential_col_small--mono" role="cell">{{ i + 1 }}</div>

            <div class="credential_col credential_col--truncate hide-mobile-900" role="cell"
              [title]="result.m_url || '-'">
              {{ sliceText(result.m_url, 25) || '-' }}
            </div>

            <div class="credential_col credential_col--truncate" role="cell" [title]="(result.rank_index || '-') + ''">
              {{ result.rank_index || '-' }}
            </div>

            <div class="credential_col-date credential_col_small--mono hide-mobile" role="cell">
              {{ result.m_leak_date || (result.m_update_date | date:'MMM d yyyy') || '-' }}
            </div>

            <button type="button" class="credential_row_toggle"
              (click)="$event.stopPropagation(); toggleRow(i, thretsExpandedRows)"
              [attr.aria-label]="isExpanded(i, thretsExpandedRows) ? 'Collapse row' : 'Expand row'"
              [attr.aria-pressed]="isExpanded(i, thretsExpandedRows)">
              <img
                [src]="isExpanded(i, thretsExpandedRows) ? 'assets/images/shared/theme/dash.svg' : 'assets/images/shared/theme/plus.svg'"
                alt="" />
            </button>
          </div>

          <app-expanded-row *ngIf="isExpanded(i, thretsExpandedRows)" @expandFadeRow [mode]="'threat'" [result]="result"
            [index]="i"></app-expanded-row>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
