<li class="mt-[6px] rounded-[8px] select-none" (click)="routePrefix !== 'profile' && licenseService.demoSubscription(category)">
  <div (click)="selectSection()" [ngClass]="{ 'bg-[var(--color-blue-880)] text-white border border-[rgba(255,255,255,0.06)]': (selectionStore.selectedSection$ | async) === category }" [queryParams]="{ page: 1 }" [routerLink]="licenseService.canAccess(category) ? [routePrefix] : null" appTooltip="{{tooltip}}" class="relative flex w-full items-center gap-[8px] px-[10px] py-[13px] text-[14px] font-medium font-[Inter] text-[#A0B8D1] rounded-[8px] border border-transparent transition-colors duration-300 cursor-pointer hover:bg-[var(--color-blue-870)] hover:text-white" queryParamsHandling="merge">
    <img [alt]="title" [ngClass]="{ 'opacity-100': (selectionStore.selectedSection$ | async) === category, 'opacity-60': (selectionStore.selectedSection$ | async) !== category, 'dashboard-scanner-main-icon': icon.includes('scanner.svg') }" class="mr-[8px]" height="20" [src]="'/' + icon" width="20">
    {{ title }}
    <img alt="Drop Down" [ngClass]="{ 'rotate-[360deg]': (selectionStore.selectedSection$ | async) === category, 'rotate-[270deg]': (selectionStore.selectedSection$ | async) !== category }" class="ml-auto transition-transform duration-300" height="20" ngSrc="/assets/images/shared/search_side_dropdown_icon.svg" width="20">
  </div>

  <ul [ngClass]="{ 'opacity-100 max-h-[500px] translate-y-0 mt-[15px] overflow-y-scroll pointer-events-auto': (selectionStore.selectedSection$ | async) === category, 'transition-none': items.length <4 && (selectionStore.selectedSection$ | async) !== category }" class="list-none ml-[15px] pl-0 border-l border-[rgba(252,252,252,0.08)] opacity-0 max-h-0 -translate-y-2 transition-[opacity,max-height,transform,margin-top] duration-200 ease-out pointer-events-none">
    <div class="max-h-[500px] overflow-y-auto">
      <li *ngFor="let item of items">
        <div (click)="selectOption(item)" [ngClass]="{ 'border-l-2 border-white text-white font-medium h-[43px]': (selectionStore.selectedOption$ | async | lower) === (item | lower) }" [queryParams]="{ page: 1 }" [routerLink]="licenseService.canAccess(item) ? [routePrefix, item.toLowerCase()] : null" class="mt-[5px] text-[rgba(255,255,255,0.44)] font-[Roboto] cursor-pointer" queryParamsHandling="merge">
          <div [ngClass]="{ 'bg-[var(--color-blue-880)] before:text-white': (selectionStore.selectedOption$ | async | lower) === (item | lower) }" class="py-[12px] pr-[12px] pl-0 text-[13px] font-medium ml-[20px] rounded-[6px] font-[Inter] hover:bg-[var(--color-blue-880)] before:content-['●'] before:text-[8px] before:mr-[10px] before:ml-[18px] before:inline-block before:align-middle before:leading-none before:text-[rgba(255,255,255,0.44)]">
            {{ replaceDashWithSpace(item) }}
          </div>
        </div>
      </li>
    </div>
  </ul>
</li>
