<li class="sidebar__item" (click)="licenseService.demoSubscription(category)">
  <div (click)="selectSection()" [ngClass]="{'active': (selectionStore.selectedSection$ | async) === category}" [queryParams]="{ page: 1 }" [routerLink]="licenseService.canAccess(category) ? [routePrefix] : null" appTooltip="{{tooltip}}" class="sidebar__item-dropdown" queryParamsHandling="merge">
    <img [alt]="title" class="sidebar__icon" height="20" src="{{icon}}" width="20">{{ title }}<img alt="Drop Down" class="sidebar__dropdown-icon" height="20" ngSrc="../../../../../assets/images/shared/search_side_dropdown_icon.svg" width="20">
  </div>
  <ul [ngClass]="{'sidebar__subitems-fast': items.length < 4, 'show': (selectionStore.selectedSection$ | async) === category}" class="sidebar__subitems">
    <div class="sidebar__subitems-container">
      <li *ngFor="let item of items">
        <div (click)="selectOption(item)" [ngClass]="{'sidebar__selected': (selectionStore.selectedOption$ | async | lower) === (item | lower)}" [queryParams]="{ page: 1 }" [routerLink]="licenseService.canAccess(item) ? [routePrefix, item.toLowerCase()] : null" class="sidebar__subitem" queryParamsHandling="merge">
          <div [ngClass]="{'sidebar__subitem-selected': (selectionStore.selectedOption$ | async | lower) === (item | lower)}" class="sidebar__subitem-content">
            {{ replaceDashWithSpace(item) }}
          </div>
        </div>
      </li>
    </div>
  </ul>
</li>
