{% include 'admin/local_imports.html' %}

{% include 'trustly/user/blades/blades_shared_initialization.html' %}
{% include 'trustly/user/interactive/directory/local_imports.html' %}

<body>
{% include 'trustly/user/blades/home_template/../trustly/user/blades/shared_blades/blade_header.html' %}
<div class="login"></div>
<img src="{{ url_for('static', path='trustly/images/Bg.png') }}" alt="back" class="login-background">

<div id="content" class="auth_form__container">
  <div class="auth_form__sub__container">
    <div class="d-flex justify-content-center">
      <img src="{{ url_for('static', path='trustly/images/home-logo.svg') }}" alt="" width="232" height="41">
    </div>
    <form method="post" action="{% url 'admin:login' %}" class="auth_form-form">
      {% csrf_token %}
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
      {% else %}
        <input type="hidden" name="next" value="{% url 'admin:index' %}">
      {% endif %}
      <div class="auth_form__form-row">
        <input type="text" id="id_username" name="username" class="auth_form__input auth_form__input--text auth_form__input-user" placeholder="Enter Username">
      </div>
      <div class="auth_form__form-row">
        <input type="password" id="id_password" name="password" class="auth_form__input" placeholder="Password">
      </div>
      <div class="submit-row">
        <input type="submit" class="auth_form__form-button" value="Log in"/>
      </div>
    </form>
  </div>
</div>
<footer class="auth_form__footer"></footer>
</body>
