.analytics {
  color: #fff;
  font-size: 14px;
  margin-right: 20px;
  margin-top: -6px;
}

.analytics input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.analytics label {
  cursor: pointer;
  width: 35px;
  height: 18px;
  background: #5F84A9;
  display: block;
  border-radius: 50px;
  position: relative;
  transition: background 0.3s;
}

.analytics label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.analytics input:checked+label {
  background: #1e6cb7;
  ;
}

.analytics input:checked+label::after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.analytics label:active::after {
  width: 18px;
}

.filters-overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.advance-search {
  margin-left: 30px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #57A5EB;
  text-decoration: underline;
  cursor: pointer;
}

.advance-search .advance-search__category-count {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #57A5EB;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-left: 6px;
}
