<div class="list__container">
  <table class="table table-striped directory-list__table clear-paddings">
    <thead>
    <tr>
      <th class="list__column-id-min" scope="col">ID</th>
      <th class="list__column-service-url" scope="col">Service URL</th>
      <th class="list__column-category" scope="col">Category</th>
      <th class="list__column-url-status" scope="col">General</th>
      <th class="list__column-leak-status" scope="col">Leak</th>
      <th class="list__column-network-type" scope="col">Network</th>
      <th scope="col">Last Updated</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of (directoryData$ | async)?.mDirectoryCallbackLinks; let i = index">
      <tr *ngIf="item.url?.trim()">
        <td data-label="ID">
          {{ (i + 1) + ((this.directoryService.currentPage$ | async)! - 1) * 1000 }}
        </td>
        <td data-label="Service URL">
          <ng-container *ngIf="item.network_type === 'telegram'">
            <a class="list__table-url text-decoration-none text-reset"> {{ item.name?.toLowerCase() }} </a>
          </ng-container>
          <ng-container *ngIf="item.network_type !== 'telegram'">
            <a class="list__table-url text-decoration-none text-reset"> {{ item.url }} </a>
          </ng-container>
        </td>
        <td data-label="Category">
          <div class="d-flex flex-wrap">
            <ng-container *ngIf="item.content_type.length; else noCategory">
              <div *ngFor="let category of item.content_type | slice:0:2" class="list__content-category px-2 py-1">
                {{ category | titlecase }}
              </div>
            </ng-container>
            <ng-template #noCategory>
              <div class="list__content-category px-2 py-1">No categories available</div>
            </ng-template>
          </div>
        </td>
        <td data-label="General Model Status">
            <span class="list__status-default-pointer">
            </span>{{ isRecent(item.geneic_model_last_update) ? 'active' : 'unavailable' }}
        </td>
        <td data-label="Leak Model Status">
            <span class="list__status-default-pointer">
            </span>{{ isRecent(item.leak_model_last_update) ? 'active' : 'unavailable' }}
        </td>
        <td data-label="Network Type">
          {{ item.network_type ? item.network_type : 'Unknown' }}
        </td>
        <td data-label="Last Updated">
          {{ (item.leak_model_last_update || item.geneic_model_last_update) | date: 'd MMM y hh:mm a' }}
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
