.directory-list__status-default-pointer {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #198754;
  margin-right: 5px;
}

.directory-list__status-inactive-pointer {
  background-color: #ffc107;
}

.directory-list__content-category {
  font-weight: bold;
  color: #D4D4D4;
  border-radius: 100px;
  background: #FCFCFC0D;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  margin-right: 10px;
}

.directory-list__column-service-url {
  width: 40%;
}

.directory-list__column-category {
  width: 25%;
}

.directory-list__column-url-status {
  width: 10%;
}

.directory-list__column-leak-status {
  width: 10%;
}

.directory-list__table-url {
  overflow-wrap: break-word;
}

@media only screen and (max-width: 943px) {
  .directory-list__content-category {
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 26px;
    margin-top: 5px;
  }

  .directory-list__container {
    padding-right: 4%;
    margin-top: 50px !important;
  }

  .directory-list__table-url {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    width: 20ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .directory-list__status-default-pointer {
    margin-top: 6px;
    margin-right: 15px;
  }
}
