.directory-list__status-default-pointer {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #198754;
  margin-right: 5px;
}

.directory-list__status-inactive-pointer {
  background-color: #ffc107;
}

.directory-list__content-category {
  font-weight: 500;
  color: #D4D4D4;
  border-radius: 100px;
  background: #FCFCFC0D;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  margin-right: 10px;
}

.copy_url {
  cursor: pointer !important;
}

.directory-list__column-service-url {
  width: 50%;
}

.directory-list__column-category {
  width: 15%;
}

.directory-list__column-url-status {
  width: 10%;
}

.directory-list__column-leak-status {
  width: 10%;
}

.directory-list__table-url {
}

@media only screen and (max-width: 943px) {
  .directory-list__content-category {
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 26px;
    margin-top: 5px;
  }

  .directory-list__container-result {
    margin-left: 15px;
    margin-right: 15px;
  }

  .directory-list__container {
    padding: 0;
    margin: 50px 0 0 !important;
  }

  .directory-list__table-url {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    width: 20ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .directory-list__status-default-pointer {
    margin-top: 6px;
    margin-right: 15px;
  }
}

.directory-list__container-sort {
  cursor: pointer;
  position: relative;
}

.directory-list__container-sort::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  border: 0.5em solid transparent;
  border-top-color: #00000030;
  border-bottom-color: #00000000;
  position: absolute;
  left: 10px;
  top: 65%;
  transform: translateY(-50%);
}

.directory-list__container-sort.sort-asc::after {
  border-bottom-color: #fff;
  border-top: 0;
  top: 55%;
}

.directory-list__container-sort.sort-desc::after {
  border-top-color: #fff;
  border-bottom: 0;
  top: 60%;
}

.directory-list__container-sort:hover::after {
  border-bottom-color: #00000000;
}

.list-container th {
  padding-left: 40px !important;
}

.directory-list__container-sort.sort-asc:hover::after {
  border-bottom-color: #fff;
  border-top: 0;
  top: 55%;
}

.directory-list__container-sort.sort-desc:hover::after {
  border-top-color: #fff;
  border-bottom: 0;
  top: 60%;
}
