.home__form {
  display: grid;
  justify-content: left;
  align-content: start;
  margin: 80px auto 80px 60px;
}

.home__description{
  margin-top: 50px;
}

.home__version{
  margin-top: 20px;
  width: 140px;
  padding: 5px 15px;
  background: #ffffff20;
  border-radius: 6px;
}

@media only screen and (max-width: 943px) {
  .home__form {
    display: block;
    margin: 50px 0 8vh 20px;
  }
}
