.home_insight__percentage {
  color: #90DF53;
  font-weight: bold;
  font-size: 15px;
  width: 50%;
  flex-direction: column;
  justify-content: end;
  text-align: right;
}

.home_insight__text-primary {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.home_insight__text-secondary {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 35px;
}

.home_insight__header {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  opacity: 0.5;
  position: absolute;
  margin-left: -20px;
  margin-top: -45px;
}

.home_insight__content {
  display: flex;
  align-items: baseline;
  width: 100%;
  position: relative;
}

.home_insight__icon {
  width: 60px;
  flex-shrink: 0;
  padding-right: 12px;
}

.home_insight__icon img {
  width: 32px;
  height: 32px;
  vertical-align: baseline;
}

.home_insight__text {
  width: 66%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.home_insight__card {
  background-color: #14437290;
  color: white;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 125px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px, rgba(0, 0, 0, 0.1) 0 1px 3px;
  transition: box-shadow 0.2s ease;
}

.home_insight__card:hover {
  box-shadow: rgba(0, 0, 0, 0.11) 0 3px 6px, rgba(0, 0, 0, 0.16) 0 3px 6px;
  cursor: pointer;
}

.home_insight__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 16px 48px;
  justify-content: center;
}

@media only screen and (max-width: 943px) {
  .home_insight__header {
    margin-left: 0;
    margin-top: -50px;
    left: -15px;
  }

  .home_insight__card {
    width: 100%;
  }

  .home_insight__container {
    padding: 20px;
  }
}
