.home__search-container {
  margin-top: 15px;
  width: 600px;
  max-width: 600px;
}

.home__searchbox {
  border-radius: 7px;
  height: 46px;
  outline: none;
  border-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #3C3C43;
  letter-spacing: -0.41px;
  font-size: 17px;
  background-size: 20px 20px;
  padding: 15px 12px !important;
  -moz-transition: .0s;
  padding-left: 20px !important;
  padding-top: 2px;
  transition: .0s;
  margin-bottom: 23vh;
}

.home__search-container-button {
  border-radius: 0 7px 7px 0;
  background: #30669c !important;
  width: 50px;
  border: none;
  outline: none;
}

.home__search-container-button-icon {
  margin-top: -5px;
}

.home__searchbox::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #000000;
  opacity: 1;
}

.home__searchbox::placeholder {
  font-size: 17px;
  padding-left: 0px;
  color: #000000;
}

@media only screen and (max-width: 1000px) {
  .home__search-container {
    margin-top: 15px;
    max-width: 100vw;
    width: 100vw;
    margin-bottom: 100px;
    padding-right: 37px !important;
  }
}
