.admin__login-form input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.admin__login-form input[type="password"]:focus {
  border: none;
  outline: none;
}

.admin__login-form input[type="text"]:focus {
  border: none;
  outline: none;
}

.admin__login-form input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

.login {
  display: table;
  margin: 0 auto;

  margin-top: 200px;
}

.form-row {
  display: grid;
}

.admin__login-form-button {
  display: table;
  margin: 20px auto;
  color: #fff;
  text-decoration: none;
  background-color: blue;
  border: none;
  padding: 11px 11px 11px 15px;
  border-radius: 8px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

.login h1 {
  color: #fff;
}

.login p {
  color: #fff;
}

.form-row label {
  color: #fff;
}