input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="password"]:focus {
  border: none;
  outline: none;
}

input[type="text"]:focus {
  border: none;
  outline: none;
}

input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

.login {
  display: table;
  margin: 0 auto;
}

.form-row {
  display: grid;
}

.admin__login-form-button {
  display: table;
  margin: 10 auto;
  color: #fff;
  text-decoration: none;
  background-color: #123354;
  border: none;
  padding: 11px 11px 11px 15px;
  border-radius: 8px;
  width: 120px;
  font-size: 14px;
  font-weight: bold;
}
.login h1{
  color: #fff;
}
.login p{
  color: #fff;
}
.form-row label{
  color: #fff;
}
.login{
  margin-top: 200px;
}