.add-tenant_wrapper {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.add-tenant_container {
    background: var(--color-blue-830);
    width: 100%;
    max-width: 1000px;
    border: 1px solid var(--color-border);;
    max-height: 800px;
    border-radius: 14px;
    padding: 35px;
    position: relative;
    overflow-y: auto;
    color: var(--color-text1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.add-tenant_header .add-tenant_heading {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.add-tenant_close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 28px;
    color: #ccc;
    background: none;
    border: none;
    cursor: pointer;
}

.add-tenant_label {
    display: block;
    margin-bottom: 6px;
    margin-top: 18px;
    color: var(--color-text2);
}

.add-tenant_input,
.add-tenant_select {
    width: 100%;
    background: white;
    border: 1px solid #2C3A4A;
    border-radius: 8px;
    padding: 12px 14px;
    color: #172235;
    font-size: 14px;
    outline: none;
}

.add-tenant_input::placeholder {
    color: #57718D;
}

.add-tenant_two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.add-tenant_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 15px;
}

.add-tenant_btn-outline {
    padding: 10px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    background: transparent;
    border: 1px solid #A0B8D1;
    color: var(--color-text1);
}

.add-tenant_btn-primary {
    padding: 10px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    background: #57A5EB;
    color: #373637;
    border: none;
}

.username-suggestion {
  background: #fff4e5;
  border: 1px solid #ffcc80;
  color: #a66300;
  padding: 10px 12px;
  border-radius: 6px;
  margin-top: 6px;
  font-size: 13px;
}

.username-suggestion .suggestion-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.username-suggestion .suggestion-list {
  font-size: 12px;
  opacity: 0.9;
}
