<div class="modal-wrapper">
    <div class="modal-container">
        <div class="modal-header">
            <div class="heading">Add Tenant</div>
            <button class="close-btn" (click)="onClose()">×</button>
        </div>

        <form class="form">

            <label class="label">Username</label>
            <input type="text" class="input" placeholder="Enter username" [(ngModel)]="model.username"
                name="username" />

            <label class="label">Email</label>
            <input type="email" class="input" placeholder="Enter email" [(ngModel)]="model.email" name="email" />

            <label class="label">Password</label>
            <input type="password" class="input" placeholder="Enter password" [(ngModel)]="password" name="password" />

            <div class="two-column">
                <div>
                    <label class="label">Role</label>
                    <select class="select" [(ngModel)]="model.role" name="role">
                        <option [ngValue]="'demo'">Demo</option>
                        <option [ngValue]="'analyst'">Analyst</option>
                    </select>
                </div>

                <div>
                    <label class="label">Status</label>
                    <select class="select" [(ngModel)]="model.status" name="status">
                        <option [ngValue]="'active'">Active</option>
                        <option [ngValue]="'disable'">Disable</option>
                        <option [ngValue]="'verification_pending'">Pending Verification</option>
                    </select>
                </div>
            </div>
            <div class="two-column">
                <div>
                    <label class="label">Subscription</label>
                    <select class="select" [(ngModel)]="model.subscription" name="subscription">
                        <option [value]="true">Paid</option>
                        <option [value]="false">Free</option>
                    </select>
                </div>
            </div>
            <div class="label">Licenses</div>

            <div class="license-grid">
                <ng-container *ngFor="let license of licenseList">
                    <div class="license-card" *ngIf="getLicenseLabel(license) !== 'maintainer'"
                        [class.license-selected]="model.licenses?.includes(license)"
                        (click)="toggleTenantLicense(model, license)">

                        <input type="checkbox" class="license-checkbox" [checked]="model.licenses?.includes(license)" />

                        <span class="license-label">
                            {{ getLicenseLabel(license) }}
                        </span>

                    </div>
                </ng-container>
            </div>

            <hr class="tenant-divider">
            <!-- </div> -->

        </form>


        <div class="footer">
            <button class="btn-outline" (click)="onClose()">Cancel</button>
            <button class="btn-primary" (click)="onSubmit()">Add Tenant</button>
        </div>

    </div>
</div>