<form class="default-input-container" (submit)="onFormSubmit()" @fadeDashboardItem>
  <div class="col-md-6 col-xl-6 col-sm-12 col-xs-12">
    <div class="input-group default-input-sub-container">
      <input autocomplete="off" autocapitalize="none" type="search" placeholder="Search..."
             class="form-control default-input" maxlength="150" name="q"
             [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange($event)">

      <input type="hidden" value="1">
      <button class="btn btn-primary default-input-button" type="submit">
        <img ngSrc="assets/images/shared/magnifyingglasswhite.svg" alt="Search" priority="true" height="16" width="16">
      </button>
    </div>
  </div>
</form>

<div *ngIf="isSearchSuccessful && !isResultEmpty" @fadeDashboardItem>
  <div class="right-text label-text">
    {{ dashboardService.searchGeneralCallbackModel.Result.length }} Results Found
  </div>
  <app-dashboard-results-grid></app-dashboard-results-grid>
</div>

<div *ngIf="isSearchSuccessful && isResultEmpty" @fadeDashboardItem>
  <app-dashboard-search-no-suggestion></app-dashboard-search-no-suggestion>
</div>

<div *ngIf="!isResultEmpty" @fadeInDashboard>
  <app-dashboard-pagination
    (pageChange)="onPageChange($event)"
    [maxPages]="Math.ceil(dashboardService.searchGeneralCallbackModel.Page_Count)">
  </app-dashboard-pagination>
</div>
