.search__result-detail-section-content {
  padding: 10px 15px 5px;
  border-top: 10px;
}

.search__result-detail-section-content .row {
  padding: 10px 0;
}

.search__result-detail-section-content .grid-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  padding-left: 6px;
  margin: 0;
}

.search__result-detail-section-content .border-bottom-background {
  border-color: #ffffff15 !important;
  padding-left: 30px;
  padding-right: 30px;
}

.search__result-detail-section-content li {
  padding: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
}

.item-number {
  font-weight: 500;
  margin-right: 5px;
  color: #fff;
}

@media (width <=768px) {
  .search__result-detail-section-content .grid-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.copy-item {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.copy-item:hover {}

.copy-item .item-text {
  text-decoration: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: text-decoration 0.2s ease, color 0.2s ease;
}

.copy-item:hover .item-text {
  text-decoration: underline;
}

.copy-icon {
  margin-left: 5px;
  margin-top: -1px;
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: translateY(5px);
  transition: none;
}

.copy-item:hover .copy-icon {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.copied-label {
  position: absolute;
  top: -1.5em;
  right: 0;
  background-color: #333;
  color: #fff;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 3px;
  white-space: nowrap;
  opacity: 1;
}

.copied-text {
  font-size: 12px;
  color: green;
  margin-left: 8px;
  opacity: 1;
}