<nav *ngIf="this.sidebar_default" class="sidebar">
  <div class="sidebar__header">
    <a href="">
      <img alt="Logo" height="35" src="assets/images/sidebar/search_nav_logo.png" width="197"/>
    </a>
    <button (click)="onToggleSidebar(false)" class="sidebar__header-menu">
      <img alt="Menu" height="28" src="assets/images/sidebar/nav_menu.svg" width="24"/>
    </button>
  </div>


  <ul class="sidebar__items">
    <li class="sidebar__item">
      <div (click)="onSectionSelected(category.HOMEPAGE)"
           [ngClass]="{'active': (selectionStore.selectedSection$ | async) === null || (selectionStore.selectedSection$ | async) === category.HOMEPAGE}"
           [queryParamsHandling]="'merge'" [routerLink]="'home'" class="sidebar__item-dropdown">
        <img alt="Home" class="sidebar__icon" height="20" ngSrc="assets/images/sidebar/home.svg" width="20">Homepage
      </div>
    </li>

    <app-dashboard-sidebar-items (optionSelected)="onOptionSelected($event)" (sectionSelected)="onSectionSelected($event)"
                                 [category]="category.STRATEGIC" [icon]="'assets/images/sidebar/strategic.svg'" [items]="generalCategories"
                                 [routePrefix]="'strategic'"
                                 [title]="'General Intelligence'"></app-dashboard-sidebar-items>
    <app-dashboard-sidebar-items (optionSelected)="onOptionSelected($event)" (sectionSelected)="onSectionSelected($event)"
                                 [category]="category.BREACH" [icon]="'assets/images/sidebar/data_breach.svg'" [items]="leakCategories"
                                 [routePrefix]="'breach'"
                                 [title]="'Data Breach'"></app-dashboard-sidebar-items>
    <app-dashboard-sidebar-items (optionSelected)="onOptionSelected($event)" (sectionSelected)="onSectionSelected($event)"
                                 [category]="category.DEFACEMENT" [icon]="'assets/images/sidebar/defacement.svg'"
                                 [items]="defacementCategories"
                                 [routePrefix]="'defacement'"
                                 [title]="'Defacement'"></app-dashboard-sidebar-items>
    <app-dashboard-sidebar-items (optionSelected)="onOptionSelected($event)" (sectionSelected)="onSectionSelected($event)"
                                 [category]="category.SOCIAL" [icon]="'assets/images/sidebar/social.svg'" [items]="socialCategories"
                                 [routePrefix]="'social'"
                                 [title]="'Social'"></app-dashboard-sidebar-items>
    <app-dashboard-sidebar-items (optionSelected)="onOptionSelected($event)" (sectionSelected)="onSectionSelected($event)"
                                 *ngIf="appService.getConfig().api_allowed" [category]="category.API"
                                 [icon]="'assets/images/sidebar/live_api.svg'"
                                 [items]="apiCategories" [routePrefix]="'api'"
                                 [title]="'Live APIs'"></app-dashboard-sidebar-items>
    <app-dashboard-sidebar-items (optionSelected)="onOptionSelected($event)"
                                 (sectionSelected)="onSectionSelected($event)" [category]="category.EXPLOIT"
                                 [icon]="'assets/images/sidebar/exploits.svg'"
                                 [items]="exploitCategories" [routePrefix]="'exploit'"
                                 [title]="'Exploit'"></app-dashboard-sidebar-items>
    <app-dashboard-sidebar-items (optionSelected)="onOptionSelected($event)"
                                 (sectionSelected)="onSectionSelected($event)" [category]="category.DUMP"
                                 [icon]="'assets/images/sidebar/dump.svg'"
                                 [items]="dumpCategories" [routePrefix]="'dump'"
                                 [title]="'Dump'"></app-dashboard-sidebar-items>


    <div class="sidebar__item">
      <a class="sidebar__item-dropdown sidebar__item-dropdown-hotlink" href="/dashboard/ctigraph" target="_blank"> <img
        alt="Links" class="sidebar__icon" height="20" ngSrc="assets/images/sidebar/graph.svg" width="20"> CTI Graph
      </a>
    </div>

  </ul>
</nav>
<div *ngIf="this.sidebar_default" class="sidebar-hotlinks">
  <a href="http://b5pgomxqmzz5ncseaqpj6llnwh6y2txsxecr6b5h5s43asvqs4qtwmid.onion" target="_blank" class="sidebar__item-dropdown-max">
    <div class="sidebar__item">
      <div class="sidebar__item-dropdown">
        <img alt="Documentation" class="sidebar__icon sidebar__icon-lift" height="20" ngSrc="../../../../assets/images/sidebar/tor.svg"
             width="20">Onion Link
      </div>
    </div>
  </a>

  <div class="sidebar__item">
    <div (click)="onSectionSelected(category.DIRECTORY)"
         [ngClass]="{'sidebar__item-dropdown-hotlink-active': (selectionStore.selectedSection$ | async) === category.DIRECTORY}"
         [routerLink]="'directory'" class="sidebar__item-dropdown sidebar__item-dropdown-hotlink">
      <img alt="Links" class="sidebar__icon" height="20" ngSrc="../../../../assets/images/sidebar/directory.svg"
           width="20"> Links
    </div>
  </div>

  <a href="https://orion-search.readthedocs.io/en/latest/" target="_blank">
    <div class="sidebar__item">
      <div class="sidebar__item-dropdown">
        <img alt="Documentation" class="sidebar__icon" height="20" ngSrc="../../../../assets/images/sidebar/documentation.svg"
             width="20">Documentation
      </div>
    </div>
  </a>
</div>

<nav *ngIf="!this.sidebar_default" class="sidebar sidebar-collapsed">
  <button (click)="onToggleSidebar(true)" class="sidebar__header-menu">
    <img alt="Menu" height="20" ngSrc="../../../../assets/images/sidebar/menu-mini.svg" width="20"/></button>
  <div class="sidebar__header sidebar__header-collapsed"><a href="">
    <img alt="Logo" height="30" ngSrc="../../../../assets/images/shared/logo-min.svg" priority width="30"/> </a>
  </div>

  <ul class="sidebar__items">
    <li class="sidebar__item">
      <div (click)="onSectionSelected(category.HOMEPAGE)" [ngClass]="{'active': (selectionStore.selectedSection$ | async) === category.HOMEPAGE}"
           [routerLink]="'home'"
           appTooltip="Homepage" class="sidebar__item-dropdown">
        <img alt="Home" class="sidebar__icon" height="20" ngSrc="../../../../assets/images/sidebar/home.svg" width="20">
      </div>
    </li>

    <app-dashboard-sidebar-collapsed (optionSelected)="onOptionSelected($event)" (sectionSelected)="onSectionSelected($event)"
                                     [category]="category.STRATEGIC" [icon]="'assets/images/sidebar/strategic.svg'"
                                     [items]="generalCategories"
                                     [routePrefix]="'strategic'" [selectionStore]="selectionStore"
                                     [title]="'General Intelligence'"></app-dashboard-sidebar-collapsed>
    <app-dashboard-sidebar-collapsed (optionSelected)="onOptionSelected($event)" (sectionSelected)="onSectionSelected($event)"
                                     [category]="category.BREACH" [icon]="'assets/images/sidebar/data_breach.svg'" [items]="leakCategories"
                                     [routePrefix]="'breach'"
                                     [selectionStore]="selectionStore"
                                     [title]="'Data Breach'"></app-dashboard-sidebar-collapsed>
    <app-dashboard-sidebar-collapsed (optionSelected)="onOptionSelected($event)" (sectionSelected)="onSectionSelected($event)"
                                     [category]="category.DEFACEMENT" [icon]="'assets/images/sidebar/defacement.svg'"
                                     [items]="defacementCategories"
                                     [routePrefix]="'defacement'" [selectionStore]="selectionStore"
                                     [title]="'Defacement'"></app-dashboard-sidebar-collapsed>
    <app-dashboard-sidebar-collapsed (optionSelected)="onOptionSelected($event)" (sectionSelected)="onSectionSelected($event)"
                                     [category]="category.SOCIAL" [icon]="'assets/images/sidebar/social.svg'" [items]="socialCategories"
                                     [routePrefix]="'social'"
                                     [selectionStore]="selectionStore"
                                     [title]="'Social'"></app-dashboard-sidebar-collapsed>
    <app-dashboard-sidebar-collapsed (optionSelected)="onOptionSelected($event)" (sectionSelected)="onSectionSelected($event)"
                                     *ngIf="appService.getConfig().api_allowed" [category]="category.API"
                                     [icon]="'assets/images/sidebar/live_api.svg'"
                                     [items]="apiCategories" [routePrefix]="'api'"
                                     [selectionStore]="selectionStore"
                                     [title]="'Live APIs'"></app-dashboard-sidebar-collapsed>
    <app-dashboard-sidebar-collapsed (optionSelected)="onOptionSelected($event)"
                                     (sectionSelected)="onSectionSelected($event)" [category]="category.EXPLOIT"
                                     [icon]="'assets/images/sidebar/exploits.svg'"
                                     [items]="exploitCategories" [routePrefix]="'exploit'"
                                     [selectionStore]="selectionStore"
                                     [title]="'Exploit'"></app-dashboard-sidebar-collapsed>
    <app-dashboard-sidebar-collapsed (optionSelected)="onOptionSelected($event)"
                                     (sectionSelected)="onSectionSelected($event)" [category]="category.DUMP"
                                     [icon]="'assets/images/sidebar/dump.svg'"
                                     [items]="dumpCategories" [routePrefix]="'dump'"
                                     [selectionStore]="selectionStore"
                                     [title]="'Dump'"></app-dashboard-sidebar-collapsed>

    <div class="sidebar__item">
      <a appTooltip="CTI Graph" class="sidebar__item-dropdown sidebar__item-dropdown-hotlink" href="/dashboard/ctigraph"
         target="_blank">
        <img alt="Links" class="sidebar__icon" height="19" ngSrc="assets/images/sidebar/graph.svg" width="19">
      </a>
    </div>
  </ul>
</nav>
<div *ngIf="!this.sidebar_default" class="sidebar-hotlinks-collapsed">
  <a href="http://zucui4cyyun2uok6x7mj3zyzgobcctcgugah33vrttbb7bxgj5quvjqd.onion" target="_blank" class="sidebar__item-dropdown-max">
    <div class="sidebar__item">
      <div appTooltip="Onion Link" class="sidebar__item-dropdown">
        <img alt="Documentation" class="sidebar__icon sidebar__icon-collapse-lift" height="20" ngSrc="../../../../assets/images/sidebar/tor.svg"
             width="20">
      </div>
    </div>
  </a>

  <div class="sidebar__item">
    <div (click)="onSectionSelected(category.DIRECTORY)" [ngClass]="{'sidebar__item-dropdown-hotlink-active': (selectionStore.selectedSection$ | async) === category.DIRECTORY}"
         [routerLink]="'directory'"
         appTooltip="Documentation" class="sidebar__item-dropdown sidebar__item-dropdown-hotlink">
      <img alt="Links" class="sidebar__icon" height="20" ngSrc="../../../../assets/images/sidebar/directory.svg"
           width="20">
    </div>
  </div>

  <a href="https://orion-search.readthedocs.io/en/latest/" target="_blank">
    <div class="sidebar__item">
      <div appTooltip="documentation" class="sidebar__item-dropdown">
        <img alt="Documentation" class="sidebar__icon" height="20" ngSrc="../../../../assets/images/sidebar/documentation.svg"
             width="20">
      </div>
    </div>
  </a>
</div>
