<div class="d-flex justify-content-end">
  <div class="btn-group report-menu-option-container">
    <button (click)="downloadCSV()" appTooltip="Download" class="p-0 report-menu-option">
      <img alt="Download" height="25" ngSrc="assets/images/shared/theme/download.svg" width="25" />
    </button>
    <div class="vr report-menu-divider"></div>

    <button (click)="printPage()" appTooltip="Print" class="p-0 report-menu-option">
      <img alt="Print" height="25" ngSrc="assets/images/shared/theme/print.svg" width="25" />
    </button>

    <div class="vr report-menu-divider"></div>
    <button (click)="langUpdate()" *ngIf="lang!==lang_detected" appTooltip="Translator" class="p-0 report-menu-option">
      <img alt="background" height="25" ngSrc="assets/images/shared/translate.svg" width="25">
    </button>

    <ng-container *ngIf="appService.getConfig().appSettings.ai_endpoint && content">
      <div class="vr report-menu-divider"></div>
      <button (click)="aiSuggest()" appTooltip="AI Summary" class="p-0 report-menu-option">
        <img alt="AI Summary" height="25" ngSrc="assets/images/shared/theme/ai.svg" width="25" />
      </button>
    </ng-container>
    <div class="vr report-menu-divider"></div>

    <button (click)="shareResult()" appTooltip="Share" class="p-0 report-menu-option">
      <img alt="Share" height="22" ngSrc="assets/images/shared/theme/share.svg" width="22" />
    </button>
    <div class="vr report-menu-divider"></div>

    <button (click)="redirectToUrl()" appTooltip="Open Breach Link" class="p-0 report-menu-option">
      <img alt="Open Breach Link" height="16" ngSrc="assets/images/shared/theme/redirect.svg" width="16" />
    </button>
    <div class="vr report-menu-divider"></div>

    <button
      *ngIf="this.url && (this.url.endsWith('.onion') || this.url.endsWith('.onion/')) && route?.url?.toString()?.includes('dashboard/strategic')"
      (click)="open_graph()" appTooltip="Open CTI Graph" class="p-0 report-menu-option">
      <img alt="Graph" height="17" ngSrc="assets/images/sidebar/graph.svg" width="17" />
    </button>
  </div>
</div>

<div *ngIf="aiSuggestStatus" @fadeInDashboardItem class="search__result-detail mt-2">
  <div class="d-flex align-items-start">
    <img alt="AI" class="report-icon-top" height="25" src="assets/images/shared/theme/ai.svg" width="25" />
    <p class="search__result-detail-heading ms-2"> &nbsp; AI Report</p>
  </div>
  <p class="search__result-detail-description">
    {{ aiSuggestSummary }}
  </p>
</div>