<div class="header-bar">
  <div class="header-bar__title-container">
    <img (click)="breadcrumb.length > 2 ? goBack() : null" [class.disabled]="breadcrumb.length <= 2" alt="Back" class="header-bar__left-arrow" height="30" ngSrc="../../../../../assets/images/shared/arrow.svg" width="30"/>

    <span *ngFor="let crumb of breadcrumb; let i = index; let last = last">
      <span (click)="breadcrumb.length > 2 ? navigateToCrumb(i) : null" *ngIf="!last" [class.disabled]="breadcrumb.length <= 2" [style.cursor]="breadcrumb.length > 2 ? 'pointer' : 'default'" class="breadcrumb-item">
        {{ crumb.label | titlecase }}<img alt="breadcrumb" class="header-bar__breadcrum" height="20" ngSrc="assets/images/shared/nav-next.svg" priority width="20"/>
      </span>

      <span *ngIf="last" class="breadcrumb-item breadcrumb-active">
        Details
      </span>
    </span>
  </div>

  <div appTooltip="User Login" class="header-bar__profile">
    <app-profile></app-profile>
  </div>
</div>
