.header-bar {
  width: 100%;
  overflow: visible;
  height: 60px;
  border-bottom: 1px solid var(--color-border);
  padding: 0;
  display: flex;
  justify-content: space-between;
  background: var(--color-mono);
  align-items: center;
}

.header-bar_profile {
  display: flex;
  align-items: center;
}

.header-bar_title-container {
  display: flex;
  color: #fff;
  margin-left: 20px;
  font-size: 15px;
  align-items: center;
}

.breadcrumb-item {
  color: #ffffff90;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter, sans-serif;
  cursor: pointer;
}

.breadcrumb-item:hover {
  color: #fcfcfc;
}

.breadcrumb-active {
  color: #fff;
}

.header-bar__breadcrum {
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.header-bar_left-arrow {
  margin-top: -1px;
  margin-right: 10px;
  margin-left: 5px;
  height: 50px;
  padding: 10px;
  width: 50px;
  cursor: pointer;
}

.header-bar_left-arrow.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  visibility: hidden;
  width: 0;
  margin-left: -14px;
}

.breadcrumb-item.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.header-bar .inactive {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

@media only screen and (width <= 943px) {
  .header-bar_title-container {
    margin-left: 0;
  }
}
