<div *ngIf="maxPages>0" class="search__pagination disable-highlight">
  <div class="search__pagination-container">

    <button (click)="currentPage !== 1 && onPageChange(1)"
            [class.disabled]="currentPage === 1"
            class="search__pagination-navigation">
      <img alt="nav-first" height="16" ngSrc="assets/images/shared/nav-first.svg" width="16">
    </button>

    <button (click)="currentPage !== 1 && onPageChange(currentPage - 1)"
            [class.disabled]="currentPage === 1"
            class="search__pagination-navigation gc-clear-selection">
      <img alt="nav-prev" height="16" ngSrc="assets/images/shared/nav-prev.svg" width="16">
    </button>

    <button (click)="onPageChange(page)"
            *ngFor="let page of getPageRange()"
            [class.search__navigation--focus]="page === currentPage"
            class="search__navigation gc-clear-selection">
      {{ page }}
    </button>

    <button (click)="currentPage < maxPages && onPageChange(currentPage + 1)"
            [class.disabled]="currentPage >= maxPages"
            class="search__pagination-navigation gc-clear-selection">
      <img alt="nav-next" height="16" ngSrc="assets/images/shared/nav-next.svg" priority width="16">
    </button>

  </div>
</div>
