<div *ngIf="maxPages>1" class="pagination disable-highlight">
  <div class="pagination_search-container">

    <button (click)="currentPage !== 1 && onPageChange(1)" [class.disabled]="currentPage === 1"
      class="pagination_navigation">
      <img alt="nav-first" height="16" ngSrc="../../../../assets/images/shared/theme/nav-first.svg" width="16">
    </button>

    <button (click)="currentPage !== 1 && onPageChange(currentPage - 1)" [class.disabled]="currentPage === 1"
      class="pagination_navigation gc-clear-selection">
      <img alt="nav-prev" height="16" ngSrc="../../../../assets/images/shared/theme/nav-prev.svg" width="16">
    </button>

    <button (click)="onPageChange(page)" *ngFor="let page of getPageRange()"
      [class.search__navigation--focus]="page === currentPage" [class.active]="page === currentPage"
      class="pagination_search-navigation gc-clear-selection">
      {{ page }}
    </button>

    <button (click)="currentPage < maxPages && onPageChange(currentPage + 1)" [class.disabled]="currentPage >= maxPages"
      class="pagination_navigation gc-clear-selection">
      <img alt="nav-next" height="16" ngSrc="assets/images/shared/theme/nav-next.svg" priority width="16">
    </button>

  </div>
</div>
