.consolidated_container {
  background-color: var(--color-consolidated-primary);
  min-width: 150px;
  border-radius: 15px;
  border: 1px solid var(--color-border);
  padding: 0 20px 5px;
  margin: 15px 15px 0 35px;
}

.consolidated_no-data-message {
  padding: 5px;
  font-size: 14px;
  color: #888;
}

.consolidated-defacement-card {
  background: var(--color-consolidated-primary);
  max-width: 800px;
  min-width: 150px;
  border-radius: 15px;
  padding: 16px 20px;
  margin-left: 35px;
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.consolidated-defacement-card__content {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.consolidated-defacement-card__loader {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(255 255 255 / 20%);
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.consolidated-defacement-card__text {
  flex: 1;
}

.consolidated-defacement-card__text strong {
  font-size: 15px;
  color: var(--color-text1);
}

.consolidated-defacement-card__text div {
  font-size: 13px;
  color: #9ca3af;
}





@media only screen and (width <=460px) {
  .consolidated_container {
    width: calc(100vw - 90px) !important;
  }
}

.consolidated_container-main .label-text {
  margin-top: 20px !important;
}

.consolidated_container .dashboard__search-container {
  margin: 0 !important;
}

.consolidated_container .left-text-small {
  font-size: 12px;
  color: #A0B8D1;
}

@media only screen and (width <=1000px) {
  .consolidated_container {
    margin: 25px 10px;
  }

  .dashboard__layout-wrapper {
    padding-right: 0 !important;
  }
}

.dashboard__layout-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-right: 50px;
}

.dashboard__layout-left {
  flex: 3;
  min-width: 0;
  width: 100%;
}

.dashboard__layout-right {
  flex: 1;
  max-width: 500px;
  width: 100%;
  padding-top: 15px;
}

.dashboard__ranked-layout {
  margin-top: 35px;
}

.consolidated_scanning {
  background: var(--color-consolidated-primary);
  border-radius: 8px;
  padding: 15px;
  border: 1px solid var(--color-border);
  transition: opacity 0.3s ease, height 0.5s ease;
  overflow: hidden;
  margin-left: 35px;
  margin-right: 50px;
}

.consolidated_scanning-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 12px;
  margin-top: 10px;
}

@media (width <=1299px) {
  .dashboard__layout-wrapper {
    flex-direction: column;
    padding-right: 50px;
  }

  .dashboard__layout-right {
    max-width: 100%;
    padding-top: 20px;
    order: 2;
  }

  .dashboard__layout-left {
    order: 1;
  }
}
