.consolidated_container {
  background-color: var(--color-blue-890);
  max-width: 800px;
  min-width: 150px;
  border-radius: 15px;
  border: 1px solid #ffffff07;
  margin: 35px;
  padding: 0 20px 5px;
}

.consolidated_no-data-message {
  padding: 16px;
  font-size: 14px;
  color: #888;
}

@media only screen and (width <=460px) {
  .consolidated_container {
    width: calc(100vw - 90px) !important;
  }
}

.consolidated_container-main .label-text {
  margin-top: 20px !important;
}

.consolidated_container .dashboard__search-container {
  margin: 0 !important;
}

.consolidated_container .left-text-small {
  font-size: 12px;
  color: #A0B8D1;
}

@media only screen and (width <=1000px) {
  .consolidated_container {
    margin: 25px 10px;
  }

  .dashboard__layout-wrapper {
    padding-right: 0 !important;
  }
}

.dashboard__layout-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-right: 50px;
}

.dashboard__layout-left {
  flex: 3;
  min-width: 0;
  width: 100%;
}

.dashboard__layout-right {
  flex: 1;
  max-width: 500px;
  width: 100%;
  padding-top: 35px;
}

.dashboard__ranked-layout {
  margin-top: 35px;
}

@media (width <=1299px) {
  .dashboard__layout-wrapper {
    flex-direction: column;
    padding-right: 50px;
  }

  .dashboard__layout-right {
    max-width: 100%;
    padding-top: 20px;
    order: 2;
  }

  .dashboard__layout-left {
    order: 1;
  }
}