<app-result [showSorting]="false" [consolidated]="true" [shrinkmenu]="false" [discussion]="false" [showNoResult]="false"
  (reloadData)="fetchSearchResults(true)" class="consolidated_container-main" (updateQuery)="onUpdateQuery($event)"
  [analyticsToggle]="false" (onToggleSwitch)="onToggleMenu($event)" [activeTab]="isIOC ? 'IOCs' : 'Group'"
  [isLoading]="isLoading()" [searchQuery]="query" [result_count_enabled]="false" [result_count]="getTotalResultCount()"
  [filterModel]="consolidated_filters" (reloadFilters)="reloadFilters($event)" (resetFilter)="resetFilters($event)"
  [showSelectedFilters]="true"></app-result>

<br>
<ng-container *ngIf="!isIOC;else IOCBlock">
  <ng-container *ngIf="licenseService.canUseScanning()">
    <app-consolidated-scan [isLoading]="isLoading()" #domainScan></app-consolidated-scan>
  </ng-container>

  <div *ngIf="!isLoading()" @fadeInDashboardItem>
    <ng-container>
      <div class="dashboard__layout-wrapper">
        <div class="dashboard__layout-left">
          <ng-container *ngIf="isGrouped; else rankedMode">
            <div class="consolidated-defacement-card mt-4" *ngIf="showScanCard(); else showResults">
              <div class="consolidated-defacement-card__content">
                <div class="loading-circle"></div>
                <div class="consolidated-defacement-card__text">
                  <strong>IP Threads or Stealerlogs</strong>
                  <div>Searching in progress... Please wait.</div>
                </div>
                <button class="expand-collapse-btn is-disabled" [disabled]="">
                  <img src="assets/images/shared/theme/cheveron-right.svg" alt="Toggle">
                </button>
              </div>
            </div>

            <ng-template #showResults>
              <app-defacement-results [isExpandable]="false" @scanAnimation
                [results_defacement]="consolidatedCallbackModel.defacement_model"
                [results_stealerlog]="stealerlogCallbackModel"
                *ngIf="(consolidatedCallbackModel.defacement_model?.Result?.length ?? 0 || stealerlogCallbackModel?.Result?.length ?? 0) > 0">
              </app-defacement-results>
            </ng-template>
            <ng-container *ngFor="let index of groupedResults | sortGroupedResults">
              <div class="consolidated_container" *ngIf="index.key !== 'defacement_model' && index.key !== 'stealer_model'">
                <div class="category-heading-enforced">
                  <span class="left-text">
                    <div>{{ (index.key.split('_').join(' ')).replace('model', 'Results') | titlecase }}</div>
                    <div class="left-text-small">Result count {{ pageCounts[index.key] || 0 }}</div>
                  </span>
                  <span (click)="onSectionSelected(getCategoryFromKey(index.key))" class="right-content" *ngIf="!this.licenseService.isMaintainer()">
                    Explore
                    <button appTooltip="Open Page" class="p-0 expand-toggle-btn" [disabled]="!(index.value.length > 0)">
                      <img alt="background" height="20" src="/assets/images/shared/theme/explore_icon.svg" width="20">
                    </button>
                  </span>
                </div>

                <ng-container *ngIf="index.value.length > 0; else noDataTemplate">
                  <app-dashboard-results-general-grid
                    *ngIf="index.key === 'leak_model' || index.key === 'generic_model' || index.key === 'tracking_model' || index.key === 'news_model'"
                    @fadeInDashboardItem [query]="query" [searchResults]="index.value" [isExpandAble]="true"
                    [type]="index.key === 'leak_model' ? 'leak' : index.key === 'tracking_model' ? 'tracking' : index.key === 'news_model' ? 'news' : 'general'">
                  </app-dashboard-results-general-grid>

                  <app-dashboard-result-exploit *ngIf="index.key === 'exploit_model'" @fadeInDashboardItem
                    [isExpandAble]="true" [searchResults]="index.value"></app-dashboard-result-exploit>

                  <app-dashboard-result-social *ngIf="index.key === 'social_model'" @fadeInDashboardItem
                    [isExpandAble]="true" [searchResults]="index.value"></app-dashboard-result-social>

                  <app-dashboard-result-chat *ngIf="index.key === 'chat_model'" @fadeInDashboardItem
                    [isExpandAble]="true" [searchResults]="index.value"></app-dashboard-result-chat>
                </ng-container>

                <ng-template #noDataTemplate>
                </ng-template>
              </div>
            </ng-container>

          </ng-container>
        </div>
        <div class="dashboard__layout-right">
          <app-result-insights [consolidatedCallbackModel]="consolidatedCallbackModel" [results]="response"
            [rankedResults]="rankedResult" [isGrouped]="isGrouped"
            [result_count]="getTotalResultCount()"></app-result-insights>
        </div>
      </div>
    </ng-container>
    <ng-template #rankedMode>
      <div *ngFor="let item of rankedResult.result">
        <div class="dashboard__ranked-layout">
          <app-dashboard-results-general-grid
            *ngIf="item.rank_index === 'leak_model' || item.rank_index === 'generic_model'" [query]="query"
            [searchResults]="[item]" [isExpandAble]="false"
            [type]="item.rank_index === 'leak_model' ? 'leak' : 'general'"></app-dashboard-results-general-grid>
          <app-dashboard-result-exploit *ngIf="item.rank_index === 'exploit_model'" [isExpandAble]="false"
            [searchResults]="[item]"></app-dashboard-result-exploit>
          <app-dashboard-result-social *ngIf="item.rank_index === 'social_model'" [isExpandAble]="false"
            [searchResults]="[item]"></app-dashboard-result-social>
          <app-dashboard-result-chat *ngIf="item.rank_index === 'chat_model'" [isExpandAble]="false"
            [searchResults]="[item]"></app-dashboard-result-chat>
        </div>
      </div>
    </ng-template>

  </div>
</ng-container>
<ng-template #IOCBlock>
  <ng-container *ngIf="isLoading(); else showIOC">

  </ng-container>

  <ng-template #showIOC>
    <div class="ioc-fullwidth">
      <app-consolidated-ioc></app-consolidated-ioc>
    </div>
  </ng-template>
</ng-template>