<nav class="search__side-nav">
  <img src="/assets/images/shared/Bg.png" alt="background" class="search__side-nav-background">

  <div class="search__side-nav-logo">
    <a href="../../..">
      <img ngSrc="assets/images/shared/search_nav_logo.svg" alt="Logo" priority="true" height="50" width="314"/>
    </a>
    <div class="close_menu_div">
      <img class="search__nav-close-button" ngSrc="assets/images/shared/nav-prev.svg" (click)="closeMenu()" alt="Logo" priority="true" height="24" width="24"/>
    </div>
  </div>

  <ul class="search__side-nav-items">
    <ul class="search__side-nav-items">
      <li class="search__side-nav-item search__side-nav-dropdown">
        <div class="search__side-nav-item-dropdown" (click)="toggleDropdown('general_intelligence'); selectSection('General Intelligence')" [ngClass]="{'active': activeDropdown === 'general_intelligence'}">
          <img ngSrc="assets/images/shared/search_side_general_intelligence_icon.svg" alt="General Intelligence" class="search_side_icon" height="20" width="20">
          General Intelligence
          <img class="search_side_dropdown_icon" ngSrc="assets/images/shared/search_side_dropdown_icon.svg" alt="drop down" height="20" width="20">
        </div>

        <ul class="search__side-nav-subitems" [ngClass]="{'show': activeDropdown === 'general_intelligence'}">
          <li><a (click)="onTypeSelected('general')">General</a></li>
          <li><a (click)="onTypeSelected('forums')">Forums</a></li>
          <li><a (click)="onTypeSelected('news')">News</a></li>
          <li><a (click)="onTypeSelected('stolen')">Stolen</a></li>
          <li><a (click)="onTypeSelected('drugs')">Drugs</a></li>
          <li><a (click)="onTypeSelected('hacking')">Hacking</a></li>
          <li><a (click)="onTypeSelected('marketplaces')">Marketplaces</a></li>
          <li><a (click)="onTypeSelected('cryptocurrency')">Cryptocurrency</a></li>
          <li><a (click)="onTypeSelected('leaks')">Leaks</a></li>
        </ul>
      </li>
    </ul>


    <li class="search__side-nav-item search__side-nav-dropdown">
      <div class="search__side-nav-item-dropdown" (click)="onLeakSelected(); toggleDropdown('leaks') ;selectSection(Pages.LEAKS)" [ngClass]="{'active': activeDropdown === 'leaks'}">
        <img ngSrc="assets/images/shared/leak.svg" alt="leak" height="20" width="20" class="search_side_icon">Leaks
      </div>
    </li>

    <li class="search__side-nav-item search__side-nav-dropdown">
      <div class="search__side-nav-item-dropdown" (click)="toggleDropdown('api') ;selectSection(Pages.API)" [ngClass]="{'active': activeDropdown === 'api'}">
        <img ngSrc="assets/images/shared/search_side_live_api_icon.svg" alt="api" height="20" width="20" class="search_side_icon">Live
        APIs
        <img class="search_side_dropdown_icon" ngSrc="assets/images/shared/search_side_dropdown_icon.svg" alt="drop down" height="20" width="20">
      </div>
      <ul class="search__side-nav-subitems" [ngClass]="{'show': activeDropdown === 'api'}">
        <li><a>Email</a></li>
      </ul>
    </li>

<!--    <li class="search__side-nav-item search__side-nav-dropdown">-->
<!--      <div class="search__side-nav-item-dropdown" (click)="toggleDropdown('monitor') ;selectSection(Pages.MONITOR)" [ngClass]="{'active': activeDropdown === 'monitor'}">-->
<!--        <img ngSrc="assets/images/shared/search_side_monitor_icon.svg" alt="Monitor" height="20" width="20" class="search_side_icon">Monitor-->
<!--        <img class="search_side_dropdown_icon" ngSrc="assets/images/shared/search_side_dropdown_icon.svg" alt="drop down" height="20" width="20">-->
<!--      </div>-->
<!--      <ul class="search__side-nav-subitems" [ngClass]="{'show': activeDropdown === 'monitor'}">-->
<!--        <li><a>Dashboard</a></li>-->
<!--        <li><a>Add Client</a></li>-->
<!--        <li><a>Update Client</a></li>-->
<!--      </ul>-->
<!--    </li>-->

    <li class="search__side-nav-item">
      <a href="/directory"><img ngSrc="assets/images/shared/search_nav_links_icon.svg" alt="links" height="24" width="24" class="search_side_icon">Links</a>
    </li>
    <li class="search__side-nav-item">
      <a href="https://orion-search.readthedocs.io/en/latest/"><img ngSrc="assets/images/shared/document_count.svg" alt="documentation" height="24" width="24" class="search_side_icon">Documentation</a>
    </li>
  </ul>

</nav>


