.search__nav-bottom_div {
  bottom: 0;
  position: fixed;
  width: 260px;
}

.close_menu_div {
  display: none;
}

.search__nav-menu-checkbox {
  display: none;
}

.search__nav-close-label {
  float: right;
}

input[type="radio"] {
  display: none;
}

.search__side-nav-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  display: flex;
  width: 100%;
}

.search__nav-mobile-container {
  background: linear-gradient(to bottom, rgba(18, 52, 84, 1) 0%, #2A5784 80%);
  position: absolute;
  height: 100vh;
  z-index: 1;
  width: 100vw;
  top: 0;
  right: 0;
  left: -100vw;
  padding: 20px;
}

.search__nav-close {
  display: none;
}


.search__side-nav-logo span {
  color: #1e90ff;
}

.search__side-nav-items {
  list-style: none;
  padding: 0;
}

.search__side-nav-item {
  margin: 7.5px 0;
}

.search__side-nav-item .search__side-nav-item-dropdown {
  text-decoration: none;
  color: rgba(160, 184, 209, 1);
  font-family: 'Inter', sans-serif;
  display: block;
  padding: 14px 10px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px;
  transition: background 0.3s;
  cursor: pointer;
}

.search_side_icon {
  margin-right: 8px;
  opacity: 0.6;
}

.search__side-nav-item a {
  text-decoration: none;
  color: rgba(160, 184, 209, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: block;
  padding: 12px;
  border-radius: 5px;
  transition: background 0.3s;
}

.search__side-nav-item .search__side-nav-item-dropdown:hover {
  background: rgba(42, 87, 132, 0.35);
}
.search__side-nav-item a:hover {
    background: rgba(42, 87, 132, 0.35);
}
.search__side-nav-subitems a:hover {
  text-decoration: underline;
  background: none;
}


.search__side-nav-item a img {
  margin-right: 8px;
}

.search__side-nav-item a {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  font-family: 'Inter', sans-serif;
  color: rgba(160, 184, 209, 1);
}

.search_side_dropdown_icon {
  float: right;
}

.search__side-nav-subitems {
  list-style: circle;
  margin-left: 16px;
  opacity: 0;
  max-height: 0;
  padding-left: 30px;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.search__side-nav-subitems.show {
  opacity: 1;
  max-height: 500px;
}

.search__side-nav-subitems li {

  color: rgba(160, 184, 209, 1);
}

.search__side-nav-item-dropdown {
  cursor: pointer;
  position: relative;
}

.search_side_dropdown_icon {
  transition: transform 0.3s ease;
}

.search__side-nav-item-dropdown.active .search_side_dropdown_icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.search__side-nav-items .search__side-nav-dropdown .search__side-nav-item-dropdown.active {
  background: rgba(42, 87, 132, 0.35);
  text-decoration: none;
  color: #fff;
}
.search__side-nav-item-dropdown.active .search_side_icon{
  opacity: 1;
}
.search__side-nav-subitems li::marker {
  font-size: 1.5em;
}

.search__side-nav-background{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.05;
  object-fit: contain;
  object-position: top right;
  pointer-events: none;
}

@media only screen and (max-width: 943px) {
  .search__side-nav-background{
    width: 175% !important;
    height: 175% !important;
  }
}

@media only screen and (max-width: 700px) {
  .search-result__content-webpages-container {
    max-width: 350px;
  }
}

@media only screen and (max-width: 1050px) {
  .searchbar__logo-container p {
    margin-left: 40px;
  }

  .search__side-nav-container {
    position: absolute;
    width: 100vw;
    right: 100vw;
    z-index: 10;
    height: 100vh;
  }

  #search__side-nav-container-main .search__nav-menu-label {
    display: block;
    position: absolute;
    top: 27px;
    left: 24px;
  }

  #search__side-nav-container-main .search__nav-menu-checkbox:checked + .search__side-nav-container {
    right: 0;
    transition: right 1s ease;

  }


  #search__nav-close:checked + .search__nav-mobile-container {
    left: 100vw;
    transition: left 0.2s ease;

  }

  .search__side-nav .search__side-nav-logo .close_menu_div {
    display: block;
  }
}
