<div class="filter-panel" [ngClass]="{ 'mt-40': showSorting, 'mt-10': !showSorting }">

    <div class="top-row">
        <div class="title">Filters</div>
        <div class="actions">
            <button class="clear-btn" (click)="clearSelection()">Clear Selection</button>
            <img src="../../../../assets/images/shared/searchFilter_clossButton.svg" class="close-btn"
                (click)="clossFilter()" />

        </div>
    </div>

    <div class="filter-panel__category-scroll-container">
        <div class="fade-left" *ngIf="showLeftFade"></div>

        <div class="scroll-btn" (click)="scrollLeft()">
            <img src="../../../../assets/images/shared/searchFilter_leftButton.svg" />
        </div>

        <div class="filter-panel__category-scroll" #categoryScroll>
            <div *ngFor="let category of categories; let i = index" class="category-tab"
                [class.selected]="i === selectedCategoryIndex" (click)="selectedCategoryIndex = i">
                {{ category.name }}
                <div *ngIf="category.tags.length > 0" class="filter-panel__category-count">
                    {{ category.tags.length }}
                </div>
            </div>
        </div>

        <div class="scroll-btn" (click)="scrollRight()">
            <img src="../../../../assets/images/shared/searchFilter_rightButton.svg" />
        </div>

        <div class="fade-right" *ngIf="showRightFade"></div>
    </div>
    <div class="input-row">
        <input type="text" [(ngModel)]="newValue" placeholder="Enter Value" class="tag-input"
            (keydown.enter)="addTag()" />
        <button class="add-btn" (click)="addTag()">
            <img src="../../../../assets/images/shared/searchFilter_addButton.svg" />
        </button>
        <div class="reset-selection" (click)="resetCategorySelection()">Reset Selection</div>
    </div>

    <div class="selected-filters">
        <div class="section-title">All Selected Filters</div>
        <div class="tag-list">
            <ng-container *ngFor="let category of categories">
                <div *ngFor="let tag of category.tags" class="filter-tag">
                    {{ tag.value }}
                    <div class="remove-x" (click)="removeTag(category, tag.id)">×</div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="divider"></div>

    <div class="expand-header" (click)="toggleExpand()">
        <div class="expand-label">IOC’s</div>
        <div class="expand-icon" [ngClass]="{ 'expand': isExpanded }">
            <img src="../../../../assets/images/shared/searchFilter_expand.svg" alt="Toggle Icon" />
        </div>

    </div>
    <div *ngIf="isExpanded" class="summary-section">
        <ng-container *ngFor="let category of categories">
            <div *ngIf="category.tags.length > 0" class="summary-category">
                <div class="category-title">{{ category.name }}</div>
                <div class="tag-list">
                    <div *ngFor="let tag of category.tags" class="filter-tag">
                        {{ tag.value }}
                        <div class="remove-x" (click)="removeTag(category, tag.id)">×</div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

</div>