.filter-panel__top-space-expand {
    margin-top: 40px;
}

.filter-panel__top-space-shrink {
    margin-top: 10px;
}

.filter-panel {
    background-color: #ffffff;
    border: 1px solid #FCFCFC12;
    border-radius: 16px;
    padding: 24px 24px 8px 24px;
    font-family: Inter, sans-serif;
    color: white;
    width: 970px;
    z-index: 1;
}

.filter-panel__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-panel__title {
    font-size: 22px;
    font-weight: 500;
    color: #0E1626;
}

.filter-panel__actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filter-panel__clear-btn {
    width: 118px;
    height: 32px;
    border: none;
    border-radius: 8px;
    background: none;
    color: #57A5EB;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;

}

.filter-panel__category-scroll-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 16px 0;
    overflow: hidden;
    gap: 10px;
    align-items: center;
}

.filter-panel__category-scroll-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 1px;
    background-color: #A0B8D1;
    z-index: 1;
}

.filter-panel__category-scroll {
    display: flex;
    gap: 16px;
    overflow: hidden;
    scroll-behavior: smooth;
    flex: 1;
}

.filter-panel__scroll-btn {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.filter_panel__click-hitbox {
    margin-bottom: 8px;
    top: -10px;
    left: -5px;
    right: -10px;
    bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.filter-panel__show {
    z-index: 100;
}


.filter-panel__fade-left,
.filter-panel__fade-right {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.filter-panel__fade-left {
    left: 0;
    background: linear-gradient(to right, #ffffff, transparent);
}

.filter-panel__fade-right {
    right: 0;
    background: linear-gradient(to left, #ffffff, transparent);
}

.filter-panel__category-count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 16px;
    border-radius: 50%;
    background-color: #A0B8D1;
    color: #0E1626;
    font-size: 12px;
    font-weight: 400;
    margin-left: 3px;
    margin-top: 2px;
}



.filter-panel__category-tab {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: #172235;
    cursor: pointer;
    padding-bottom: 6px;
    border-bottom: 3px solid transparent;

    white-space: nowrap;
    align-items: center;
}

.filter-panel__category-tab.selected {
    color: #0E1626;
    border-color: #0E1626;
    font-weight: 600;
}

.filter-panel__input-row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.filter-panel__tag-input {
    width: 200px;
    height: 34px;
    border: 1px solid #0E1626;
    border-radius: 5px;
    background: transparent;
    color: #172235;
    padding-left: 8px;
    font-size: 12px;
}

.filter-panel__tag-input::placeholder {
    color: #172235;
    font-weight: 400;
    font-size: 12px;
}

.filter-panel__add-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #0E1626;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.filter-panel__add-btn:hover {
    background-color: #0e1626b9;
}

.filter-panel__selected-filters {
    margin-top: 16px;
}

.filter-panel__section-title {
    font-size: 14px;
    font-weight: 500;
    color: #57A5EB;
}

.filter-panel__tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.filter-panel__filter-tag {
    display: flex;
    align-items: center;
    background-color: #FCFCFC0D;
    border: 1px solid #A0B8D1;
    border-radius: 5px;
    height: 30px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 400;
    color: #0E1626;
}

.filter-panel__remove-x {
    margin-left: 8px;
    cursor: pointer;
    font-size: 12px;
    width: 7px;
    height: 7px;
}

.filter-panel__divider {
    margin: 12px 0;
    height: 1px;
    background-color: #A0B8D1;
}

.filter-panel__expand-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.filter-panel__expand-label {
    font-size: 14px;
    font-weight: 500;
    color: #0E1626;
}

.filter-panel__expand-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.filter-panel__expand-icon::before {
    content: "";
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -15px;
    right: -15px;
    pointer-events: auto;
}

.filter-panel__expand-icon img {
    transition: transform 0.3s ease;
    transform: rotate(-90deg);
}

.filter-panel__expand-icon.expand img {
    transform: rotate(0deg);
}

.filter-panel__summary-section {
    margin-top: 8px;
}

.filter-panel__summary-category {
    margin-bottom: 16px;
}

.filter-panel__category-title {
    color: #57A5EB;
    font-size: 14px;
    font-weight: 500;
}

.filter-panel input:focus,
button:focus {
    outline: none;
}

.filter-panel__no-filters-text {
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 10px;
    color: #1722357d;
}

.filter-panel__entity-condition {
    font-size: 12px;
    font-weight: 400;
    color: #0E1626;
    width: 80px;
    text-align: center;
    display: inline-block;
}

.filter-panel__toggle-switch {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 16px;
    margin-top: 6px;
    margin-left: auto;
}

.filter-panel__toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.filter-panel__slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.filter-panel__slider:before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    transition: 0.4s;
    left: 2px;
    top: 2px;
}

.filter-panel input:checked+.filter-panel__slider {
    background-color: #57A5EB;
}

.filter-panel input:checked+.filter-panel__slider:before {
    transform: translateX(10px);
}

@media only screen and (width <=1320px) {
    .filter-panel {
        width: 700px;
    }
}

@media only screen and (width <=1060px) {
    .filter-panel {
        width: 475px;
    }
}