<div class="sidebar-user-ioc-container">
    <div class="onboarding-step2">

        <div class="onboarding-step2__description-row">
            <h2 class="user-ioc-title">Manage IOCs</h2>
            <div class="onboarding-step2__description-row">
                <input type="text" class="onboarding-step2__search-input profile-ioc-search-input"
                    placeholder="Search IOCs..." [(ngModel)]="iocSearchText" />
                <div class="btn-group report-menu-option-container mr-0" (click)="openConfirmationPopup()">
                    <button appTooltip="clear all" class="p-0 report-menu-option">
                        <img alt="scan" height="10" src="../../../../../assets/images/shared/cross.svg" width="10" />
                    </button>
                </div>
            </div>
        </div>

        <div class="onboarding-step2__category-scroll-container">
            <div class="filter-panel__fade-left" *ngIf="showLeftFade"></div>

            <div class="filter-panel__scroll-btn filter-panel__show" (click)="scrollLeft()">
                <div class="filter-panel__click-hitbox filter-panel__show">
                    <img src="../../../../../assets/images/shared/onboarding_leftButton.svg" alt="filter icon" />
                </div>
            </div>

            <div class="onboarding-step2__category-scroll" #categoryScroll>
                <ng-container *ngIf="filteredIocs.length > 0; else noEntity">
                    <div *ngFor="let category of filteredIocs" class="onboarding-step2__tab"
                        [class.selected]="category.ioc_id === selectedCategoryId"
                        (click)="$event.stopPropagation();onCategoryClick(category.ioc_id)">
                        {{ category.name }}
                    </div>
                </ng-container>
                <ng-template #noEntity>
                    <div class="filter-panel__no-filters-text">No entity filters available.</div>
                </ng-template>

            </div>

            <div class="filter-panel__scroll-btn filter-panel__show" (click)="scrollRight()">
                <div class="filter-panel__click-hitbox filter-panel__show">
                    <img src="../../../../../assets/images/shared/onboarding_rightButton.svg" alt="filter" />
                </div>
            </div>

            <div class="filter-panel__fade-right" *ngIf="showRightFade"></div>
        </div>

        <div class="onboarding-step2__divider1"></div>

        <label class="onboarding-step2__label">Enter IOCs</label>
        <div class="onboarding-step2__input-wrapper">
            <input type="text" class="onboarding-step2__input" placeholder="Type"
                (keyup.enter)="addIoc(inputEl.value); inputEl.value=''" #inputEl />
            <button type="button" class="onboarding-step2__add-btn"
                (click)="addIoc(inputEl.value); inputEl.value=''">Add</button>
        </div>

        <div class="onboarding-step2__divider2"></div>

        <p class="onboarding-step2__added-title">Added IOCs</p>
        <div class="onboarding-step2__added user-ioc-height">

            <div *ngIf="hasIocsWithValues(); else _noEntity">
                <div *ngFor="let ioc of onboardingData?.iocs">
                    <ng-container *ngIf="ioc.values.length > 0">
                        <p class="onboarding-step2__heading">{{ ioc.name }}</p>

                        <div class="onboarding-step2__chips">
                            <div class="onboarding-step2__chip" appTooltip="remove IOC" *ngFor="let value of ioc.values"
                                (click)="removeIoc(ioc.ioc_id, value)">
                                <span>{{ value }}</span>
                                <span class="onboarding-step2__chip-remove">
                                    ✕
                                </span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

            <ng-template #_noEntity>
                <div class="onboarding-step2__no-iocs">No IOCs added yet</div>
            </ng-template>
        </div>
        <div class="onboarding-box__actions mt-5">
            <button class="onboarding-box__btn onboarding-box__btn--back" (click)="goBack()">
                Back
            </button>
        </div>
    </div>
</div>
<ng-container *ngIf="isConfirmationOpen">
    <app-confirmation-popup [message]="'Are you sure you want to clear your scan history?'"
        (confirmed)="clearAllIocs($event)"></app-confirmation-popup>
</ng-container>