<span id="top"></span>
<div class="directory">
  <app-toolbar></app-toolbar>
  <div class="directory__container">
    <div class="directory__main-container">
      <div class="directory__upper-heading">
        <div class="directory__pagination-heading col-md-4 col-sm-12 col-xs-12">
          <p class="directory__header">Live Onion Services</p>
        </div>

        <div class="directory-pagination col-4">
<!--          <app-directory-pagination [page]="currentPage" [totalPages]="totalPages" [paginationNumbers]="paginationNumbers" (pageChange)="onPageChange($event)"></app-directory-pagination>-->
        </div>

        <div class="directory__filters-button-div">
          <label for="directory__filters-checkbox" class="directory__filters-button">
            <img ngSrc="assets/images/shared/filter_icon.svg" alt="Trustly Logo" width="24" height="24" priority="true">
            Filter
          </label>
          <input type="radio" name="filter" class="directory__filters-checkbox" id="directory__filters-checkbox"/>
          <div class="directory__filters-container">
            <app-filters></app-filters>
          </div>
        </div>
      </div>
<!--      <app-directory-list [directoryItems]="directoryData" [page]="currentPage" [itemsPerPage]="10"></app-directory-list>-->
    </div>
  </div>
</div>

<span id="bottom"></span>

<app-footer></app-footer>
