<form (submit)="triggerSearch()" action="" class="default-input-container" enctype="multipart/form-data" method="GET">
  <div class="row dashboard__api-search-input-div email-search">
    <div class="col-xl-5 col-12 input-container">
      <div class="input-group default-input-sub-container">
        <div class="btn btn-primary default-input-button default-input-button-light">
          <img alt="Search" height="20" ngSrc="assets/images/shared/domain.svg" priority width="20">
        </div>
        <input [(ngModel)]="url" autocapitalize="none" autocomplete="off" class="form-control default-input"
          maxlength="150" name="username" placeholder="Domain" type="text"> <input type="hidden" value="1"> <span
          class="input-group-text"></span>
      </div>
    </div>

    <div class="col-xl-5 col-12 mt-lg-0 mt-2 input-container">
      <div class="input-group default-input-sub-container ">
        <div class="btn btn-primary default-input-button default-input-button-light">
          <img alt="Search" height="20" ngSrc="assets/images/shared/user1.svg" priority width="20">
        </div>
        <input [(ngModel)]="user" autocapitalize="none" autocomplete="off" class="form-control default-input " email
          maxlength="150" name="email" [placeholder]="'Search'" type="email"> <input type="hidden" value="1"> <span
          class="input-group-text"></span>
      </div>
    </div>

    <div class="col-2 mt-lg-0 mt-2">
      <button class="dash-search-button">Search</button>
    </div>
  </div>
</form>

<app-result (onToggleSort)="onToggleSort($event)" [result_count_enabled]="false" [domain]="true"
  (reloadData)="fetchSearchResults()" [disableScroll]="true" [searchQuery]="'-'" [showTabs]="false"
  (onToggleSwitch)="onToggleAnalyticsTrigger($event)" [filterModel]="filters" (resetFilter)="resetFilters($event)"
  (reloadFilters)="reloadFilters($event)" [result_count]=currentResultCount></app-result>
<div @fadeInDashboardItem *ngIf="firstTrigger">
  <app-empty-query></app-empty-query>
</div>

<div class="credential-table-padding" *ngIf="!firstTrigger">
  <app-credential-list [stealerData$]="this.dashboardService.stealerlogCallbackModel" [isLoading]="isLoading"
    [type]="type" [currentPage]="this.dashboardService.consolidatedParamModel.page"></app-credential-list>
</div>

<div *ngIf="!firstTrigger && !isLoading" @fadeInDashboardItem class="pagination-margin">
  <app-pagination (pageChange)="onPageChange($event)" [currentPage]="this.dashboardService.consolidatedParamModel.page"
    [maxPages]="(this.stealerlogCallbackModel.Result.length+2)"></app-pagination>
</div>
