<app-credentials-search-bar (searchTriggered)="triggerSearch($event)"></app-credentials-search-bar>

<app-result (onToggleSort)="onToggleSort($event)" [result_count_enabled]="false" [domain]="true"
  (reloadData)="fetchSearchResults()" [disableScroll]="true" [searchQuery]="'-'" [showTabs]="false"
  [filterModel]="filters" (resetFilter)="resetFilters($event)"
  (reloadFilters)="reloadFilters($event)" [result_count]=currentResultCount></app-result>

<div class="credential_stats_bar">
  <div class="credential_stat_item">
    <div class="credential_stat_icon">
      <img alt="Search" src="assets/images/shared/search_elapsed_time.svg">
    </div>
    <div class="credential_stat_value">{{getApiTime()}} ms</div>
    <div class="credential_stat_label">Search Elapsed Time</div>
  </div>

  <div class="credential_stat_divider"></div>

  <div class="credential_stat_item">
    <div class="credential_stat_icon"><img alt="Search" src="assets/images/shared/results_found.svg"></div>
    <div class="credential_stat_value">{{getTotalResultCount()}}</div>
    <div class="credential_stat_label">Results Found</div>
  </div>

  <div class="credential_stat_divider"></div>

  <div class="credential_stat_item">
    <div class="credential_stat_icon"><img alt="Search" src="assets/images/shared/assets_searched.svg"></div>
    <div class="credential_stat_value">{{getAssetSearched()}}</div>
    <div class="credential_stat_label">Assets Searched</div>
  </div>
  <div class="credential_stat_divider"></div>
  <div class="credential_stat_item">
    <div class="credential_stat_icon"><img alt="Search" src="assets/images/shared/aggregated_data_well.svg"></div>
    <div class="credential_stat_value">{{getAggregatedDataWells()}}</div>
    <div class="credential_stat_label">Aggregated Data Well</div>
  </div>

  <div class="credential_stat_actions">
    <button class="credential_action_btn"><img alt="Download" src="assets/images/shared/theme/print.svg"></button>
    <div class="credential_action_divider"></div>
    <button class="credential_action_btn"><img alt="Download" src="assets/images/shared/theme/download.svg"></button>
  </div>
</div>

<div @fadeInDashboardItem *ngIf="firstTrigger">
  <app-empty-query></app-empty-query>
</div>

<ng-container *ngIf="!firstTrigger">

  <div class="credential-table-padding" @fadeInDashboardItem>
    <div class="credential_section_title">Stealers</div>
    <div class="credential_section_divider"></div>

    <app-credential-list [stealerData$]="this.dashboardService.stealerlogCallbackModel" [isLoading]="isLoading"
      [type]="type" [currentPage]="this.dashboardService.consolidatedParamModel.page"></app-credential-list>
  </div>

  <div class="credential-table-padding">
    <div class="credential_section_title">Threats</div>
    <div class="credential_section_divider"></div>

    <app-consolidated-ioc [rankedResult]="rankedResult" [isLoading]="isLoading">
    </app-consolidated-ioc>
  </div>

</ng-container>

<div *ngIf="!firstTrigger && this.stealerlogCallbackModel.Result.length>200 && !isLoading" @fadeInDashboardItem
  class="pagination-margin">
  <app-pagination (pageChange)="onPageChange($event)" [currentPage]="this.dashboardService.consolidatedParamModel.page"
    [maxPages]="(this.stealerlogCallbackModel.Result.length+2)"></app-pagination>
</div>
