<app-credentials-search-bar (searchTriggered)="triggerSearch($event)"></app-credentials-search-bar>

<app-result (onToggleSort)="onToggleSort($event)" [domain]="true" [showNoResult]="false"
  (reloadData)="fetchSearchResults()" [disableScroll]="true" [searchQuery]="'-'"
  [filterModel]="filters" (reloadFilters)="reloadFilters($event)"
  [result_count]=currentResultCount></app-result>

<div class="credential_stats_bar flex-nowrap overflow-auto">
  <div class="credential_stat_item gap-2 flex-nowrap">
    <div class="credential_stat_icon">
      <img alt="Search" src="assets/images/shared/search_elapsed_time.svg">
    </div>
    <div class="credential_stat_value small text-nowrap">{{getApiTime()}} ms</div>
    <div class="credential_stat_label small text-nowrap">Search Elapsed</div>
  </div>

  <div class="credential_stat_divider d-none d-md-block"></div>

  <div class="credential_stat_item d-none d-md-flex gap-2 flex-nowrap">
    <div class="credential_stat_icon">
      <img alt="Search" src="assets/images/shared/results_found.svg">
    </div>
    <div class="credential_stat_value small text-nowrap">{{getTotalResultCount()}}</div>
    <div class="credential_stat_label small text-nowrap">Results</div>
  </div>

  <div class="credential_stat_divider d-none d-lg-block"></div>

  <div class="credential_stat_item d-none d-lg-flex gap-2 flex-nowrap">
    <div class="credential_stat_icon">
      <img alt="Search" src="assets/images/shared/assets_searched.svg">
    </div>
    <div class="credential_stat_value small text-nowrap">{{getAssetSearched()}}</div>
    <div class="credential_stat_label small text-nowrap">Assets</div>
  </div>

  <div class="credential_stat_divider d-none d-xl-block"></div>

  <div class="credential_stat_item d-none d-xl-flex gap-2 flex-nowrap">
    <div class="credential_stat_icon">
      <img alt="Search" src="assets/images/shared/aggregated_data_well.svg">
    </div>
    <div class="credential_stat_value small text-nowrap">{{getAggregatedDataWells()}}</div>
    <div class="credential_stat_label small text-nowrap">Aggregated</div>
  </div>

  <div class="credential_stat_actions ms-auto">
    <button class="credential_action_btn" (click)="openScheme()">
      <img alt="scheme" src="assets/images/shared/passschema.svg" class="password-schema-icon">
    </button>
    <div class="credential_action_divider"></div>
    <button class="credential_action_btn" (click)="openSubdomains()">
      <img alt="scheme" src="assets/images/sidebar/theme/scanner.svg" class="password-schema-icon">
    </button>

    <div class="credential_action_divider"></div>
    <button class="credential_action_btn" (click)="onDownload()">
      <img alt="Download" src="assets/images/shared/theme/download.svg">
    </button>
  </div>
</div>


<div @fadeInDashboardItem *ngIf="firstTrigger">
  <app-empty-query></app-empty-query>
</div>

<ng-container *ngIf="!firstTrigger">

  <div class="credential-table-padding" @fadeInDashboardItem>
    <div class="credential_section_title">Stealers</div>
    <div class="credential_section_divider"></div>

    <app-credential-list [stealerData$]="this.dashboardService.stealerlogCallbackModel" [isLoading]="isLoading"
      [type]="type" [currentPage]="this.dashboardService.consolidatedParamModel.page" [rankedResult]="rankedResult"
      [searchQuery]="searchQuery"></app-credential-list>
  </div>


</ng-container>

<div *ngIf="!firstTrigger && ( this.stealerlogCallbackModel.Page_Count> this.dashboardService.consolidatedParamModel.page ||
      this.rankedResult.pageCount > this.dashboardService.consolidatedParamModel.page
    )&& !isLoading" @fadeInDashboardItem class="pagination-margin">
  <app-pagination (pageChange)="onPageChange($event)" [currentPage]="this.dashboardService.consolidatedParamModel.page"
    [maxPages]="maxPages"></app-pagination>
</div>

<app-password-schema [isOpen]="showPasswordscheme" (close)="closeScheme()"
  (search)="onPasswordSearch($event)"></app-password-schema>

<app-scan-helper [isOpen]="showSubdomains" (close)="showSubdomains = false" (search)="onSubdomainSearch($event)">
</app-scan-helper>
