<app-result (onToggleSort)="onToggleSort($event)" [discussion]="this.type === Category.BREACH" (onToggleSwitch)="onToggleSubMenu($event)" (reloadData)="fetchSearchResults()" (reloadFilters)="reloadFilters($event)" (updateQuery)="onUpdateQuery($event)" [analyticsToggle]="this.type === Category.BREACH" [filterModel]="general_filters" [isLoading]="isResponseLoading()" [result_count]="Math.ceil((onToggleDiscussion ? discussionCallbackModel.Result.length : currentCallbackModel.Result.length))" [searchQuery]="query" [suggestion]="currentCallbackModel.Suggestions[0]" [type]="type"></app-result>

<div *ngIf="!isResponseLoading() && !onToggleAnalytics && !onToggleDiscussion" @fadeInDashboardItem>
  <app-dashboard-results-general-grid @fadeInDashboardItem [query]="currentQuery" [searchResults]="currentSearchResults" [type]="type"></app-dashboard-results-general-grid>
</div>

<div *ngIf="!isResponseLoading() && onToggleDiscussion" @fadeInDashboardItem>
  <app-dashboard-result-chat @fadeInDashboardItem [searchResults]="discussionCallbackModel.Result"></app-dashboard-result-chat>
</div>


<div *ngIf="!onToggleDiscussion && !onToggleAnalytics && !isResponseLoading() && currentResultCount > 0" @fadeInDashboardItem class="pagination-margin">
  <app-pagination (pageChange)="onPageChange($event)" [currentPage]="currentParamModel.page" [maxPages]="Math.floor(currentCallbackModel.Page_Count)"></app-pagination>
</div>
