.search__result-detail-section-content{
  padding: 10px 15px 5px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search__result-detail-section-content .row {
  padding: 10px 0;
}

.search__result-detail-section-content .grid-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  padding-left: 6px;
  margin: 0;
}

.search__result-detail-section-content .border-bottom-background{
  border-color: #ffffff15 !important;
  padding-left: 30px;
  padding-right: 30px;
}

.search__result-detail-section-content li {
  padding: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
}

.item-number {
  font-weight: bold;
  margin-right: 5px;
  color: #fff;
}
