<form #searchForm="ngForm" (submit)="onSearchSubmit($event)" action="" class="default-input-container" enctype="multipart/form-data" method="GET">
  <div class="row dashboard__api-search-input-div">
    <div class="col-lg-5 col-12 input-container">
      <div class="input-group default-input-sub-container">
        <div class="btn btn-primary default-input-button default-input-button-light">
          <img alt="Search" height="20" ngSrc="../../../../../../assets/images/shared/user1.svg" priority width="20">
        </div>
        <input [(ngModel)]="username" autocapitalize="none" autocomplete="off" class="form-control default-input" maxlength="150" name="username" placeholder="Username" type="text"> <input type="hidden" value="1"> <span class="input-group-text"></span>
      </div>
    </div>

    <div class="col-lg-5 col-12 mt-lg-0 mt-2 input-container">
      <div class="input-group default-input-sub-container ">
        <div class="btn btn-primary default-input-button default-input-button-light">
          <img alt="Search" height="20" ngSrc="../../../../../../assets/images/shared/email.svg" priority width="20">
        </div>
        <input [(ngModel)]="email" autocapitalize="none" autocomplete="off" class="form-control default-input " email maxlength="150" name="email" placeholder="Email" type="email"> <input type="hidden" value="1"> <span class="input-group-text"></span>
      </div>
    </div>

    <div class="col-2 mt-lg-0 mt-2">
      <button [disabled]="!searchForm.valid" class="dash-search-button">Search</button>
    </div>
  </div>
</form>

<div class="search__result-detail">
  <div class="dashboard__defacement-detail-header-url dashboard-header-header">
    {{ breachData?.m_url }}
  </div>
  <hr class="dashboard-header-divider" />
  <div class="dashboard__defacement-detail-header-items mb-1 dashboard-header-label">
    Content Type:
  </div>
  <span class="text-white">stolen</span>

  <div class="dashboard__defacement-detail-header-items mt-4 mb-1 dashboard-header-label">
    Username:
  </div>
  <span class="text-white">{{ username }}</span>

  <div class="dashboard__defacement-detail-header-items mt-4 mb-1 dashboard-header-label">
    Email Address:
  </div>
  <span class="text-white">{{ email && email.trim() !== '' ? email : 'not found' }}</span>

  <div class="dashboard__defacement-detail-header-items mt-4 mb-2 dashboard-header-label">
    Breaches:
  </div>
  <span *ngFor="let item of breachData?.m_dumplink" class="badge-red">{{ item }}</span><
</div>

<div *ngIf="loading" @fadeInDashboardItem>
  <app-loading-form></app-loading-form>
</div>

<div *ngIf="query_triggered && !loading && this.emailCallbackbackModel.cards_data.length==0 " @fadeInDashboardItem>
  <app-empty-result></app-empty-result>
</div>
<div *ngIf="!query_triggered && !loading && this.emailCallbackbackModel.cards_data.length==0 " @fadeInDashboardItem>
  <app-empty-query></app-empty-query>
</div>
